.page-item .page-link,
.page-item span {
    font-size: 0.775rem;
    display: flex;
    /* width: 70px !important; */
    height: 36px;
    margin: inherit !important;
    padding: inherit !important;
    border-radius: inherit !important;
    align-items: center;
    justify-content: center;
}
label.error {
    margin: 5px 0px 0px 0px;
    color: red;
    font-style: italic;
}
input.error,
textarea.error,
select.error {
    border: 1px solid red !important;
}

.table-bottom-scrollbarbar,
.table-top-scrollbar {
    /* max-width: 200px; */
    overflow-x: scroll;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 11px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(230 230 230 / 28%);
}
::-webkit-scrollbar-thumb {
    background: #991032;
    border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
    background: #5e72e4;
}

.hide {
    display: none !important;
}

.timeline-content {
    border-left: 2px solid #8191e9;
}

.history_log ul,
.history_log li {
    list-style: none;
    padding: 0;
}
.history_log .container {
    /* background: linear-gradient(45deg, #209cff, #68e0cf); */
    padding: 0;
}
.history_log .wrapper {
    /* background: #eaf6ff; */
    padding: 1rem 0.5rem;
    border-radius: 15px;
}
.history_log .sessions {
    /* margin-top: 1.5rem; */
    border-radius: 12px;
    position: relative;
}
.history_log li {
    padding-bottom: 2rem;
    border-left: 1px solid #abaaed;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}
.history_log li:last-child {
    /* border: 0px; */
    /* padding-bottom: 0; */
}
.history_log li:before {
    content: "";
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}
.history_log .time {
    color: #2a2839;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}
.history_log p {
    color: #4f4f4f;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 0.4rem;
}

.badge-violet {
    color: #5c5cee;
    background-color: #e9e9ff;
}

table.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
}
.break_word {
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
}
.width_150 {
    min-width: 150px;
}
.width_250 {
    min-width: 250px;
}
.btn-xs {
    padding: 0.6rem 0.4rem;
    font-size: 0.775rem;
    line-height: 0.1;
    border-radius: 1rem;
}

.select2-selection__arrow{
    display:block;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 10px 7px 0 7px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 7px 15px 7px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 29px;
    right: 12px;
}

.g-sidenav-pinned .sidenav{
    max-width: 150px !important;
}
@media (min-width: 1200px)
{
    .g-sidenav-pinned .sidenav.fixed-left + .main-content {
        margin-left: 150px;
    }
}