body { background-color: #e7eaee;}
.cout_warp{padding-bottom:20px;}
/* 数据统计 */
.event_statistics{background-color: #fff; margin-top: 5px;}
.event_statistics_contain{padding: 10px 10px 30px 10px;}
.event_statistics_contain_title ul{width: 100%; text-align: center; display: inline-block;}
.event_statistics_contain_title_left{float: left; width: 40%; font-size: 14px;}
.event_statistics_contain_title_left>div{float: left;}
.event_statistics_contain_title_center{float: left; width: 20%; color: #898989; font-size: 11px;}
.event_statistics_contain_title_right{float: left; width: 40%; font-size: 14px;}
.event_statistics_contain_title_right>div{float: right;}

.point_item{border-bottom: 1px solid #eee; margin: 0 18px 6px 18px;height:20px;}
.point_item ul{width: 100%; text-align: center; display: inline-block; position: relative; top: 75%;}
.point_item_left{float: left; width: 10%; font-size: 14px;}
.left_point{float: left;}
.left_point>div{width: 8px; height: 8px; border-radius: 8px;}
.point_item_center{float: left; width: 80%; color: #898989; font-size: 11px; position: relative; bottom: 3px;}
.point_event_text{background-color: #fff; padding: 0 8px;}
.point_item_right{float: left; width: 10%; font-size: 14px;}
.right_point{float: right;}
.right_point>div{width: 8px; height: 8px; border-radius: 8px;}

.red{background-color: #ff6463;}
.bule{background-color: #269eec;}
.gray{background-color: #eee;}

.circle_item{border-bottom: 1px solid #eee; margin-bottom: 15px;}
.circle_item ul{width: 100%; text-align: center; display: inline-block; position: relative; top: 30px;}
.circle_item_left{float: left; width: 35%; font-size: 14px;}
.left_circle{float: left;}
.left_circle>div{width: 45px; height: 50px;}
.circle_event_text{background-color: #fff; padding: 0 8px; position: relative; top: 6px;white-space:nowrap;display: block;overflow: hidden;  text-overflow: ellipsis;}
.circle_item_center{float: left; width: 30%; color: #898989; font-size: 11px; position: relative; top: 12px;}
.circle_item_right{float: left; width: 35%; font-size: 14px;}
.right_circle{float: right;}
.right_circle>div{width: 45px; height: 50px;}

/* 入球统计 */
.goal_statistics{background-color: #fff; margin-top: 5px;padding-bottom:20px;}
.goal_statistics_title{border-bottom: 1px solid #eee; padding: 10px;}
.goal_statistics_content{padding: 10px;}

.goal_part_title{font-size: 12px; text-align: center;}
.time_count {padding: 5px 0px 10px 0px;}
.time_count ul {padding:0 30px;display: block;}
.time_count ul li { height: 9px; display: -webkit-box; display: -moz-box; display: -o-box; display: -ms-box; display: box;margin-bottom:10px; }
.time_count ul li { display: block; -webkit-box-flex: 1; -moz-box-flex: 1; -o-box-flex: 1; -ms-box-flex: 1; box-flex: 1;font-size:0;}
.time_count ul li i.right{text-align:left; width:100%; z-index: 99;}
.time_count ul li i.left{text-align:right; width:50%; z-index: 100;}
.time_count ul li i { display: inline-block; height: 2px;vertical-align:top;position: relative; float: left;}
.time_count ul li i div {display:inline-block;position:absolute;top:0;white-space:nowrap;padding: 0px 5px;font-size: 10px;}
.time_count ul li i.left { background-color: #ff6463; }
.time_count ul li i.right { background-color: #269eec; }
.time_count ul li i div.left_goal_number{background-color: #ff6463; width: 30px; height: 30px; border-radius: 30px; color: #fff; line-height: 30px; text-align: center; left:-30px; top: -15px;}
.time_count ul li i div.right_goal_number{background-color: #269eec; width: 30px; height: 30px; border-radius: 30px; color: #fff; line-height: 30px; text-align: center; position: relative; top: -15px; left: 30px; float: right;}
.time_count ul p{display:block;font-size:10px;width:100%;text-align:center;font-weight:normal; margin-bottom: 5px;}
.outcome_statistics ul{width: 100%; display: inline-block;}
.outcome_statistics ul li{float: left; width: 50%; text-align: center;}
.gray_circle{background-color: #cbd2d8; width: 80px; height: 80px; border-radius: 80px; font-size: 12px;margin:0 auto;}
.percent_left{position: relative; top: 25px; left: 43px; z-index: 1000; text-align: left;}
.percent_right{position: relative; top: 25px; left: 43px; z-index: 1000; text-align: left;}
.left_hightchart{width: 80px; height: 80px; position: relative; bottom: 5px; z-index: 999;}
.right_hightchart{width: 80px; height: 80px; position: relative; bottom: 5px; z-index: 999;}
.outcome_statistics_text_left{padding-top: 5px; text-align: center; font-size: 12px;}
.outcome_statistics_text_left span{color: #ff6463;}
.outcome_statistics_text_right{padding-top: 5px; text-align: center; font-size: 12px;}
.outcome_statistics_text_right span{color: #269eec;}

@media screen and (min-width: 374px) and (max-width: 479px) {

	.cout_warp{padding-bottom:24px;}
	/* 数据统计 */
	.event_statistics{ margin-top: 6px;}
	.event_statistics_contain{padding: 12px 12px 36px 12px;}
	.event_statistics_contain_title_left{  font-size: 16px;}
	.event_statistics_contain_title_center{   font-size: 14px;}
	.event_statistics_contain_title_right{  font-size: 16px;}

	.point_item{ margin: 0 22px 7px 22px;height: 24px;}
	.point_item_left{  font-size: 16px;}
	.left_point>div{width: 10px; height: 10px; border-radius: 10px;}
	.point_item_center{   font-size: 14px;  bottom: 4px;}
	.point_event_text{ padding: 0 10px;}
	.point_item_right{  font-size: 16px;}
	.right_point>div{width: 10px; height: 10px; border-radius: 10px;}

	.circle_item{ margin-bottom: 18px;}
	.circle_item ul{    top: 36px;}
	.circle_item_left{  font-size: 16px;}
	.left_circle>div{width: 54px; height: 60px;}
	.circle_event_text{ padding: 0 10px;  top: 8px;}
	.circle_item_center{   font-size: 14px;  top: 14px;}
	.circle_item_right{  font-size: 16px;}
	.right_circle>div{width: 54px; height: 60px;}

	/* 入球统计 */
	.goal_statistics{ margin-top: 6px;padding-bottom:24px;}
	.goal_statistics_title{ padding: 12px;}
	.goal_statistics_content{padding: 12px;}

	.goal_part_title{font-size: 14px; }
	.time_count {padding: 6px 0px 12px 0px;}
	.time_count ul {padding:0 36px;}
	.time_count ul li { height: 10px;     margin-bottom:12px; }
	.time_count ul li i {  height: 2px; }
	.time_count ul li i div {padding: 0px 6px;font-size: 12px;}
	.time_count ul li i div.left_goal_number{ width: 36px; height: 36px; border-radius: 36px;  line-height: 36px;  left:-36px; top: -18px;}
	.time_count ul li i div.right_goal_number{ width: 36px; height: 36px; border-radius: 36px;  line-height: 36px;   top: -18px; left: 36px; }
	.time_count ul p{font-size:12px; margin-bottom: 6px;}
	.gray_circle{ width: 96px; height: 96px; border-radius: 96px; font-size: 14px;}
	.percent_left{ top: 30px; left: 52px;  }
	.percent_right{ top: 30px; left: 52px;  }
	.left_hightchart{width: 96px; height: 96px;  bottom: 10px; }
	.right_hightchart{width: 96px; height: 96px;  bottom: 10px; }
	.outcome_statistics_text_left{padding-top: 6px;  font-size: 14px;}
	.outcome_statistics_text_right{padding-top: 6px;  font-size: 14px;}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
	
	.cout_warp{padding-bottom:30px;}
	/* 数据统计 */
	.event_statistics{ margin-top: 8px;}
	.event_statistics_contain{padding: 14px 14px 44px 14px;}
	.event_statistics_contain_title_left{  font-size: 20px;}
	.event_statistics_contain_title_center{   font-size: 16px;}
	.event_statistics_contain_title_right{  font-size: 20px;}

	.point_item{ margin: 0 26px 9px 26px; height:36px;}
	.point_item ul{    top: 26px;height: 12px;}
	.point_item_left{  font-size: 20px;}
	.left_point>div{width: 12px; height: 12px; border-radius: 12px;}
	.point_item_center{   font-size: 16px;  bottom: 4px;}
	.point_event_text{ padding: 0 12px;}
	.point_item_right{  font-size: 20px;}
	.right_point>div{width: 12px; height: 12px; border-radius: 12px;}

	.circle_item{ margin-bottom: 22px;}
	.circle_item ul{    top: 44px;}
	.circle_item_left{  font-size: 20px;}
	.left_circle>div{width: 68px; height: 74px;}
	.circle_event_text{ padding: 0 12px;  top: 8px;}
	.circle_item_center{   font-size: 16px;  top: 18px;}
	.circle_item_right{  font-size: 20px;}
	.right_circle>div{width: 68px; height: 74px;}

	/* 入球统计 */
	.goal_statistics{ margin-top: 8px;padding-bottom:30px;}
	.goal_statistics_title{ padding: 14px;}
	.goal_statistics_content{padding: 14px;}

	.goal_part_title{font-size: 18px; }
	.time_count {padding: 8px 0px 14px 0px;}
	.time_count ul {padding:0 44px;}
	.time_count ul li { height: 14px;     margin-bottom:14px; }
	.time_count ul li i {  height: 2px; }
	.time_count ul li i div {padding: 0px 8px;font-size: 14px;}
	.time_count ul li i div.left_goal_number{ width: 44px; height: 44px; border-radius: 44px;  line-height: 44px;  left:-44px; top: -22px;}
	.time_count ul li i div.right_goal_number{ width: 44px; height: 44px; border-radius: 44px;  line-height: 44px;   top: -22px; left: 44px; }
	.time_count ul p{font-size:14px; margin-bottom: 8px;}
	.gray_circle{ width: 120px; height: 120px; border-radius: 120px; font-size: 18px;}
	.percent_left{ top: 38px; left: 64px;  }
	.percent_right{ top: 38px; left: 64px;  }
	.left_hightchart{width: 120px; height: 120px;  bottom: 20px; }
	.right_hightchart{width: 120px; height: 120px;  bottom: 20px; }
	.outcome_statistics_text_left{padding-top: 8px;  font-size: 18px;}
	.outcome_statistics_text_right{padding-top: 8px;  font-size: 18px;}

}

@media screen and (min-width: 640px) {
	
	.cout_warp{padding-bottom:40px;}
	/* 数据统计 */
	.event_statistics{ margin-top: 10px;}
	.event_statistics_contain{padding: 20px 20px 60px 20px;}
	.event_statistics_contain_title_left{  font-size: 28px;}
	.event_statistics_contain_title_center{   font-size: 22px;}
	.event_statistics_contain_title_right{  font-size: 28px;}

	.point_item{ margin: 0 36px 10px 36px;height:44px;}
	.point_item ul{    top: 36px;height: 16px;}
	.point_item_left{  font-size: 28px;}
	.left_point>div{width: 16px; height: 16px; border-radius: 16px;}
	.point_item_center{   font-size: 22px;  bottom: 6px;}
	.point_event_text{ padding: 0 16px;}
	.point_item_right{  font-size: 28px;}
	.right_point>div{width: 16px; height: 16px; border-radius: 16px;}

	.circle_item{ margin-bottom: 30px;}
	.circle_item ul{    top: 60px;}
	.circle_item_left{  font-size: 28px;}
	.left_circle>div{width: 90px; height: 100px;}
	.circle_event_text{ padding: 0 16px;  top: 12px;}
	.circle_item_center{   font-size: 22px;  top: 24px;}
	.circle_item_right{  font-size: 28px;}
	.right_circle>div{width: 90px; height: 100px;}

	/* 入球统计 */
	.goal_statistics{ margin-top: 10px;padding-bottom:40px;}
	.goal_statistics_title{ padding: 20px;}
	.goal_statistics_content{padding: 20px;}

	.goal_part_title{font-size: 24px; }
	.time_count {padding: 10px 0px 20px 0px;}
	.time_count ul {padding:0 60px;}
	.time_count ul li { height: 18px;     margin-bottom:20px; }
	.time_count ul li i {  height: 4px; }
	.time_count ul li i div {padding: 0px 10px;font-size: 20px;}
	.time_count ul li i div.left_goal_number{ width: 60px; height: 60px; border-radius: 60px;  line-height: 60px;  left:-60px; top: -30px;}
	.time_count ul li i div.right_goal_number{ width: 60px; height: 60px; border-radius: 60px;  line-height: 60px;   top: -30px; left: 60px; }
	.time_count ul p{font-size:20px; margin-bottom: 10px;}
	.gray_circle{ width: 160px; height: 160px; border-radius: 160px; font-size: 24px;}
	.percent_left{ top: 50px; left: 86px;  }
	.percent_right{ top: 50px; left: 86px;  }
	.left_hightchart{width: 160px; height: 160px;  bottom: 34px; }
	.right_hightchart{width: 160px; height: 160px;  bottom: 34px; }
	.outcome_statistics_text_left{padding-top: 10px;  font-size: 24px;}
	.outcome_statistics_text_right{padding-top: 10px;  font-size: 24px;}

}



/* 解决iphone横屏时字体变大问题或者内容大小不一样 */
@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}