.field_condition_contain p,.play_bill_contain span{margin-right:16px;line-height:20px}
.live{padding-bottom:20px;background-color:#e7eaee;}
.goal_situation{padding:5px}
.live_left_content_text,.live_right_content_text{margin-bottom:5px;padding:8px;min-height:44px;font-size:12px;display:inline-block}
.goal_situation_list{width:100%;display:inline-block}
.goal_situation_list li{width:50%;border-right:1px solid #c9d4e2;position:relative}
.goal_situation_list li div.live_right{transform:translate(100%,0);-moz-transform:translate(100%,0);-webkit-transform:translate(100%,0);-o-transform:translate(100%,0);-ms-transform:translate(100%,0)}
.game_clock{height:50px}
.white_border{background-color:#fff;width:20px;height:20px;border-radius:20px;float:right;position:relative;left:10px}
.clock_img{width:10px;position:relative;left:5px;top:2px}
.live_left{width:100%;display:inline-block}
.live_left_content_text{float:left;background-color:#fff;border-radius:2px;width:85%}
.live_left_content_arrow{float:left;width:5px;position:relative;top:4px}
.live_left_content_event{position:absolute;top:0;right:-13px}
.live_left_white_border{background-color:#fff;width:20px;height:20px;border-radius:20px;position:relative;left:3px;top:3px}
.event_img{background:url(/static/images/webapp/m/g_data/event_icon.png?2016071302) no-repeat;background-size:60px 48px;width:12px;height:12px;position:relative;top:4px;left:4px}
.event_yellow{background-position:0 0}
.event_red{background-position:-12px 0}
.event_dismissal{background-position:-24px 0}
.event_corner{background-position:-36px 0}
.event_offside{background-position:-48px 0}
.event_sub{background-position:0 -12px}
.event_miss{background-position:-12px -12px}
.event_freekick{background-position:-24px -12px}
.event_steal_h{background-position:-36px -12px}
.event_steal_a{background-position:-48px -12px}
.event_head{background-position:0 -24px}
.event_own{background-position:-12px -24px}
.event_goal{background-position:-24px -24px}
.event_save{background-position:-36px -24px}
.event_penalty_goal{background-position:-24px -36px}
.event_penalty_miss{background-position:-48px -24px}
.event_penalty_h{background-position:0 -36px}
.event_penalty_a{background-position:-12px -36px}
.live_left_content_penalty_team_name,.live_left_content_text_team_name{float:left;width:50%}
.live_left_content_penalty_begin,.live_left_content_text_time{float:right;width:25%;color:#009b59;text-align:right;font-weight:400}
.live_left_content_penalty_begin{width:50%}
.live_left_content_text_event{float:left;width:75%;color:#898989}
.live_left_content_text_score{float:right;width:25%;color:#b10000;text-align:right;font-weight:700}
.live_right{width:100%;display:inline-block;transform:translate(100%,0);-moz-transform:translate(100%,0);-webkit-transform:translate(100%,0);-o-transform:translate(100%,0);-ms-transform:translate(100%,0)}
.live_right_content_text{float:right;background-color:#fff;border-radius:2px;width:85%}
.live_right_content_text p{width:100%;display:inline-block}
.live_right_content_arrow{float:right;width:5px;position:relative;top:4px;text-align:right}
.live_right_content_event{position:absolute;top:0;right:-13px}
.gray_border{background-color:#e7eaee;width:26px;height:26px;border-radius:26px}
.live_right_white_border{background-color:#fff;width:20px;height:20px;border-radius:20px;position:relative;left:3px;top:3px}
.live_right_content_text_team_name{float:right;width:70%}
.live_right_content_penalty_team_name{float:right;width:50%}
.live_right_content_penalty_begin,.live_right_content_text_time{float:left;width:30%;color:#009b59;font-weight:400}
.live_right_content_penalty_begin{width:50%}
.live_right_content_text_event{float:right;width:70%;color:#898989}
.live_right_content_text_score{float:left;width:30%;color:#b10000;font-weight:700}
.gray_point{background-color:#c9d4e2;width:6px;height:6px;border-radius:6px;position:absolute;right:-3px}
.field_condition,.play_bill{background-color:#fff;margin-bottom:5px}
.game_start{color:#898989;text-align:center;font-size:12px;padding:10px 0}
.play_bill_title{border-bottom:1px solid #e7eaee;padding:8px 8px 8px 16px;font-size:12px}
.play_bill_contain{font-size:12px;padding:8px 0 8px 16px}
.play_bill_contain span{display:inline-block;white-space:nowrap}
.field_condition_title{border-bottom:1px solid #e7eaee;padding:8px 8px 8px 16px;font-size:12px}
.field_condition_contain{font-size:12px;padding:8px 0 8px 16px}
.field_condition_contain td{padding:2px 0}
.field_condition_contain p span:first-child{width:60px;text-align:right;display:inline-block}
.field_condition_contain table tr td:first-child{width:25%;text-align:left}
.field_condition_contain table tr td:last-child{width:75%}
.live_penalty .live_left_content_text_score,.live_penalty .live_right_content_text_score{color:#6952d5}

/*新加查看推介按钮*/
.recommend_div{overflow: hidden;background: #e6eaed;position: relative;z-index: 500}
.recommend_div .r_btn{display: block;background:#db3a3a;height: 32px;margin: 6px;background-image: url('/static/images/webapp/m/expert/recomend_icon.png');background-repeat: no-repeat;background-size: 20px auto;background-position: 6px center}
.recommend_div .r_btn span{font-size: 12px;line-height: 32px;color:#fff;}
.recommend_div .r_btn span.rb_left{color: #ffd793;padding-left: 36px}
.recommend_div .r_btn span.rb_right{float: right;position: relative;padding-right: 6px;margin-right: 10px}
.recommend_div .r_btn span.rb_right:after{content: '';position: absolute;display: block;top: 15px;right: 0;width: 4px;height: 4px;border-top: 1px solid #fff;border-right: 1px solid #fff;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);-ms-transform: rotate(45deg);}

@media screen and (min-width:374px) and (max-width:479px){
	.live_left_content_event,.live_right_content_event{right:-16px}
	.field_condition_contain p,.play_bill_contain span{margin-right:20px;line-height:24px}
	.goal_situation{padding:6px}
	.live_left_content_text,.live_right_content_text{padding:10px;min-height:52px;font-size:14px;margin-bottom:6px}
	.game_clock{height:60px}
	.white_border{width:24px;height:24px;border-radius:24px;left:12px}
	.clock_img{width:12px;left:6px;top:2px}
	.live_left_content_text{border-radius:2px}
	.live_left_content_arrow{width:6px;top:4px}
	.live_left_white_border{width:24px;height:24px;border-radius:24px;left:4px;top:4px}
	.event_img{background-size:70px 56px;width:14px;height:14px;top:5px;left:4px}
	.event_red{background-position:-14px 0}
	.event_dismissal{background-position:-28px 0}
	.event_corner{background-position:-44px 0}
	.event_offside{background-position:-58px 0}
	.event_sub{background-position:0 -14px}
	.event_miss{background-position:-14px -14px}
	.event_freekick{background-position:-28px -14px}
	.event_steal_h{background-position:-44px -14px}
	.event_steal_a{background-position:-58px -14px}
	.event_head{background-position:0 -28px}
	.event_own{background-position:-14px -28px}
	.event_goal{background-position:-28px -28px}
	.event_save{background-position:-44px -28px}
	.event_penalty_goal{background-position:-28px -42px}
	.event_penalty_miss{background-position:-56px -28px}
	.event_penalty_h{background-position:0 -42px}
	.event_penalty_a{background-position:-12px -42px}
	.live_right_content_text{border-radius:2px}
	.live_right_content_arrow{width:6px;top:4px}
	.gray_border{width:32px;height:32px;border-radius:32px}
	.live_right_white_border{width:24px;height:24px;border-radius:24px;left:4px;top:4px}
	.gray_point{width:8px;height:8px;border-radius:8px;right:-4px}
	.game_start{font-size:14px;padding:12px 0}
	.play_bill{margin-bottom:6px}
	.play_bill_title{padding:10px 10px 10px 20px;font-size:14px}
	.play_bill_contain{font-size:12px;padding:10px 0 10px 20px}
	.field_condition{margin-bottom:6px}
	.field_condition_title{padding:10px 10px 10px 20px;font-size:14px}
	.field_condition_contain{font-size:12px;padding:10px 0 10px 20px}
	.field_condition_contain p span:first-child{width:72px}

	/*新加查看推介按钮*/
	.recommend_div .r_btn{height: 38px;margin: 8px;background-size: 24px auto;background-position: 8px center;}
	.recommend_div .r_btn span{font-size: 14px;line-height: 38px;}
	.recommend_div .r_btn span.rb_left{padding-left: 44px;}
	.recommend_div .r_btn span.rb_right{padding-right: 8px;margin-right: 12px;}
	.recommend_div .r_btn span.rb_right:after{top: 18px;width: 4px;height: 4px;}
}

@media screen and (min-width:480px) and (max-width:639px){
	.live_left_content_event,.live_right_content_event{right:-20px}
	.field_condition_contain p,.play_bill_contain span{margin-right:24px;line-height:30px}
	.goal_situation{padding:8px}
	.live_left_content_text,.live_right_content_text{padding:12px;min-height:66px;font-size:18px;margin-bottom:8px}
	.game_clock{height:74px}.white_border{width:30px;height:30px;border-radius:30px;left:14px}
	.clock_img{width:14px;left:8px;top:2px}
	.live_left_content_text{border-radius:2px}
	.live_left_content_arrow{width:8px;top:6px}
	.live_left_white_border{width:30px;height:30px;border-radius:30px;left:4px;top:4px}
	.event_img{background-size:90px 72px;width:18px;height:18px;top:6px;left:6px}
	.event_red{background-position:-18px 0}
	.event_dismissal{background-position:-36px 0}
	.event_corner{background-position:-54px 0}
	.event_offside{background-position:-72px 0}
	.event_sub{background-position:0 -18px}
	.event_miss{background-position:-18px -18px}
	.event_freekick{background-position:-36px -18px}
	.event_steal_h{background-position:-54px -18px}
	.event_steal_a{background-position:-72px -18px}
	.event_head{background-position:0 -36px}
	.event_own{background-position:-18px -36px}
	.event_goal{background-position:-36px -36px}
	.event_save{background-position:-54px -36px}
	.event_penalty_goal{background-position:-36px -54px}
	.event_penalty_miss{background-position:-72px -36px}
	.event_penalty_h{background-position:0 -54px}
	.event_penalty_a{background-position:-18px -54px}
	.live_right_content_text{border-radius:2px}
	.live_right_content_arrow{width:8px;top:6px}
	.gray_border{width:38px;height:38px;border-radius:38px}
	.live_right_white_border{width:30px;height:30px;border-radius:30px;left:4px;top:4px}
	.gray_point{width:8px;height:8px;border-radius:8px;right:-4px}
	.game_start{font-size:18px;padding:14px 0}
	.play_bill{margin-bottom:8px}
	.play_bill_title{padding:12px 12px 12px 24px;font-size:18px}
	.play_bill_contain{font-size:14px;padding:12px 0 12px 24px}
	.field_condition{margin-bottom:8px}
	.field_condition_title{padding:12px 12px 12px 24px;font-size:18px}
	.field_condition_contain{font-size:14px;padding:12px 0 12px 24px}
	.field_condition_contain p span:first-child{width:90px}

	/*新加查看推介按钮*/
	.recommend_div .r_btn{height: 48px;margin: 8px;background-size: 30px auto;background-position: 8px center;}
	.recommend_div .r_btn span{font-size: 18px;line-height: 48px;}
	.recommend_div .r_btn span.rb_left{padding-left: 54px;}
	.recommend_div .r_btn span.rb_right{padding-right: 8px;margin-right: 14px;}
	.recommend_div .r_btn span.rb_right:after{top: 22px;width: 6px;height: 6px;}
}

@media screen and (min-width:640px){
	.live_left_content_event,.live_right_content_event{right:-26px}
	.field_condition_contain p,.play_bill_contain span{margin-right:32px;line-height:40px}
	.goal_situation{padding:10px}
	.live_left_content_text,.live_right_content_text{padding:16px;min-height:88px;font-size:24px;margin-bottom:10px}
	.game_clock{height:100px}
	.white_border{width:40px;height:40px;border-radius:40px;left:20px}
	.clock_img{width:20px;left:10px;top:4px}
	.live_left_content_text{border-radius:4px}
	.live_left_content_arrow{width:10px;top:8px}
	.live_left_white_border{width:40px;height:40px;border-radius:40px;left:6px;top:6px}
	.event_img{background-size:120px 96px;width:24px;height:24px;top:8px;left:8px}
	.event_red{background-position:-24px 0}
	.event_dismissal{background-position:-48px 0}
	.event_corner{background-position:-72px 0}
	.event_offside{background-position:-96px 0}
	.event_sub{background-position:0 -24px}
	.event_miss{background-position:-24px -24px}
	.event_freekick{background-position:-48px -24px}
	.event_steal_h{background-position:-72px -24px}
	.event_steal_a{background-position:-96px -24px}
	.event_head{background-position:0 -48px}
	.event_own{background-position:-24px -48px}
	.event_goal{background-position:-48px -48px}
	.event_save{background-position:-72px -48px}
	.event_penalty_goal{background-position:-48px -72px}
	.event_penalty_miss{background-position:-96px -48px}
	.event_penalty_h{background-position:0 -72px}
	.event_penalty_a{background-position:-24px -72px}
	.live_right_content_text{border-radius:4px}
	.live_right_content_arrow{width:10px;top:8px}
	.gray_border{width:52px;height:52px;border-radius:52px}
	.live_right_white_border{width:40px;height:40px;border-radius:40px;left:6px;top:6px}
	.gray_point{width:12px;height:12px;border-radius:12px;right:-6px}
	.game_start{font-size:24px;padding:20px 0}
	.play_bill{margin-bottom:10px}
	.play_bill_title{padding:16px 16px 16px 32px;font-size:24px}
	.play_bill_contain{font-size:20px;padding:16px 0 16px 32px}
	.field_condition{margin-bottom:10px}
	.field_condition_title{padding:16px 16px 16px 32px;font-size:24px}
	.field_condition_contain{font-size:20px;padding:16px 0 16px 32px}
	.field_condition_contain p span:first-child{width:120px}

	/*新加查看推介按钮*/
	.recommend_div .r_btn{height: 64px;margin: 12px;background-size: 40px auto;background-position: 12px center;}
	.recommend_div .r_btn span{font-size: 24px;line-height: 64px;}
	.recommend_div .r_btn span.rb_left{padding-left: 72px;}
	.recommend_div .r_btn span.rb_right{padding-right: 12px;margin-right: 20px;}
	.recommend_div .r_btn span.rb_right:after{top: 30px;width: 8px;height: 8px;}
}

@media screen and (max-device-width:320px){
	body{-webkit-text-size-adjust:none}
}

@media screen and (max-device-width:480px){
	body{-webkit-text-size-adjust:none}
}

@media only screen and (-webkit-min-device-pixel-ratio:2){
	body{-webkit-text-size-adjust:none}
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px){
	body{-webkit-text-size-adjust:none}
}