
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, form, fieldset, input, textarea, p, blockquoteth, td { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; font-weight: normal; }
ul, ol { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
object, input, textarea { outline: none; }

fieldset, img { border: 0; }
address, caption, cite, code, dfn, strong, th, var { font-style: normal; font-weight: normal; }
em{font-style: normal;}
i { font-style: normal; }
ol, ul { list-style: none; }
capation, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }

/* 以下样式根据不同的网站可能需要改写 */
html{font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;}
body { background-color: #fff; /*overflow:hidden;height:100%;*/ }
textarea { font-family: Courier New,sans-serif; font-size: 13px; }
i { font-style: normal; }
a { text-decoration: none; color: #222; }
/*a:visited {color:#000;}*/
a:hover { /*text-decoration: underline;*/ text-decoration: none; /*color:#000;*/ }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }
/*placeholder的设置*/
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }
 
/*初始化搜索input*/
 input[type=search]::-webkit-search-cancel-button { outline: none; }
 input[type=search]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*字体排版*/
.f1 { font-size: 1px; }
.fb { font-weight: bold; }
.fn { font-weight: normal; }
.lh1 { line-height: 1%; }
.lh150 { line-height: 150%; }
.lh180 { line-height: 180%; }
.lh200 { line-height: 200%; }
/*定位*/
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.bc { margin-left: auto; margin-right: auto; }
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.cl { clear: left; }
.cr { clear: right; } 
/*如果一个块级对象内部包含浮动对象，应该给该块级对象使用clearfix*/
.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
*html .clearfix { height: 1%; }
.clearfix { display: block; }
.va-c { vertical-align: center; }
.pr { position: relative; }
.pa { position: absolute; }
.abs-right { position: absolute; right: 0; }
.zoom { zoom: 1; }
.hidden { visibility: hidden; }
.none { display: none; }
/*长度高度*/
.w10 { width: 10px; }
.w { width: 100%; }
.h { height: 100%; }
.h10 { height: 10px; overflow: hidden; } 
/*边距*/ 
.m5{margin:5px;}
.m10{margin:10px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt120{margin-top:120px;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb25{margin-top:25px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.pa0{padding:0px;}
.pa5{padding:5px;}
.pa10{padding:10px;}
.pa20{padding:20px;}
.pa30{padding:30px;}
.patb10{padding:10px 0;}
.pab30{padding-bottom:30px;}
.pab100{padding-bottom:100px;} 
html {   min-width: 320px; /*overflow:hidden;*/ }
 
/*底部共用*/
.footTabBox{position: fixed;width: 100%;left: 0;bottom: 0;border-top: 1px solid #dddddd;z-index: 300}
.footTabBox ul{display:flex;font-size: 0;background:#fff;}
.footTabBox ul li{flex:1;}
.footTabBox ul li a{display: block;height: 50px;line-height: 80px;font-size: 12px;color:#777777;font-weight: bold;text-align: center;position: relative;}
.footTabBox ul li a span{position: absolute;color:#999999;display: block;font-size:22px;width: 32px;height: 24px;top: 4px;left: 50%;margin-left: -16px;background-repeat: no-repeat;background-position: center center;background-size:auto 24px;}
.footTabBox ul li.on a{color:#222222;}
.footTabBox ul li.on a span{color:#b12346;}
.footTabBox ul li.on a span.tab_live{margin-left: -18px}
.footTabBox ul li.on a span.tab_report{margin-left: -18px}
.footTabBox ul li.on a span.tab_mine{margin-left: -12px}
.footTabBox ul.col2 li{display: inline-block;width: 50%;}
.footTabBox ul.col3 li{display: inline-block;width: 33.3%;}
.footTabBox ul.col4 li{display: inline-block;width: 25%;}
.footTabBox ul.col5 li{display: inline-block;width: 20%;}

/*加载中,暂无数据*/
.g_loadingBox{text-align: center;padding: 40px 0 60px}
.g_loadingBox img{width: 150px}
.g_loadingBox img.load{width: 50px}
.g_loadingBox p{font-size: 12px;color:#7a8091;padding-top: 10px}


/*淡入淡出*/
@keyframes fadeIn {
    0% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}
/* 公共提示黑层 */
.fadeIn { -webkit-animation-name: fadeIn; -moz-animation-name: fadeIn; -ms-animation-name: fadeIn; -o-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-duration: 5s; -moz-animation-duration: 5s; -ms-animation-duration: 5s; -o-animation-duration: 5s; animation-duration: 5s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -ms-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; }
.hintBox{  position: fixed; top: 0; left: 0; z-index: 800;width:100%;height: 100%;text-align:center;}
.hintBox p {position: absolute;top:50%;left: 50%;display:inline-block;vertical-align:top; font-size: 16px;  line-height: 24px; color: #ffffff; padding: 10px 14px; border-radius: 4px;max-width:70%; background: rgba(0,0,0,0.6); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
.hintBox p i{color:#fee300;}

/*happy*/
.the_happy{width: 100%;}

#lang_en{font-family: 'Tahoma',"Microsoft YaHei";}
#lang_kr{font-family: 'Tahoma',"Microsoft YaHei";}
#lang_th{font-family: 'Tahoma',"Microsoft YaHei";}
#lang_vn{font-family: 'Arial',"Microsoft YaHei";}
#lang_jp{font-family: 'Tahoma',"Microsoft YaHei";}
#lang_fr{font-family: 'Tahoma',"Microsoft YaHei";}
#lang_es{font-family: 'Tahoma',"Microsoft YaHei";}
#lang_id{font-family: 'Tahoma',"Microsoft YaHei";}

@media screen and (min-width: 374px) and (max-width: 479px) {

    .footTabBox ul li a{height: 60px;line-height: 96px;font-size: 14px;}
    .footTabBox ul li a span{font-size:26px;width: 38px;height: 28px;top: 4px;margin-left: -20px;background-size:auto 28px;}
    .footTabBox ul li.on a span.tab_live{margin-left: -22px;}
    .footTabBox ul li.on a span.tab_report{margin-left: -22px;}
    .footTabBox ul li.on a span.tab_mine{margin-left: -14px;}

    /*加载中,暂无数据*/
    .g_loadingBox{padding: 48px 0 72px;}
    .g_loadingBox img{width: 180px;}
    .g_loadingBox img.load{width: 60px;}
    .g_loadingBox p{font-size: 14px;padding-top: 12px;}

}

@media screen and (min-width: 480px) and (max-width: 639px) {

    .footTabBox ul li a{height: 74px;line-height: 120px;font-size: 18px;}
    .footTabBox ul li a span{font-size:32px;width: 48px;height: 36px;top: 6px;margin-left: -24px;background-size:auto 36px;}
    .footTabBox ul li.on a span.tab_live{margin-left: -26px;}
    .footTabBox ul li.on a span.tab_report{margin-left: -26px;}
    .footTabBox ul li.on a span.tab_mine{margin-left: -18px;}

    /*加载中,暂无数据*/
    .g_loadingBox{padding: 60px 0 90px;}
    .g_loadingBox img{width: 224px;}
    .g_loadingBox img.load{width: 74px;}
    .g_loadingBox p{font-size: 18px;padding-top: 14px;}

}

@media screen and (min-width: 640px) {

    .footTabBox ul li a{height: 100px;line-height: 160px;font-size: 24px;}
    .footTabBox ul li a span{font-size:44px;width: 64px;height: 48px;top: 8px;margin-left: -32px;background-size:auto 48px;}
    .footTabBox ul li.on a span.tab_live{margin-left: -36px;}
    .footTabBox ul li.on a span.tab_report{margin-left: -36px;}
    .footTabBox ul li.on a span.tab_mine{margin-left: -24px;}

    /*加载中,暂无数据*/
    .g_loadingBox{padding: 80px 0 120px;}
    .g_loadingBox img{width: 300px;}
    .g_loadingBox img.load{width: 100px;}
    .g_loadingBox p{font-size: 24px;padding-top: 20px;}

}