﻿/**
 * @author  :chenzejiang(email:820289461@qq.com)
 * @Blog    ://www.chenzejiang.com
 * @WeChat  :15913929100
 **/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, form, fieldset, input, textarea, p, blockquoteth, td { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; font-weight: normal; }
ul, ol { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
object, input, textarea { outline: none; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
i { font-style: normal; }
ol, ul { list-style: none; }
capation, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
/* 以下样式根据不同的网站可能需要改写 */
html { font-family: Tahoma,"黑体", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; height: 100%; }
body { background-color: #fff; /* height: 100%; */ }
textarea { font-family: Courier New,sans-serif; font-size: 13px; }
audio { width: 0; height: 0; display: none; }
i { font-style: normal; }
a { text-decoration: none; color: #000;}
/*a:visited {color:#000;}*/
a:hover { text-decoration: none; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/*placeholder的设置*/
input::-moz-placeholder, textarea::-moz-placeholder { color: #898989; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #898989; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #898989; }
/* 须改写样式结束*/

/*字体排版*/
.f1 { font-size: 1px; }
.fb { font-weight: bold; }
.fn { font-weight: normal; }
.lh1 { line-height: 1%; }
.lh150 { line-height: 150%; }
.lh180 { line-height: 180%; }
.lh200 { line-height: 200%; }
/*定位*/
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.bc { margin-left: auto; margin-right: auto; }
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.cl { clear: left; }
.cr { clear: right; }

/*如果一个块级对象内部包含浮动对象，应该给该块级对象使用clearfix*/
.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
*html .clearfix { height: 1%; }
.clearfix { display: block; }
.va-c { vertical-align: center; }
.pr { position: relative; }
.pa { position: absolute; }
.abs-right { position: absolute; right: 0; }
.zoom { zoom: 1; }
.hidden { visibility: hidden; }
.none { display: none !important; }

/*长度高度*/
.w10 { width: 10px; }
.w { width: 100%; }
.h { height: 100%; }
.h10 { height: 10px; overflow: hidden; }
html { -webkit-overflow-scrolling: touch; overflow-scrolling: touch; min-width: 320px; position: relative; /*overflow:hidden;*/ }

/* swiper 滚动基础 */
.swiper-container-vertical > .swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column;}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0px,0,0);-moz-transform:translate3d(0px,0,0);-o-transform:translate(0px,0px);-ms-transform:translate3d(0px,0,0);transform:translate3d(0px,0,0);}
.swiper-container-multirow > .swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-fles-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;}
.swiper-container-free-mode > .swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto;}
.swiper-slide{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;position:relative;}
#tabBox-t-box .swiper-wrapper{transition:all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;}

.body-down { padding-top: 56px; }
.body { padding-bottom: 50px; }
.body-down .nav_top{ top: 56px; }
.body .filter_div { padding: 72px 0 92px 0; }
.body .filter_foot { bottom:50px; }
.body .league { padding-bottom: 50px;}
.body-down .nav2 { top:100px; }
.body-down .filter_div .match_tab, 
.body-down .filter_div .company_tab{top: 100px}

/* 头部下载 */
.download-box {background: #f3f3f3;position: fixed;top:0;left: 0;width: 100%;z-index: 400;}
.download-box .d-box {overflow: hidden;padding:10px 0 10px 10px;height: 56px;display:-webkit-box;display:-moz-box;display:-o-box;display:-ms-box;display:box;}
.download-box .d-box .db-img {width:36px;height: 36px;margin-right: 10px;}
.download-box .d-box .db-img img {display: block;width:36px;height: 36px;}
.download-box .d-box .db-txt{ padding: 4px 0; -webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;box-flex:1; overflow: hidden;}
.download-box .d-box .db-txt p {color: #000000;font-size:10px;line-height: 14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.download-box .d-box .db-txt p:first-child { font-weight: bold; font-size: 12px;}
.download-box .d-box .db-btn{width:70px;margin:0 10px 0 6px;}
.download-box .d-box .db-btn a {display: block;width:70px;height: 28px;background: #157efb;color:#ffffff;text-align: center;font-size: 14px;line-height: 28px;margin: 4px auto;border-radius: 2px}
.download-box .d-box .close { display: block; width: 22px; height: 22px;  -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px; margin-top: 8px; overflow: hidden; text-indent: -999px; transform: rotate(45deg); -ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); position: relative; left: -4px;}
.download-box .d-box .close:after { content: ''; display: block; position: absolute; left: 50%; top: 50%; width: 50%; height: 0; border-top: 1px solid #666666; transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); }
.download-box .d-box .close:before { content: ''; display: block; position: absolute; left: 50%; top: 50%; height: 50%; width: 0; border-left: 1px solid #666666; transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); }
.download-box .swiper-pagination { position:absolute; z-index:20; bottom: 2px; left: 50%; -webkit-transform:translate(-50%,0); -moz-transform:translate(-50%,0); -ms-transform:translate(-50%,0); -o-transform:translate(-50%,0); transform:translate(-50%,0); }
.download-box .swiper-pagination-bullet { display: inline-block; width: 12px; height: 2px;  background: #cfcfd3; margin-right: 5px; cursor: pointer; }
.download-box .swiper-pagination-bullet-active { background: #3787d8; }
.download-box .swiper-dynamic-links { text-align:center; }
.download-box .swiper-dynamic-links a { display: inline-block; padding: 5px; border-radius: 3px; border: 1px solid #ccc; margin: 5px; font-size: 12px; text-decoration: none; color:#333; background:#eee; }

/* 底部菜单 */
.menu-b { height: 50px; border-top: 1px solid #dddddd; background: #fff; position: fixed; bottom: 0; left: 0; width: 100%; z-index: 10}
.menu-b ul { display:-webkit-box; display:-moz-box; display:-o-box; display:-ms-box; display:box; height: 100%; }
.menu-b ul li { -webkit-box-flex:1; -moz-box-flex:1; -o-box-flex:1; -ms-box-flex:1; box-flex:1; height: 100%; }
.menu-b ul li a { color: #8c96a0; font-size: 10px; padding-top: 30px;text-align: center;display: block;width: 100%;height: 100%; vertical-align: top; position: relative;  }
.menu-b ul li a:after { content: ''; display: block; width: 30px; height: 30px; background: url(/static/images/webapp/m/menu-b-icon.png) no-repeat; position: absolute; left: 50%; top: 2px; background-size: 60px auto; background-position-x: 0; -webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-o-transform:translate(-50%,0);transform:translate(-50%,0); }
.menu-b ul .menu-b-index    a:after { background-position-y: 0; }
.menu-b ul .menu-b-live     a:after { background-position-y: -30px; }
.menu-b ul .menu-b-expert   a:after { background-position-y: -60px; }
.menu-b ul .menu-b-more     a:after { background-position-y: -90px; }
.menu-b ul .menu-b-me 		a:after { background-position-y: -120px; }
.menu-b ul .menu-b-data 	a:after { background-position-y: -150px; }
.menu-b ul .menu-b-setting  a:after { background-position-y: -180px; }
.menu-b ul li.on a { color: #00385f; }
.menu-b ul li.on a:after { background-position-x: -30px;}
/* fb位置 */
.fb_happy{position: fixed;z-index: 11; bottom:50px;left: 0; width: 100%;}
.fb_del{display:block;position:absolute;right:0;top:0;width:20px;height:20px;border:1px solid #00385f;background:#fff;margin-top:-10px;z-index:200;-moz-border-radius:25px;-webkit-border-radius:25px;-khtml-border-radius:25px;border-radius:25px;}
.fb_del::before,.fb_del::after{position:absolute;content:' ';background-color:#00385f;;left:9px;top:3px;width:1px;height:12px}
.fb_del::before{transform:rotate(45deg);}
.fb_del::after{transform:rotate(-45deg);}
.fb_happyList{position:relative;z-index:1;}
.fb_happyList a{display:block;margin-bottom:4px;}
.fb_happyList a:last-child{margin-bottom:0;}
.fb_happyList a img{display:block;width:100%;} 
/*导航*/
.nav_top { width: 100%; text-align: center; font-size: 0; background: #00385f; position: fixed; z-index: 110; top: 0; height: 44px; left: 0; }
.nav_top h1 { color: #fff; text-align: center; font-size: 18px; line-height: 44px; width: 54%; margin: 0 auto; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.nav_top h1 em, .nav_top #changeApp a em { position: relative; top: 1px; display: inline-block; margin-right: 5px; background: url(/static/images/webapp/m/h1_basketball.png) no-repeat; width: 13px; height: 13px; background-size: 13px auto; }
.nav_top #changeApp a em { background-position: 0 -26px; }
.nav_top #changeApp a.on em { background-position: 0 -13px; }
.nav_top h1 i { content: ''; display: inline-block; width: 10px; height: 10px; border-left: 1px solid #fff; border-top: 1px solid #fff; position: relative; left: 3%; top: -4px; transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg); }
.nav_top h1.on i { top: 15%; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); }
/* 切换 webapp*/
.nav_top #changeApp { position: absolute; border-radius: 10px; padding: 5px 10%; top: 47px; left: 50%; width: auto; height: 84px; background: rgba(0,0,0,0.8); z-index: 101; }
.nav_top #changeApp:after { content: ''; position: absolute; top: -12px; left: 50%; -webkit-transform: translate(-50%,0); -moz-transform: translate(-50%,0); -ms-transform: translate(-50%,0); -o-transform: translate(-50%,0); transform: translate(-50%,0); width: 0; height: 0; border-style: solid; border-width: 0 10px 12px 10px; border-color: transparent transparent rgba(0,0,0,0.8) transparent; }
.nav_top #changeApp a { width: auto; white-space: nowrap; font-size: 15px; color: #ffffff; position: relative; display: block; text-align: center; height: 50%; line-height: 40px; }
.nav_top #changeApp a.on { color: #00a0e8; font-weight: bold; }
.nav_top #changeApp a.on:after { content: ''; position: absolute; top: 54%; display: inline-block; vertical-align: middle; width: 9px; height: 4px; border-bottom: 2px solid #00a0e8; border-left: 2px solid #00a0e8; -webkit-transform: rotate(-45deg) translate(50%,-5%); -ms-transform: rotate(-45deg) translate(50%,-5%); -o-transformtransform: rotate(-45deg) translate(50%,-5%); transform: rotate(-45deg) translate(50%,-5%); }


.nav_top .menu_a { display: inline-block; position: absolute; top: 0; left: 0; width: 44px; height: 44px; background: url(/static/images/webapp/m/menu_a_bg.png) no-repeat center center; background-size: 44px auto; z-index: 400}
.nav_top .filtrate_a { display: inline-block; position: absolute; top: 0; right: 0; width: 30px; height: 44px; background: url(/static/images/webapp/m/nav_a_icon.png) no-repeat; background-size: 30px auto; margin: 0 5px 0 2px; background-position: 0 -46px; }
.nav_top .filtrate_not { opacity: 0.2; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: rgba(0,0,0,0); }
.nav_top .set_a { display: inline-block; display: none; width: 30px; height: 44px; position: absolute; top: 0; right: 35px; background: url(/static/images/webapp/m/nav_a_icon.png) no-repeat; background-size: 32px auto; }
.nav_top .search_a { display: inline-block; position: absolute; top: 0; right: 0; width: 30px; height: 44px; background: url(/static/images/webapp/m/nav_a_icon.png) no-repeat; background-size: 30px auto; margin: 0 5px 0 2px; background-position: 0 -133px; }
.nav_top .return_a { display: block; position: absolute; top: 0; left: 0; width: 44px; height: 44px; }
.nav_top .share_a { display: inline-block; position: absolute; top: 0; right: 0; width: 30px; height: 44px; background: url(/static/images/webapp/m/nav_a_icon.png) no-repeat; background-size: 30px auto; margin: 0 5px 0 2px; background-position: 0 -178px; }
.nav_top .return_a i { display: inline-block; width: 16px; height: 16px; border-left: 2px solid #fff; border-bottom: 2px solid #fff; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%) rotate(45deg); -moz-transform: translate(-50%,-50%) rotate(45deg); -ms-transform: translate(-50%,-50%) rotate(45deg); -o-transform: translate(-50%,-50%) rotate(45deg); transform: translate(-50%,-50%) rotate(45deg); }
.nav_top .filter_tab { display: inline-block; white-space: nowrap; width: 50%; height: 20px; border: 1px solid #fff; margin-top: 12px; font-size: 0; }
.nav_top .filter_tab a { display: inline-block; width: 49.5%; white-space: nowrap; color: #fff; font-size: 12px; line-height: 20px; height: 100%; text-align: center; background-color: #00385f; }
.nav_top .filter_tab a:first-child { float: left; }
.nav_top .filter_tab a:last-child { float: right; }
.nav_top .filter_tab a.on { background-color: #fff; color: #00385f; }
.nav_top .filter_ok, .nav_top .filter_no { font-size: 14px; width: 20%; display: block; color: #fff; text-align: center; position: absolute; top: 50%; right: 0; -webkit-transform: translate(0,-50%); -moz-transform: translate(0,-50%); -ms-transform: translate(0,-50%); -o-transform: translate(0,-50%); transform: translate(0,-50%); }
.nav_top .filter_notok { color: #002642; }
.nav_top > label { position: absolute; display: block; left: 44px; background: #f99; width: 44px; height: 100%; border: none; background: url(/static/images/webapp/m/nav_a_icon.png) no-repeat; background-size: 30px auto; background-position: 0 -86px; }
.nav_top label input { opacity: 0; width: 100%; height: 100%; }
.ovfHiden { overflow: hidden; height: 100%; width: 100%; }
/* load */
.load { text-align: center; color: #00385f; font-size: 12px; vertical-align: middle; /*margin-bottom:44px;*/ padding: 10px 0; background: #fff; }
.load .load_ball { width: 21px; height: 34px; display: inline-block; position: relative; vertical-align: middle; }
.load .load_ball .ball { width: 21px; height: 21px; position: relative; z-index: 3; background: url(/static/images/webapp/m/load/load_ball.png) no-repeat; background-size: 21px auto; animation: load_ball 0.6s linear infinite; -webkit-animation: load_ball 0.6s linear infinite; -moz-animation: load_ball 0.6s linear infinite; -o-animation: load_ball 0.6s linear infinite; -ms-animation: load_ball 0.6s linear infinite; }
.load .load_ball .shadow { width: 15px; height: 4px; z-index: 2; background: #eaeaea; border-radius: 100%; position: absolute; bottom: 0; left: 3px; animation: load_shadow 0.6s linear infinite; -webkit-animation: load_shadow 0.6s linear infinite; -moz-animation: load_shadow 0.6s linear infinite; -o-animation: load_shadow 0.6s linear infinite; -ms-animation: load_shadow 0.6s linear infinite; }
.load img { width: 22px; height: auto; vertical-align: middle; }
.load span { display: inline-block; color: #00385f; vertical-align: middle; margin-left: 10px; }

@keyframes load_ball {
	0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); -moz-transform: rotate(0deg); }
	33% { transform: translate(0,30%) rotate(-45deg); -webkit-transform: translate(0,30%) rotate(-45deg); -moz-transform: translate(0,30%) rotate(-45deg); -o-transform: translate(0,30%) rotate(-45deg); -ms-transform: translate(0,30%) rotate(-45deg); }
	66% { transform: translate(0,60%) rotate(-90deg); -webkit-transform: translate(0,60%) rotate(-90deg); -moz-transform: translate(0,60%) rotate(-90deg); -ms-transform: translate(0,60%) rotate(-90deg); -o-transform: translate(0,60%) rotate(-90deg); }
	100% { transform: translate(0,30%) rotate(-135deg); -ms-transform: translate(0,30%) rotate(-135deg); -o-transform: translate(0,30%) rotate(-135deg); -webkit-transform: translate(0,30%) rotate(-135deg); -moz-transform: translate(0,30%) rotate(-135deg); }
}

@-webkit-keyframes load_ball {
	0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); -moz-transform: rotate(0deg); }
	33% { transform: translate(0,30%) rotate(-45deg); -webkit-transform: translate(0,30%) rotate(-45deg); -moz-transform: translate(0,30%) rotate(-45deg); -o-transform: translate(0,30%) rotate(-45deg); -ms-transform: translate(0,30%) rotate(-45deg); }
	66% { transform: translate(0,60%) rotate(-90deg); -webkit-transform: translate(0,60%) rotate(-90deg); -moz-transform: translate(0,60%) rotate(-90deg); -ms-transform: translate(0,60%) rotate(-90deg); -o-transform: translate(0,60%) rotate(-90deg); }
	100% { transform: translate(0,30%) rotate(-135deg); -ms-transform: translate(0,30%) rotate(-135deg); -o-transform: translate(0,30%) rotate(-135deg); -webkit-transform: translate(0,30%) rotate(-135deg); -moz-transform: translate(0,30%) rotate(-135deg); }
}

@keyframes load_shadow {
	0% { transform: scale(0,0); -webkit-transform: scale(0,0); }
	33% { transform: scale(1.05,1); -webkit-transform: scale(1.05,1); }
	66% { transform: scale(1.2,1); -webkit-transform: scale(1.2,1); }
	100% { transform: scale(1.05,1); -webkit-transform: scale(1.05,1); }
}

@-webkit-keyframes load_shadow {
	0% { transform: scale(0,0); -webkit-transform: scale(0,0); }
	33% { transform: scale(1.05,1); -webkit-transform: scale(1.05,1); }
	66% { transform: scale(1.2,1); -webkit-transform: scale(1.2,1); }
	100% { transform: scale(1.05,1); -webkit-transform: scale(1.05,1); }
}
/* 没内容 需要手动刷新*/
.not_con { width: 100%; background: #fff; height: 100%; position: fixed; z-index: 2; }
.not_con_box { position: absolute; top: 40%; left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
.not_con .bg { width: 115px; height: 75px; background: url(/static/images/webapp/m/load/ball_update.png) no-repeat 52% 40%; background-size: 115px auto; margin: 0 auto; }
.not_con a { text-align: center; margin: 0 auto; display: block; font-size: 12px; color: #898989; height: 26px; line-height: 26px; background: url(/static/images/webapp/m/load/update_icon.png) no-repeat center right; background-size: 26px auto; padding-right: 30px; }
.not_con a.not_refresh { background: none; padding: 0; }
.box { width: 100%; position: relative; padding-top: 44px; }
.box_score { width: 100%; position: relative; padding-top: 76px; }
.box_b { width: 100%; position: relative; padding-top: 44px; padding-bottom: 44px; }
.box2_b { width: 100%; position: relative; padding-top: 72px; padding-bottom: 44px; }
.box3_b { width: 100%; position: relative; padding-top: 75px; padding-bottom: 44px; }

/*menu 菜单 */
.menu_box .hot_icon { background: url(/static/images/webapp/m/hot_icon.png) no-repeat; background-size: 16px auto; width: 16px; display: inline-block; height: 20px; position: relative; top: 4px; left: 5px; }
.menu_box .new_icon { background: url(/static/images/webapp/m/new_icon.png) no-repeat; background-size: 16px auto; width: 18px; display: inline-block; height: 10px; position: relative; top: -5px; left: 5px; }

.menu_box { background: #0E191A url(/static/images/webapp/m/menu_bg.png) no-repeat; background-size: cover; position: absolute; left: 0; top: 0; width: 208px; height: 100%; z-index: 110; transform: translate(-100%,0%); -webkit-transform: translate(-100%,0%); transition: all 0.3s linear; -webkit-transition: all 0.3s linear; }
.menu_box img { width: 160px; margin: 18px auto; display: block; }
.menu_btn { margin-left: 15%; width: 85%; height: 72%; overflow-y: auto; }
.menu_btn a { height: 42px; line-height: 42px; display: block; font-size: 14px; color: #fff; border-top: 1px solid #00385f; }
.menu_btn a:first-child { border-top: none; }
.menu_btn a i { margin: 0 6px; display: inline-block; vertical-align: top; height: 42px; width: 17px; background: url(/static/images/webapp/m/menu_icon.png) no-repeat; background-size: 34px auto; }
.menu_btn .on { color: #00a0e8; }
.menu_box_on { transform: translate(0%,0%); -webkit-transform: translate(0%,0%); transition: all 0.3s linear; -webkit-transition: all 0.3s linear; }
.menu_close { position: absolute; width: 30%; opacity: 0; top: 0; height: 100%; z-index: 101; right: 0; }

.menu_btn i.m_score { background-position: 0 0; }
.menu_btn .on i.m_score { background-position: -17px 0; }
.menu_btn i.m_index { background-position: 0 -44px; }
.menu_btn .on i.m_index { background-position: -17px -44px; }
.menu_btn i.m_eurocup { background-position: 0 -88px; }
.menu_btn .on i.m_eurocup { background-position: -17px -88px; }
.menu_btn i.m_live { background-position: 0 -132px; }
.menu_btn .on i.m_live { background-position: -17px -132px; }
.menu_btn i.m_finish { background-position: 0 -176px; }
.menu_btn .on i.m_finish { background-position: -17px -176px; }
.menu_btn i.m_databank { background-position: 0 -220px; }
.menu_btn .on i.m_databank { background-position: -17px -220px; }
.menu_btn i.m_info { background-position: 0 -264px; }
.menu_btn .on i.m_info { background-position: -17px -264px; }
.menu_btn i.m_new { background-position: 0 -308px; }
.menu_btn .on i.m_new { background-position: -17px -308px; }
.menu_btn i.m_advise { background-position: 0 -352px; }
.menu_btn .on i.m_advise { background-position: -17px -352px; }
.menu_btn i.m_about { background-position: 0 -396px; }
.menu_btn .on i.m_about { background-position: -17px -396px; }

.menu_f_btn { position: absolute; bottom: 5px; left: 0; width: 100%; white-space: nowrap; padding: 0 10%; font-size: 0; }
.menu_f_btn a { font-size: 12px; display: inline-block; width: 49.9%; text-align: center; color: #fff; padding-top: 2px; position: relative; }
.menu_f_btn .a_set:after { content: ''; display: block; height: 16px; width: 16px; background: url(/static/images/webapp/m/menu_b_icon.png) no-repeat; background-size: 16px auto; position: absolute; top: -8px; left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
.menu_f_btn .a_dnd:after { content: ''; display: block; height: 16px; width: 16px; background: url(/static/images/webapp/m/menu_b_icon.png) no-repeat 0 center; background-size: 16px auto; position: absolute; top: -8px; left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
.menu_f_btn .a_foucs:after { content: ''; display: block; height: 16px; width: 16px; background: url(/static/images/webapp/m/menu_b_icon.png) no-repeat; background-position: 0 -40px; background-size: 16px auto; position: absolute; top: -8px; left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }

/* 日期控件  */
.gldp-default .title { font-weight: bolder; }
.gldp-default .core { position: relative; float: left; padding: 0; margin: 0; font-size: 14px; text-align: center; cursor: pointer; color: #222; background: #ffffff; }
.gldp-default .monyear, .gldp-default .monyear select { font-size: 14px !important; }
.gldp-default .monyear select:nth-of-type(1) { position: absolute; left: 32%; top: 50%; transform: translate(-50%,-50%); opacity: 0; display: inline-block; height: 100%; }
.gldp-default .monyear select:nth-of-type(2) { position: absolute; left: 60%; top: 50%; transform: translate(-50%,-50%); opacity: 0; display: inline-block; height: 100%; }
.gldp-default .monyear { position: relative; }
.gldp-default .monyear label { display: inline-block; margin: 0 10px; width: auto; }
.gldp-default .next-arrow { font-size: 0; margin: 2% 0 0 0; display: inline-block; width: 10px; height: 10px; border-top: 1px solid #2a2a2a; border-right: 1px solid #2a2a2a; position: absolute; top: 50%; left: 50%; transform: rotate(45deg) translate(-50%,-50%); -webkit-transform: rotate(45deg) translate(-50%,-50%); -moz-transform: rotate(45deg) translate(-50%,-50%); -ms-transform: rotate(45deg) translate(-50%,-50%); -o-transform: rotate(45deg) translate(-50%,-50%); }
.gldp-default .prev-arrow { font-size: 0; margin: 2% 0 0 -16%; display: inline-block; width: 10px; height: 10px; border-bottom: 1px solid #2a2a2a; border-left: 1px solid #2a2a2a; position: absolute; top: 50%; left: 50%; transform: rotate(45deg) translate(-50%,-50%); -webkit-transform: rotate(45deg) translate(-50%,-50%); -moz-transform: rotate(45deg) translate(-50%,-50%); -ms-transform: rotate(45deg) translate(-50%,-50%); -o-transform: rotate(45deg) translate(-50%,-50%); }
.gldp-default .prev-arrow-off, .gldp-default .next-arrow-off { color: #222; opacity: 0.15; }
.gldp-default .dow { color: #737c8a; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; margin-bottom: 1px; background: #fff; }
.gldp-default .outday { color: #d2d2d2 !important; }
.gldp-default .noday { color: #d2d2d2 !important; font-weight: normal; cursor: wait !important; }
.gldp-default .today { color: #ff0000; font-weight: bolder; }
.gldp-default .selected { color: #fff !important; background: #fff url(/static/images/webapp/m/time_select_icon_bg.png) no-repeat center center; background-size: 50% auto; width: 50px; height: 50px; }
.gldp-default .special { color: #fff; font-weight: bold; background: #88e888; }
.time_box { width: 100%; height: 100%; position: fixed; z-index: 105; padding-top: 44px; display: none; }
.time_box .time_bg { width: 100%; height: 100%; background: rgba(0,0,0,0.75); position: absolute; top: 0; left: 0; }
/* 当前暂无进行中的比赛 */
.not_game { background: #fff; text-align: center; position: fixed; top: 44px; width: 100%; height: 100%; z-index: 6; }
.not_game a { display: inline-block; background: #00385f; padding: 4px 6px; color: #fff; font-size: 12px; border-radius: 2px; margin-top: 10px; }
.not_game p { margin-top: 40%; display: block; padding-top: 80px; color: #898989; font-size: 12px; background: url(/static/images/webapp/m/load/ball_update.png) no-repeat 54% 0; background-size: 116px auto; }
/* 今日无完场*/
.not_over { width: 100%; height: 100%; background: #fff; position: fixed; /*top: 0;*/ z-index: 6; font-size: 0; }
.not_over_box { width: 100%; text-align: center; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
.not_over p { font-size: 12px; color: #898989; padding-top: 50px; background: url(/static/images/webapp/m/load/over_icon.png) no-repeat center 0; background-size: 56px 36px; }
.not_over a { padding: 2px 6px; background-color: #00385f; border-radius: 2px; height: 20px; display: inline-block; font-size: 12px; color: #fff; line-height: 16px; }
.not_over .left { width: 46%; margin-top: 10px; display: inline-block; text-align: right; }
.not_over .right { width: 46%; margin-top: 10px; margin-left: 4%; display: inline-block; text-align: left; }
.not_over p.ball_p { display: block; padding-top: 80px; color: #898989; font-size: 12px; background: url(/static/images/webapp/m/load/ball_update.png) no-repeat 54% 0; background-size: 116px auto; }
/*日期条*/
p.p_date { display: block; position: relative; z-index: 9; text-align: center; width: 100%; height: 15px; background-color: #b2bcc4; color: #ffffff; font-size: 11px; line-height: 15px; }

/* 客户端PC 切换*/
.score_change { height: 44px; font-size: 0; background: #f0f0f0; padding: 0 9.99%; width: 100%; }
.score_change_on { position: absolute; }
.score_change_box { display: inline-block; text-align: center; width: 49.9%; overflow: hidden; height: 100%; vertical-align: middle; }
.score_change_box a { display: inline-block; width: 40px; height: 100%; }
.score_change_box a .client_a_icon { display: block; width: 20px; height: 20px; margin: 0 auto; background: url(/static/images/webapp/m/changer.png) no-repeat; background-size: 20px auto; }
.score_change_box a .client_a_text { font-size: 11px; color: #aaaaaa; }
.score_change_box a .pc_a_icon { display: block; width: 20px; height: 20px; margin: 0 auto; background: url(/static/images/webapp/m/changer.png) no-repeat; background-size: 20px auto; background-position: 0 -20px; }
.score_change_box a .pc_a_text { font-size: 11px; color: #aaaaaa; }


.bb_text .close { display: block; width: 14px; height: 14px; border: 1px solid #fff; background-color: rgba(0,0,0,0.6); -moz-border-radius: 200px; -webkit-border-radius: 200px; -khtml-border-radius: 200px; border-radius: 200px; position: absolute; top: 3px; right: 4px; overflow: hidden; text-indent: -999px; transform: rotate(45deg); -ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); }
.bb_pic { display: block; background: #acacac; height: 30px; position: relative; }
.bb_pic .close { display: block; width: 18px; height: 18px; border: 1px solid #fff; background-color: rgba(0,0,0,0.6); -moz-border-radius: 200px; -webkit-border-radius: 200px; -khtml-border-radius: 200px; border-radius: 200px; position: absolute; top: 6px; right: 4px; overflow: hidden; text-indent: -999px; transform: rotate(45deg); -ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); }
.bb_pic .close:after, .bb_text .close:after { content: ''; display: block; position: absolute; left: 50%; top: 50%; width: 60%; height: 0; border-top: 1px solid #d6d6d6; transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); }
.bb_pic .close:before, .bb_text .close:before { content: ''; display: block; position: absolute; left: 50%; top: 50%; height: 60%; width: 0; border-left: 1px solid #d6d6d6; transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); }
.bb_pic img { width: 100%; height: 30px; }
.bb_text { display: block; position: relative; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background: #acacac; height: 20px; line-height: 20px; font-size: 11px; text-align: center; color: #fff; position: relative; }
.bb_top { position: fixed; z-index: 4; width: 100%; top: 44px; min-height: 3px; }

/*侧边栏*/
.ballMenu_close { position: fixed; opacity: 0; top: 0; width: 100%; height: 100%; right: 0; z-index: 399; display: none; }
.ballMenu_close_on { display: -webkit-box; display: -moz-box; display: -o-box; display: -ms-box; display: box; }
.ballMenu_close em { display: block; width: 250px; height: 100%; }
.ballMenu_close a { display: block; height: 100%; -webkit-box-flex: 1; -moz-box-flex: 1; -o-box-flex: 1; -ms-box-flex: 1; box-flex: 1; }
.ballMenu_box { width: 238px; background-color: #272c30; position: fixed; left: 0; top: 0; height: 100%; z-index: 400; padding: 0 0 0 12px; padding-top: 72px; transform: translate(-100%,0); -moz-transform: translate(-100%,0); -webkit-transform: translate(-100%,0); -o-transform: translate(-100%,0); transition: transform 0.5s ease 0s; -webkit-transition: -webkit-transform 0.5s ease 0s; -moz-transition: -moz-transform 0.5s ease 0s; }
.ballMenu_box_on { transform: translate(0,0); -moz-transform: translate(0,0); -webkit-transform: translate(0,0); -o-transform: translate(0,0); }
/*logo*/
.ballMenu_box .b_logo { height: 72px; padding: 16px 0 16px 0; position: absolute; left: 0; top: 0; width: 100%; }
.ballMenu_box .b_logo img { display: block; height: 40px; margin: 0 auto; }
/*菜单*/
.ballMenu_box .b_menu { height: 100%; width: 100%; overflow-y: auto; padding-right: 18px; }
.ballMenu_box .bm_sort { margin-bottom: 10px; }
/*顶部*/
.ballMenu_box .bms_top { display: -webkit-box; display: -moz-box; display: -o-box; display: -ms-box; display: box; padding-bottom: 6px; }
.ballMenu_box .bms_top p { display: block; -webkit-box-flex: 1; -moz-box-flex: 1; -o-box-flex: 1; -ms-box-flex: 1; box-flex: 1; font-size: 16px; color: #7f7f7f; line-height: 24px; padding: 2px 10px 2px 0; }
.ballMenu_box .bms_top a { display: block; width: 28px; height: 28px; overflow: hidden; text-indent: -999px; background-image: url(/static/images/webapp/b_m/side/install_icon.png); background-repeat: no-repeat; background-size: 14px auto; background-position: center center; }
/*列表*/
.ballMenu_box .bm_sort ul { border-top: 1px solid #40464d; border-left: 1px solid #40464d; font-size: 0; width: 212px; margin: 0 auto; }
.ballMenu_box .bm_sort ul li { display: inline-block; vertical-align: top; /*width: 70px;*/ width: 33.3%; height: 66px; overflow: hidden; border-bottom: 1px solid #40464d; border-right: 1px solid #40464d; }
.ballMenu_box .bm_sort ul a { display: block; width: 70px; height: 66px; position: relative; padding: 36px 0px 0 0px; font-size: 12px; color: #ffffff; line-height: 12px; text-align: center; }
.ballMenu_box .bm_sort ul a:after { content: ''; display: block; position: absolute; left: 50%; top: 14px; width: 20px; height: 20px; transform: translate(-50%,0); -moz-transform: translate(-50%,0); -webkit-transform: translate(-50%,0); -o-transform: translate(-50%,0); -ms-transform: translate(-50%,0); background-image: url(/static/images/webapp/b_m/side/menu_icon.png); background-repeat: no-repeat; background-size: 20px auto; background-position: center 0; }
.ballMenu_box .bm_sort ul a.a_jsbf:after { background-position: center 0; }
.ballMenu_box .bm_sort ul a.a_jszs:after { background-position: center -20px; }
.ballMenu_box .bm_sort ul a.a_dhzb:after { background-position: center -40px; }
.ballMenu_box .bm_sort ul a.a_wcsc:after { background-position: center -60px; }
.ballMenu_box .bm_sort ul a.a_zlk:after { background-position: center -80px; }
.ballMenu_box .bm_sort ul a.a_zx:after { background-position: center -100px; }
.ballMenu_box .bm_sort ul a.a_qb:after { background-position: center -120px; }
.ballMenu_box .bm_sort ul a.a_sqfx:after { background-position: center -140px; }
.ballMenu_box .bm_sort ul a.a_zjtj:after { background-position: center -160px; }
.ballMenu_box .bm_sort ul li.on { background-color: #212529; }
.ballMenu_box .bm_sort ul li.on a { color: #00a0e8; }
.ballMenu_box .bm_sort ul li.on a:after { background-image: url(/static/images/webapp/b_m/side/menu_icon_on.png); }
.ballMenu_box .bm_sort ul li.icon_new a:before { content: ''; display: block; width: 20px; height: 10px; position: absolute; right: 0; top: 0; background-image: url(/static/images/webapp/b_m/side/new_icon.jpg); background-repeat: no-repeat; background-size: 20px 10px; background-position: 0 0; }
.ballMenu_box .bm_sort ul li.icon_hot a:before { content: ''; display: block;width: 20px;height: 10px;position: absolute;right: 0;top:0;background-image: url(/static/images/webapp/b_m/side/hot_icon.jpg);background-repeat: no-repeat; background-size: 20px 10px; background-position: 0 0; }
.ballMenu_box .b_other { }
.ballMenu_box .b_other ul { padding-top: 10px; }
.ballMenu_box .b_other ul li { font-size: 0; margin-bottom: 6px; }
.ballMenu_box .b_other ul a { display: inline-block; vertical-align: top; font-size: 16px; color: #7f7f7f; line-height: 24px; }
/*侧边栏修改*/
.nav_top .menu_a_on:after { display: none; }
/*侧边栏20161007*/
.ballMenu_box .b_logo2 { padding: 16px 14px; }
.ballMenu_box .b_logo2 img { margin: 0; }
.ballMenu_box .b_logo2 a { display: block; width: 40px; height: 40px; background-image: url(/static/images/webapp/m/pc_icon.png); background-repeat: no-repeat; background-size: 24px 20px; background-position: top right; position: absolute; right: 16px; top: 16px; overflow: hidden; text-indent: -999px; }

/*侧边栏 20170725*/
.ballMenu_box .b_logo3{padding:16px 14px;position:absolute;left:0;top:0;width:100%;}
.ballMenu_box .b_logo3 .pc_a{display:block;width:24px;height:20px;background-image:url(/static/images/webapp/m/pc_icon.png);background-repeat:no-repeat;background-size:24px 20px;background-position:top right;position:absolute;right:16px;top:16px;overflow:hidden;text-indent:-999px;}
.ballMenu_box .b_logo3 img{display:block;height:20px;}
/* 用户登陆 */
.ballMenu_login{padding-top: 100px;}
.ballMenu_box .user_login{height: 36px;width: 100%;position: absolute;left: 0;top: 52px;width: 100%;padding:0 14px;font-size: 0;}
.ballMenu_box .user_login img{width: 36px;height: 36px;border-radius:36px;margin-right: 10px;}
.ballMenu_box .user_login .go_login{font-size:14px;vertical-align: top;display:inline-block;line-height: 36px;color: #ffffff;text-decoration: none;}
.ballMenu_box .user_login .look_my_info{display: none;vertical-align: top;}
.ballMenu_box .user_login .look_my_info span{vertical-align: top;font-size: 14px;line-height: 21px;display: block;color: #fff;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.ballMenu_box .user_login .look_my_info i{display: block;vertical-align: top;font-size: 10px;color: #f1cf61;}
.ballMenu_box .user_login_on .go_login{display: none;}
.ballMenu_box .user_login_on .look_my_info{display:inline-block;width: 70%;}

/*宣传位*/
#nm1{position:fixed;bottom:0;left:0;z-index:99;}

/*下载提示弹出框*/
.downloadTip_bg{width: 100%;height: 100%;position: fixed;background: rgba(0,0,0,0.5);z-index: 400;top:0;left: 0;}
.downloadTip_box{width:93.75%;padding:1px;border-radius: 10px;background: #00385f;position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%);}
.downloadTip_box .dt_text{padding:22px;color:#fff;font-size: 14px;line-height: 20px}
.downloadTip_box .dt_text lh{color:#ffcc00;}
.downloadTip_box .dt_btn{margin:0 auto;background: #fff;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;font-size: 0}
.downloadTip_box .dt_btn a{display: inline-block;width:50%;font-size: 14px;color:#b3b3b3;text-align: center;line-height: 40px}
.downloadTip_box .dt_btn a.btn_download{color:#00385f}


/*淡入淡出*/
@keyframes fadeIn {
	0% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 0; }
}
@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 0; }
}
@-moz-keyframes fadeIn {
	0% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 0; }
}
@-o-keyframes fadeIn {
	0% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 0; }
}
@-ms-keyframes fadeIn {
	0% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 0; }
}

.fadeIn { -webkit-animation-name: fadeIn; -moz-animation-name: fadeIn; -ms-animation-name: fadeIn; -o-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-duration: 5s; -moz-animation-duration: 5s; -ms-animation-duration: 5s; -o-animation-duration: 5s; animation-duration: 5s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -ms-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; }

.hintBox{  position: fixed; top: 0; left: 0; z-index: 800;width:100%;height: 100%;text-align:center;}
.hintBox p {position: absolute;top:50%;left: 50%;display:inline-block;vertical-align:top; font-size: 16px;  line-height: 24px; color: #ffffff; padding: 10px 14px; border-radius: 4px;max-width:70%; background: rgba(0,0,0,0.6); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
.hintBox p i{color:#fee300;}

.football_lead{position:fixed;top:0;left:0;width:100%;height:100%;z-index: 900;}
.football_lead div{width:100%;height:100%;padding-top:177.5%;background-repeat:no-repeat;background-size:100% auto;background-position:0 center;position:relative;}
.football_lead div a{width:150px;height:34px;line-height:34px;border-radius:4px;background:#3476bc;color:#ffffff;text-align:center;font-size:12px;position:absolute;top:70%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}

/*广告右下角浮窗*/
.pop_rb{position: fixed;z-index: 300;width: 64px;height: 76px;display: block;right: 16px;bottom: 60px}
.pop_rb img{display: block;width: 100%;height: 100%}

/*广告全屏弹窗*/
.pop_big_banner{position: fixed;z-index: 410;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);}
.pop_big_banner .pb_div{position: absolute;width: 100%;padding: 0 20px;top: 50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);}
.pop_big_banner .pb_div .pbd_top{position: relative;display: block;}
.pop_big_banner .pb_div .pbd_top img{width: 100%;border-radius: 6px;}
.pop_big_banner .pb_div .pbd_top span{position: absolute;display: block;color:#ed3e3b;border:1px solid #ed3e3b;border-radius: 200px;text-align: center;width: 100px;height: 26px;line-height: 26px;top:84%;left: 50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);}
.pop_big_banner .pb_div .pbd_bottom{height: 26px;margin-top: 16px}
.pop_big_banner .pb_div .pbd_bottom a{display: block;width: 26px;height: 26px;border:2px solid #fff;position: relative;border-radius: 200px;margin:0 auto;}
.pop_big_banner .pb_div .pbd_bottom a:before{content: '';position: absolute;display: block;width: 14px;height: 2px;background: #fff;top:10px;left: 4px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);}
.pop_big_banner .pb_div .pbd_bottom a:after{content: '';position: absolute;display: block;width: 14px;height: 2px;background: #fff;top:10px;left: 4px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);}

/* 越南下载 */
.vnDownloadBody{}
.vn_download{ position: fixed;left: 0;top:0;width: 100%; height: 40px;z-index: 9999;display: none;padding-right: 36px;background: #fff;}
.vn_download .vnImg{display: block;padding: 6px 0 6px 10px;font-size: 0;height: 100%;}
.vn_download .vnImg img{display: inline-block;vertical-align: top;height: 100%;margin-right: 6px;}
.vn_download  .vnText{flex: 1;padding-top:4px;}
.vn_download  .vnText b{display: block; font-size: 12px;line-height: 16px;color: #000;font-weight: bold;}
.vn_download  .vnText span{display: block; font-size: 10px;line-height: 16px;color: #898989;}
.vn_download  .vnbutton{}
.vn_download  .vnbutton a{font-size: 10px;min-width: 64px;text-align: center;color: #fff;
background: #00385f;border-radius: 4px;display:inline-block ;text-align: center;
font-size: 10px;line-height: 18px;margin-top: 12px;
}
.vn_download  .vnDel{display: block;position: absolute;right: 0px;top:50%;
	transform: translate(0%,-50%); -moz-transform: translate(0%,-50%); -webkit-transform: translate(0%,-50%); -o-transform: translate(0%,-50%); -ms-transform: translate(0%,-50%);
	padding: 10px 4px 10px 10px;
}
.vn_download  .vnDel img{display: block;width: 14px;}
.vnDownloadBody .nav_top{top:40px!important;}
.vnDownloadBody .score_tab{top: 84px !important;}
.vnDownloadBody .vn_download{display: flex;}





@media screen and (min-width: 374px) and (max-width: 479px) {

	.body-down { padding-top: 68px; }
	.body { padding-bottom: 60px; }
	.body-down .nav_top{ top: 68px; }
	.body .filter_div { padding: 86px 0 110px 0; }
	.body .filter_foot { bottom:60px; }
	.body .league { padding-bottom: 60px;}
	.body-down .nav2 { top:120px; }
	.body-down .filter_div .match_tab, 
	.body-down .filter_div .company_tab{top: 120px}


	/* 头部下载 */
	.download-box .d-box {padding:12px 0 12px 12px;height: 68px;}
	.download-box .d-box .db-img {width:44px;height: 44px;margin-right: 12px;}
	.download-box .d-box .db-img img {width:44px;height: 44px;}
	.download-box .d-box .db-txt{ padding: 4px 0;  }
	.download-box .d-box .db-txt p {font-size:12px;line-height: 16px; }
	.download-box .d-box .db-txt p:first-child {  font-size: 14px;}
	.download-box .d-box .db-btn{width:84px;margin:0 12px 0 8px;}
	.download-box .d-box .db-btn a {width:84px;height: 34px;font-size: 16px;line-height: 34px;margin: 4px auto;border-radius: 2px;}
	.download-box .d-box .close {  width: 26px; height: 26px;  -moz-border-radius: 24px; -webkit-border-radius: 24px; -khtml-border-radius: 24px; border-radius: 24px; margin-top: 10px;        left: -4px;}
	.download-box .swiper-pagination {   bottom: 2px;       }
	.download-box .swiper-pagination-bullet {  width: 14px; height: 2px;   margin-right: 6px;  }
	.download-box .swiper-dynamic-links a {  padding: 6px; border-radius: 4px; margin: 6px; font-size: 14px;    }

	/* 底部菜单 */
	.menu-b { height: 60px;      }
	.menu-b ul li a {  font-size: 12px; padding-top: 36px;    }
	.menu-b ul li a:after {   width: 36px; height: 36px;    top: 2px; background-size: 72px auto;   }
	.menu-b ul .menu-b-live     a:after { background-position-y: -36px; }
	.menu-b ul .menu-b-expert   a:after { background-position-y: -72px; }
	.menu-b ul .menu-b-more     a:after { background-position-y: -108px; }
	.menu-b ul .menu-b-me 		a:after { background-position-y: -144px; }
	.menu-b ul .menu-b-data 	a:after { background-position-y: -180px; }
	.menu-b ul .menu-b-setting  a:after { background-position-y: -216px; }
	.menu-b ul li.on a:after { background-position-x: -36px;}
/* fb位置 */
.fb_happy{ bottom:60px; }
.fb_del{width:24px;height:24px;margin-top:-12px;-moz-border-radius:30px;-webkit-border-radius:30px;-khtml-border-radius:30px;border-radius:30px;}
.fb_del::before,.fb_del::after{left:10px;top:4px;width:2px;height:14px;}
.fb_happyList a{margin-bottom:4px;} 
	/*导航*/
	.nav_top { height: 52px; }
	.nav_top h1 { font-size: 22px; line-height: 52px; }
	.nav_top h1 em, .nav_top #changeApp a em { top: 2px; margin-right: 6px; width: 16px; height: 16px; background-size: 16px auto; }
	.nav_top #changeApp a em { background-position: 0 -32px; }
	.nav_top #changeApp a.on em { background-position: 0 -16px; }
	.nav_top h1 i { width: 12px; height: 12px; top: -4px; }
	/* 切换 webapp*/
	.nav_top #changeApp { border-radius: 12px; padding: 6px 10%; top: 56px; height: 100px; }
	.nav_top #changeApp:after { top: -14px; border-width: 0 12px 14px 12px; }
	.nav_top #changeApp a { font-size: 18px; line-height: 48px; }
	.nav_top #changeApp a.on:after { width: 10px; height: 4px; }


	.nav_top .menu_a { width: 52px; height: 52px; background-size: 52px auto; }
	.nav_top .filtrate_a { width: 36px; height: 52px; background-size: 36px auto; margin: 0 6px 0 2px; background-position: 0 -56px; }
	.nav_top .set_a { width: 36px; height: 52px; right: 42px; background-size: 38px auto; }
	.nav_top .search_a { width: 36px; height: 52px; background-size: 36px auto; margin: 0 6px 0 2px; background-position: 0 -160px; }
	.nav_top .return_a { width: 52px; height: 52px; }
	.nav_top .share_a { width: 36px; height: 52px; background-size: 36px auto; margin: 0 6px 0 2px; background-position: 0 -214px; }
	.nav_top .return_a i { width: 20px; height: 20px; }
	.nav_top .filter_tab { height: 24px; margin-top: 14px; }
	.nav_top .filter_tab a { font-size: 14px; line-height: 24px; }
	.nav_top .filter_ok, .nav_top .filter_no { font-size: 16px; }
	.nav_top label { left: 52px; width: 52px; background-size: 36px auto; background-position: 0 -104px; }
	/* load */
	.load { font-size: 14px; padding: 12px 0; }
	.load .load_ball { width: 26px; height: 40px; }
	.load .load_ball .ball { width: 26px; height: 26px; background-size: 26px auto; }
	.load .load_ball .shadow { width: 18px; height: 4px; left: 4px; }
	.load img { width: 26px; }
	.load span { margin-left: 12px; }
	/* 没内容 需要手动刷新*/
	.not_con .bg { width: 138px; height: 90px; background-size: 138px auto; }
	.not_con a { font-size: 14px; height: 32px; line-height: 32px; background-size: 32px auto; padding-right: 36px; }
	.box { padding-top: 52px; }
	.box_score {   padding-top: 92px; }
	.box_b { padding-top: 52px; padding-bottom: 52px; }
	.box2_b { padding-top: 86px; padding-bottom: 52px; }
	.box3_b { width: 100%; position: relative; padding-top: 90px; padding-bottom: 52px; }

	/*menu 菜单 */
	.menu_box .hot_icon { background: url(/static/images/webapp/m/hot_icon.png) no-repeat; background-size: 16px auto; width: 16px; display: inline-block; height: 20px; position: relative; top: 4px; left: 5px; }
	.menu_box .new_icon { background: url(/static/images/webapp/m/new_icon.png) no-repeat; background-size: 16px auto; width: 18px; display: inline-block; height: 10px; position: relative; top: -5px; left: 5px; }

	.menu_box { width: 250px; }
	.menu_box img { width: 192px; margin: 22px auto; }
	.menu_btn a { height: 50px; line-height: 50px; font-size: 16px; }
	.menu_btn a i { margin: 0 8px; height: 50px; width: 20px; background-size: 40px auto; }

	.menu_btn .on i.m_score { background-position: -20px 0; }
	.menu_btn i.m_index { background-position: 0 -52px; }
	.menu_btn .on i.m_index { background-position: -20px -52px; }
	.menu_btn i.m_eurocup { background-position: 0 -106px; }
	.menu_btn .on i.m_eurocup { background-position: -20px -106px; }
	.menu_btn i.m_live { background-position: 0 -155px; }
	.menu_btn .on i.m_live { background-position: -20px -155px; }
	.menu_btn i.m_finish { background-position: 0 -208px; }
	.menu_btn .on i.m_finish { background-position: -20px -208px; }
	.menu_btn i.m_databank { background-position: 0 -260px; }
	.menu_btn .on i.m_databank { background-position: -20px -260px; }
	.menu_btn i.m_info { background-position: 0 -310px; }
	.menu_btn .on i.m_info { background-position: -20px -310px; }
	.menu_btn i.m_new { background-position: 0 -364px; }
	.menu_btn .on i.m_new { background-position: -20px -364px; }
	.menu_btn i.m_advise { background-position: 0 -414px; }
	.menu_btn .on i.m_advise { background-position: -20px -414px; }
	.menu_btn i.m_about { background-position: 0 -468px; }
	.menu_btn .on i.m_about { background-position: -20px -468px; }
	/*.menu_close{left:264px;}*/

	.menu_f_btn { bottom: 6px; }
	.menu_f_btn a { font-size: 14px; padding-top: 2px; }
	.menu_f_btn .a_set:after { height: 20px; width: 20px; background-size: 20px auto; top: -10px; }
	.menu_f_btn .a_dnd:after { height: 20px; width: 20px; background-size: 20px auto; top: -10px; }
	.menu_f_btn .a_foucs:after { height: 20px; width: 20px; background-position: 0 -48px; background-size: 20px auto; top: -10px; }

	/* 日期控件  */
	.gldp-default .core { font-size: 16px; }
	.gldp-default .monyear, .gldp-default .monyear select { font-size: 16px !important; }
	.gldp-default .monyear span { margin: 0 6px 0 6px; }
	.gldp-default .next-arrow { width: 12px; height: 12px; }
	.gldp-default .prev-arrow { width: 12px; height: 12px; }
	.gldp-default .dow { margin-bottom: 1px; }
	.gldp-default .selected { width: 60px; height: 60px; }
	.time_box { padding-top: 52px; }

	/* 当前暂无进行中的比赛 */
	.not_game { top: 52px; }
	.not_game a { padding: 4px 8px; font-size: 14px; border-radius: 2px; margin-top: 12px; }
	.not_game p { padding-top: 96px; font-size: 14px; background-size: 140px auto; }
	/* 今日无完场*/
	.not_over p { font-size: 14px; padding-top: 60px; background-size: 68px 44px; }
	.not_over a { padding: 2px 8px; border-radius: 2px; height: 24px; font-size: 14px; line-height: 20px; }
	.not_over .left { margin-top: 12px; }
	.not_over .right { margin-top: 12px; }
	.not_over p.ball_p { padding-top: 96px; font-size: 14px; background-size: 140px auto; }

	/*日期条*/
	p.p_date { height: 18px; font-size: 14px; line-height: 18px; }

	/* 客户端PC 切换*/
	.score_change { height: 52px; }
	.score_change_box a { width: 48px; }
	.score_change_box a .client_a_icon { width: 24px; height: 24px; background-size: 24px auto; }
	.score_change_box a .client_a_text { font-size: 14px; }
	.score_change_box a .pc_a_icon { width: 24px; height: 24px; background-size: 24px auto; background-position: 0 -24px; }
	.score_change_box a .pc_a_text { font-size: 14px; }



	.bb_text .close { width: 16px; height: 16px; -moz-border-radius: 240px; -webkit-border-radius: 240px; -khtml-border-radius: 240px; border-radius: 240px; top: 4px; right: 4px; }
	.bb_pic { height: 36px; }
	.bb_pic .close { width: 22px; height: 22px; -moz-border-radius: 240px; -webkit-border-radius: 240px; -khtml-border-radius: 240px; border-radius: 240px; top: 8px; right: 4px; }
	.bb_pic img { height: 36px; }
	.bb_text { height: 24px; line-height: 24px; font-size: 14px; }
	.bb_top { top: 52px; min-height: 4px; }

	/*侧边栏*/
	.ballMenu_close em { width: 300px; }
	.ballMenu_box { width: 286px; padding: 0 0 0 14px; padding-top: 86px; }
	/*logo*/
	.ballMenu_box .b_logo { height: 86px; padding: 20px 0 20px 0; }
	.ballMenu_box .b_logo img { height: 48px; }
	/*菜单*/
	.ballMenu_box .b_menu { padding-right: 22px; }
	.ballMenu_box .bm_sort { margin-bottom: 12px; }
	/*顶部*/
	.ballMenu_box .bms_top { padding-bottom: 8px; }
	.ballMenu_box .bms_top p { font-size: 20px; line-height: 28px; padding: 2px 12px 2px 0; }
	.ballMenu_box .bms_top a { width: 34px; height: 34px; background-size: 16px auto; }
	/*列表*/
	.ballMenu_box .bm_sort ul { width: 256px; }
	.ballMenu_box .bm_sort ul li { /*width: 84px;*/ height: 80px; }
	.ballMenu_box .bm_sort ul a { width: 84px; height: 80px; padding: 44px 0px 0 0px; font-size: 14px; line-height: 14px; }
	.ballMenu_box .bm_sort ul a:after { top: 16px; width: 24px; height: 24px; background-size: 24px auto; }
	.ballMenu_box .bm_sort ul a.a_jszs:after { background-position: center -24px; }
	.ballMenu_box .bm_sort ul a.a_dhzb:after { background-position: center -48px; }
	.ballMenu_box .bm_sort ul a.a_wcsc:after { background-position: center -72px; }
	.ballMenu_box .bm_sort ul a.a_zlk:after { background-position: center -96px; }
	.ballMenu_box .bm_sort ul a.a_zx:after { background-position: center -120px; }
	.ballMenu_box .bm_sort ul a.a_qb:after { background-position: center -144px; }
	.ballMenu_box .bm_sort ul a.a_sqfx:after { background-position: center -168px; }
	.ballMenu_box .bm_sort ul a.a_zjtj:after { background-position: center -192px; }
	.ballMenu_box .bm_sort ul li.icon_new a:before { width: 24px; height: 12px; background-size: 24px 12px; }
	.ballMenu_box .bm_sort ul li.icon_hot a:before { width: 24px; height: 12px; background-size: 24px 12px; }
	.ballMenu_box .b_other ul { padding-top: 12px; }
	.ballMenu_box .b_other ul li { margin-bottom: 8px; }
	.ballMenu_box .b_other ul a { font-size: 20px; line-height: 28px; }
		/*侧边栏20161007*/
	.ballMenu_box .b_logo2 { padding: 20px 16px; }
	.ballMenu_box .b_logo2 a { width: 48px; height: 48px; background-size: 28px 24px; right: 20px; top: 20px; }

	/*下载提示弹出框*/
	.downloadTip_box{padding:2px;border-radius: 14px;}
	.downloadTip_box .dt_text{padding:32px;font-size: 20px;line-height: 30px;}
	.downloadTip_box .dt_btn{border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;}
	.downloadTip_box .dt_btn a{font-size: 20px;line-height: 60px;}


	.hintBox p { font-size: 20px;  line-height: 28px;  padding: 12px 16px; border-radius: 4px; }

	/*侧边栏 20170725*/
	.ballMenu_box .b_logo3{padding:20px 16px;}
	.ballMenu_box .b_logo3 .pc_a{width:28px;height:24px;background-size:28px 24px;right:20px;top:20px;}
	.ballMenu_box .b_logo3 img{height:24px;}
	/* 用户登陆 */
	.ballMenu_login{padding-top: 120px;}
	.ballMenu_box .user_login{height: 44px;top: 62px;padding:0 16px;}
	.ballMenu_box .user_login img{width: 44px;height: 44px;border-radius:44px;margin-right: 12px;}
	.ballMenu_box .user_login .go_login{font-size:16px;line-height: 44px;}
	.ballMenu_box .user_login .look_my_info span{font-size: 16px;line-height: 26px;}
	.ballMenu_box .user_login .look_my_info i{font-size: 12px;}


	.football_lead div a{width:180px;height:40px;line-height:40px;border-radius:4px;font-size:14px;}

	/*广告右下角浮窗*/
	.pop_rb{width: 76px;height: 92px;right: 20px;bottom: 72px;}

	/*广告全屏弹窗*/
	.pop_big_banner .pb_div{padding: 0 24px;}
	.pop_big_banner .pb_div .pbd_top img{border-radius: 8px;}
	.pop_big_banner .pb_div .pbd_top span{border-radius: 240px;width: 120px;height: 32px;line-height: 32px;}
	.pop_big_banner .pb_div .pbd_bottom{height: 32px;margin-top: 20px;}
	.pop_big_banner .pb_div .pbd_bottom a{width: 32px;height: 32px;border-radius: 240px;}
	.pop_big_banner .pb_div .pbd_bottom a:before{width: 16px;height: 2px;top:12px;left: 4px;}
	.pop_big_banner .pb_div .pbd_bottom a:after{width: 16px;height: 2px;top:12px;left: 4px;}

	/* 越南下载 */
	.vn_download{  height: 52px;padding-right: 46px;}
	.vn_download .vnImg{padding: 8px 0 8px 12px;}
	.vn_download .vnImg img{margin-right: 8px;}
	.vn_download  .vnText{padding-top:6px;}
	.vn_download  .vnText b{ font-size: 16px;line-height: 20px;}
	.vn_download  .vnText span{ font-size: 12px;line-height: 20px;}
	.vn_download  .vnbutton a{font-size: 12px;min-width: 84px;
	border-radius: 6px;
	font-size: 12px;line-height: 24px;margin-top: 16px;
	}
	.vn_download  .vnDel{
				
		padding: 12px 6px 12px 12px;
	}
	.vn_download  .vnDel img{width: 18px;}
	.vnDownloadBody .nav_top{top:52px!important;}
	.vnDownloadBody .score_tab{top: 104px !important;}
}

@media screen and (min-width:480px) and (max-width:639px) {
	.body-down { padding-top: 84px; }
	.body { padding-bottom: 74px; }
	.body-down .nav_top{ top: 84px; }
	.body .filter_div { padding: 108px 0 138px 0; }
	.body .filter_foot { bottom:74px; }
	.body .league { padding-bottom: 74px;}
	.body-down .nav2 { top:150px; }
	.body-down .filter_div .match_tab, 
	.body-down .filter_div .company_tab{top: 150px}

	/* 头部下载 */
	.download-box .d-box {padding:14px 0 14px 14px;height: 84px;}
	.download-box .d-box .db-img {width:54px;height: 54px;margin-right: 14px;}
	.download-box .d-box .db-img img {width:54px;height: 54px;}
	.download-box .d-box .db-txt{ padding: 6px 0;  }
	.download-box .d-box .db-txt p {font-size:14px;line-height: 20px; }
	.download-box .d-box .db-txt p:first-child {  font-size: 18px;}
	.download-box .d-box .db-btn{width:104px;margin:0 14px 0 8px;}
	.download-box .d-box .db-btn a {width:104px;height: 42px;font-size: 20px;line-height: 42px;margin: 6px auto;border-radius: 2px;}
	.download-box .d-box .close {  width: 32px; height: 32px;  -moz-border-radius: 30px; -webkit-border-radius: 30px; -khtml-border-radius: 30px; border-radius: 30px; margin-top: 12px;        left: -6px;}
	.download-box .swiper-pagination {   bottom: 2px;       }
	.download-box .swiper-pagination-bullet {  width: 18px; height: 2px;   margin-right: 8px;  }
	.download-box .swiper-dynamic-links a {  padding: 8px; border-radius: 4px; margin: 8px; font-size: 18px;    }

	/* 底部菜单 */
	.menu-b { height: 74px;      }
	.menu-b ul li a {  font-size: 14px; padding-top: 44px;    }
	.menu-b ul li a:after {   width: 44px; height: 44px;    top: 2px; background-size: 90px auto;   }
	.menu-b ul .menu-b-live     a:after { background-position-y: -44px; }
	.menu-b ul .menu-b-expert   a:after { background-position-y: -90px; }
	.menu-b ul .menu-b-more     a:after { background-position-y: -134px; }
	.menu-b ul .menu-b-me 		a:after { background-position-y: -180px; }
	.menu-b ul .menu-b-data 	a:after { background-position-y: -224px; }
	.menu-b ul .menu-b-setting  a:after { background-position-y: -270px; }
	.menu-b ul li.on a:after { background-position-x: -44px;}
/* fb位置 */
.fb_happy{ bottom:74px; }
.fb_del{width:30px;height:30px;margin-top:-14px;-moz-border-radius:38px;-webkit-border-radius:38px;-khtml-border-radius:38px;border-radius:38px;}
.fb_del::before,.fb_del::after{left:14px;top:4px;width:2px;height:18px;}
.fb_happyList a{margin-bottom:6px;} 
	/*导航*/
	.nav_top { height: 66px; }
	.nav_top h1 { font-size: 26px; line-height: 66px; }
	.nav_top h1 em, .nav_top #changeApp a em { top: 2px; margin-right: 8px; width: 20px; height: 20px; background-size: 20px auto; }
	.nav_top #changeApp a em { background-position: 0 -38px; }
	.nav_top #changeApp a.on em { background-position: 0 -20px; }
	.nav_top h1 i { width: 14px; height: 14px; top: -6px; }
	/* 切换 webapp*/
	.nav_top #changeApp { border-radius: 14px; padding: 8px 10%; top: 70px; height: 126px; }
	.nav_top #changeApp:after { top: -18px; border-width: 0 14px 18px 14px; }
	.nav_top #changeApp a { font-size: 22px; line-height: 60px; }
	.nav_top #changeApp a.on:after { width: 14px; height: 6px; }


	.nav_top .menu_a { width: 66px; height: 66px; background-size: 66px auto; }
	.nav_top .filtrate_a { width: 44px; height: 66px; background-size: 44px auto; margin: 0 8px 0 2px; background-position: 0 -68px; }
	.nav_top .set_a { width: 44px; height: 66px; right: 52px; background-size: 48px auto; }
	.nav_top .search_a { width: 44px; height: 66px; background-size: 44px auto; margin: 0 8px 0 2px; background-position: 0 -200px; }
	.nav_top .return_a { width: 66px; height: 66px; }
	.nav_top .share_a { width: 44px; height: 66px; background-size: 44px auto; margin: 0 8px 0 2px; background-position: 0 -266px; }
	.nav_top .return_a i { width: 24px; height: 24px; }
	.nav_top .filter_tab { height: 30px; margin-top: 18px; }
	.nav_top .filter_tab a { font-size: 18px; line-height: 30px; }
	.nav_top .filter_ok, .nav_top .filter_no { font-size: 20px; }
	.nav_top label { left: 66px; width: 66px; background-size: 44px auto; background-position: 0 -128px; }
	/* load */
	.load { font-size: 18px; padding: 14px 0; }
	.load .load_ball { width: 32px; height: 50px; }
	.load .load_ball .ball { width: 32px; height: 32px; background-size: 32px auto; }
	.load .load_ball .shadow { width: 22px; height: 6px; left: 4px; }
	.load img { width: 32px; }
	.load span { margin-left: 14px; }
	/* 没内容 需要手动刷新*/
	.not_con .bg { width: 172px; height: 112px; background-size: 172px auto; }
	.not_con a { font-size: 18px; height: 38px; line-height: 38px; background-size: 38px auto; padding-right: 44px; }
	.box { padding-top: 66px; }
	.box_score {   padding-top: 114px; }
	.box_b { padding-top: 66px; padding-bottom: 66px; }
	.box2_b { padding-top: 108px; padding-bottom: 66px; }
	.box3_b { width: 100%; position: relative; padding-top: 112px; padding-bottom: 66px; }

	/*menu 菜单 */
	.menu_box .hot_icon { background-size: 24px auto; width: 24px; height: 30px; top: 6px; left: 8px; }
	.menu_box .new_icon { background-size: 24px auto; width: 26px; height: 14px; top: -8px; left: 8px; }
	.menu_box { width: 312px; }
	.menu_box img { width: 240px; margin: 26px auto; }
	.menu_btn a { height: 62px; line-height: 62px; font-size: 20px; }
	.menu_btn a i { margin: 0 8px; height: 62px; width: 26px; background-size: 50px auto; }
	.menu_btn .on i.m_score { background-position: -26px 0; }
	.menu_btn i.m_index { background-position: 0 -66px; }
	.menu_btn .on i.m_index { background-position: -26px -66px; }
	.menu_btn i.m_eurocup { background-position: 0 -132px; }
	.menu_btn .on i.m_eurocup { background-position: -26px -132px; }
	.menu_btn i.m_live { background-position: 0 -198px; }
	.menu_btn .on i.m_live { background-position: -26px -198px; }
	.menu_btn i.m_finish { background-position: 0 -264px; }
	.menu_btn .on i.m_finish { background-position: -26px -264px; }
	.menu_btn i.m_databank { background-position: 0 -328px; }
	.menu_btn .on i.m_databank { background-position: -26px -328px; }
	.menu_btn i.m_info { background-position: 0 -390px; }
	.menu_btn .on i.m_info { background-position: -26px -390px; }
	.menu_btn i.m_new { background-position: 0 -456px; }
	.menu_btn .on i.m_new { background-position: -26px -456px; }
	.menu_btn i.m_advise { background-position: 0 -520px; }
	.menu_btn .on i.m_advise { background-position: -26px -520px; }
	.menu_btn i.m_about { background-position: 0 -586px; }
	.menu_btn .on i.m_about { background-position: -26px -586px; }
	.menu_f_btn { bottom: 8px; }
	.menu_f_btn a { font-size: 18px; padding-top: 2px; }
	.menu_f_btn .a_set:after { height: 24px; width: 24px; background-size: 24px auto; top: -12px; }
	.menu_f_btn .a_dnd:after { height: 24px; width: 24px; background-size: 24px auto; top: -12px; }
	.menu_f_btn .a_foucs:after { height: 24px; width: 24px; background-position: 0 -60px; background-size: 24px auto; top: -12px; }
	/* 日期控件  */
	.gldp-default .core { font-size: 20px; }
	.gldp-default .monyear, .gldp-default .monyear select { font-size: 20px !important; }
	.gldp-default .monyear label { margin: 0 14px; }
	.gldp-default .next-arrow { width: 14px; height: 14px; }
	.gldp-default .prev-arrow { width: 14px; height: 14px; }
	.gldp-default .dow { margin-bottom: 1px; }
	.gldp-default .selected { width: 74px; height: 74px; }
	.time_box { padding-top: 66px; }
	/* 今日无完场*/
	.not_over p { font-size: 18px; padding-top: 74px; background-size: 84px 54px; }
	.not_over a { padding: 2px 8px; border-radius: 2px; height: 30px; font-size: 18px; line-height: 24px; }
	.not_over .left { margin-top: 14px; }
	.not_over .right { margin-top: 14px; }
	.not_over p.ball_p { padding-top: 120px; font-size: 18px; background-size: 174px auto; }

	/* 当前暂无进行中的比赛 */
	.not_game { top: 66px; }
	.not_game a { padding: 6px 8px; font-size: 18px; border-radius: 2px; margin-top: 14px; }
	.not_game p { padding-top: 120px; font-size: 18px; background-size: 174px auto; }
	/*日期条*/
	p.p_date { height: 22px; font-size: 16px; line-height: 22px; }

	/* 客户端PC 切换*/
	.score_change { height: 66px; }
	.score_change_box a { width: 60px; }
	.score_change_box a .client_a_icon { width: 30px; height: 30px; background-size: 30px auto; }
	.score_change_box a .client_a_text { font-size: 16px; }
	.score_change_box a .pc_a_icon { width: 30px; height: 30px; background-size: 30px auto; background-position: 0 -30px; }
	.score_change_box a .pc_a_text { font-size: 16px; }



	.bb_text .close { width: 20px; height: 20px; -moz-border-radius: 300px; -webkit-border-radius: 300px; -khtml-border-radius: 300px; border-radius: 300px; top: 4px; right: 6px; }
	.bb_pic { height: 44px; }
	.bb_pic .close { width: 26px; height: 26px; -moz-border-radius: 300px; -webkit-border-radius: 300px; -khtml-border-radius: 300px; border-radius: 300px; top: 8px; right: 6px; }
	.bb_pic img { height: 44px; }
	.bb_text { height: 30px; line-height: 30px; font-size: 16px; }
	.bb_top { top: 66px; min-height: 4px; }

	/*侧边栏*/
	.ballMenu_close em { width: 374px; }
	.ballMenu_box { width: 356px; padding: 0 0 0 18px; padding-top: 108px; }
	/*logo*/
	.ballMenu_box .b_logo { height: 108px; padding: 24px 0 24px 0; }
	.ballMenu_box .b_logo img { height: 60px; }
	/*菜单*/
	.ballMenu_box .b_menu { padding-right: 26px; }
	.ballMenu_box .bm_sort { margin-bottom: 14px; }
	/*顶部*/
	.ballMenu_box .bms_top { padding-bottom: 8px; }
	.ballMenu_box .bms_top p { font-size: 24px; line-height: 36px; padding: 2px 14px 2px 0; }
	.ballMenu_box .bms_top a { width: 42px; height: 42px; background-size: 20px auto; }
	/*列表*/
	.ballMenu_box .bm_sort ul { width: 316px; }
	.ballMenu_box .bm_sort ul li { /*width: 104px;*/ height: 98px; }
	.ballMenu_box .bm_sort ul a { width: 104px; height: 98px; padding: 54px 0px 0 0px; font-size: 18px; line-height: 18px; }
	.ballMenu_box .bm_sort ul a:after { top: 20px; width: 30px; height: 30px; background-size: 30px auto; }
	.ballMenu_box .bm_sort ul a.a_jszs:after { background-position: center -30px; }
	.ballMenu_box .bm_sort ul a.a_dhzb:after { background-position: center -60px; }
	.ballMenu_box .bm_sort ul a.a_wcsc:after { background-position: center -90px; }
	.ballMenu_box .bm_sort ul a.a_zlk:after { background-position: center -120px; }
	.ballMenu_box .bm_sort ul a.a_zx:after { background-position: center -150px; }
	.ballMenu_box .bm_sort ul a.a_qb:after { background-position: center -180px; }
	.ballMenu_box .bm_sort ul a.a_sqfx:after { background-position: center -210px; }
	.ballMenu_box .bm_sort ul a.a_zjtj:after { background-position: center -240px; }
	.ballMenu_box .bm_sort ul li.icon_new a:before { width: 30px; height: 14px; background-size: 30px 14px; }
	.ballMenu_box .bm_sort ul li.icon_hot a:before { width: 30px; height: 14px; background-size: 30px 14px; }
	.ballMenu_box .b_other ul { padding-top: 14px; }
	.ballMenu_box .b_other ul li { margin-bottom: 8px; }
	.ballMenu_box .b_other ul a { font-size: 24px; line-height: 36px; }
		/*侧边栏20161007*/
	.ballMenu_box .b_logo2 { padding: 24px 20px; }
	.ballMenu_box .b_logo2 a { width: 60px; height: 60px; background-size: 36px 30px; right: 24px; top: 24px; }

	/*下载提示弹出框*/
	.downloadTip_box{padding:2px;border-radius: 20px;}
	.downloadTip_box .dt_text{padding:44px;font-size: 28px;line-height: 40px;}
	.downloadTip_box .dt_btn{border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}
	.downloadTip_box .dt_btn a{font-size: 28px;line-height: 80px;}

	.hintBox p { font-size: 24px;  line-height: 36px;  padding: 14px 20px; border-radius: 6px; }

	/*侧边栏 20170725*/
	.ballMenu_box .b_logo3{padding:24px 20px;}
	.ballMenu_box .b_logo3 .pc_a{width:36px;height:30px;background-size:36px 30px;right:24px;top:24px;}
	.ballMenu_box .b_logo3 img{height:30px;}
	/* 用户登陆 */
	.ballMenu_login{padding-top: 150px;}
	.ballMenu_box .user_login{height: 54px;top: 78px;padding:0 20px;}
	.ballMenu_box .user_login img{width: 54px;height: 54px;border-radius:54px;margin-right: 14px;}
	.ballMenu_box .user_login .go_login{font-size:20px;line-height: 54px;}
	.ballMenu_box .user_login .look_my_info span{font-size: 20px;line-height: 32px;}
	.ballMenu_box .user_login .look_my_info i{font-size: 14px;}


	.football_lead div a{width:224px;height:50px;line-height:50px;border-radius:6px;font-size:18px;}


	/*广告右下角浮窗*/
	.pop_rb{width: 96px;height: 114px;right: 24px;bottom: 90px;}

	/*广告全屏弹窗*/
	.pop_big_banner .pb_div{padding: 0 30px;}
	.pop_big_banner .pb_div .pbd_top img{border-radius: 8px;}
	.pop_big_banner .pb_div .pbd_top span{border-radius: 300px;width: 150px;height: 38px;line-height: 38px;}
	.pop_big_banner .pb_div .pbd_bottom{height: 38px;margin-top: 24px;}
	.pop_big_banner .pb_div .pbd_bottom a{width: 38px;height: 38px;border-radius: 300px;}
	.pop_big_banner .pb_div .pbd_bottom a:before{width: 20px;height: 2px;top:14px;left: 6px;}
	.pop_big_banner .pb_div .pbd_bottom a:after{width: 20px;height: 2px;top:14px;left: 6px;}
	/* 越南下载 */
	.vn_download{  height: 60px;padding-right: 54px;}
	.vn_download .vnImg{padding: 8px 0 8px 14px;}
	.vn_download .vnImg img{margin-right: 8px;}
	.vn_download  .vnText{padding-top:6px;}
	.vn_download  .vnText b{ font-size: 18px;line-height: 24px;}
	.vn_download  .vnText span{ font-size: 14px;line-height: 24px;}
	.vn_download  .vnbutton a{font-size: 14px;min-width: 96px;
	border-radius: 6px;
	font-size: 14px;line-height: 26px;margin-top: 18px;
	}
	.vn_download  .vnDel{
				
		padding: 14px 6px 14px 14px;
	}
	.vn_download  .vnDel img{width: 20px;}
	.vnDownloadBody .nav_top{top:60px!important;}
	.vnDownloadBody .score_tab{top: 126px !important;}
}

@media screen and (min-width:640px) {

	.body-down { padding-top: 112px; }
	.body { padding-bottom: 100px; }
	.body-down .nav_top{ top: 112px; }
	.body .filter_div { padding: 144px 0 184px 0; }
	.body .filter_foot { bottom:100px; }
	.body .league { padding-bottom: 100px;}
	.body-down .nav2 { top:200px; }
	.body-down .filter_div .match_tab, 
	.body-down .filter_div .company_tab{top: 200px}

	/* 头部下载 */
	.download-box .d-box {padding:20px 0 20px 20px;height: 112px;}
	.download-box .d-box .db-img {width:72px;height: 72px;margin-right: 20px;}
	.download-box .d-box .db-img img {width:72px;height: 72px;}
	.download-box .d-box .db-txt{ padding: 8px 0;  }
	.download-box .d-box .db-txt p {font-size:20px;line-height: 28px; }
	.download-box .d-box .db-txt p:first-child {  font-size: 24px;}
	.download-box .d-box .db-btn{width:140px;margin:0 20px 0 12px;}
	.download-box .d-box .db-btn a {width:140px;height: 56px;font-size: 28px;line-height: 56px;margin: 8px auto;border-radius: 4px;}
	.download-box .d-box .close {  width: 44px; height: 44px;  -moz-border-radius: 40px; -webkit-border-radius: 40px; -khtml-border-radius: 40px; border-radius: 40px; margin-top: 16px;        left: -8px;}
	.download-box .swiper-pagination {   bottom: 4px;       }
	.download-box .swiper-pagination-bullet {  width: 24px; height: 4px;   margin-right: 10px;  }
	.download-box .swiper-dynamic-links a {  padding: 10px; border-radius: 6px; margin: 10px; font-size: 24px;    }

	/* 底部菜单 */
	.menu-b { height: 100px;      }
	.menu-b ul li a {  font-size: 20px; padding-top: 60px;    }
	.menu-b ul li a:after {   width: 60px; height: 60px;    top: 4px; background-size: 120px auto;   }
	.menu-b ul .menu-b-live     a:after { background-position-y: -60px; }
	.menu-b ul .menu-b-expert   a:after { background-position-y: -120px; }
	.menu-b ul .menu-b-more     a:after { background-position-y: -180px; }
	.menu-b ul .menu-b-me 		a:after { background-position-y: -240px; }
	.menu-b ul .menu-b-data 	a:after { background-position-y: -300px; }
	.menu-b ul .menu-b-setting  a:after { background-position-y: -360px; }
	.menu-b ul li.on a:after { background-position-x: -60px;}
/* fb位置 */
.fb_happy{ bottom:100px; }
.fb_del{width:40px;height:40px;margin-top:-20px;-moz-border-radius:50px;-webkit-border-radius:50px;-khtml-border-radius:50px;border-radius:50px;}
.fb_del::before,.fb_del::after{left:18px;top:6px;width:2px;height:24px;}
.fb_happyList a{margin-bottom:8px;} 
	.menu_close { width: 100%; }
	/*导航*/
	.nav_top { height: 88px; }
	.nav_top h1 { font-size: 36px; line-height: 88px; }
	.nav_top h1 em, .nav_top #changeApp a em { top: 2px; margin-right: 10px; width: 26px; height: 26px; background-size: 26px auto; }
	.nav_top #changeApp a em { background-position: 0 -52px; }
	.nav_top #changeApp a.on em { background-position: 0 -26px; }
	.nav_top h1 i { width: 20px; height: 20px; top: -8px; }
	/* 切换 webapp*/
	.nav_top #changeApp { border-radius: 20px; padding: 10px 10%; top: 94px; height: 168px; }
	.nav_top #changeApp:after { top: -24px; border-width: 0 20px 24px 20px; }
	.nav_top #changeApp a { font-size: 30px; line-height: 80px; }
	.nav_top #changeApp a.on:after { width: 18px; height: 8px; }


	.nav_top .menu_a { width: 88px; height: 88px; background-size: 88px auto; }
	.nav_top .filtrate_a { width: 60px; height: 88px; background-size: 60px auto; margin: 0 10px 0 4px; background-position: 0 -92px; }
	.nav_top .set_a { width: 60px; height: 88px; right: 70px; background-size: 64px auto; }
	.nav_top .search_a { width: 60px; height: 88px; background-size: 60px auto; margin: 0 10px 0 4px; background-position: 0 -266px; }
	.nav_top .return_a { width: 88px; height: 88px; }
	.nav_top .share_a { width: 60px; height: 88px; background-size: 60px auto; margin: 0 10px 0 4px; background-position: 0 -356px; }
	.nav_top .return_a i { width: 32px; height: 32px; }
	.nav_top .filter_tab { height: 40px; margin-top: 24px; }
	.nav_top .filter_tab a { font-size: 24px; line-height: 40px; }
	.nav_top .filter_ok, .nav_top .filter_no { font-size: 28px; }
	.nav_top label { left: 88px; width: 88px; background-size: 60px auto; background-position: 0 -172px; }
	/* load */
	.load { font-size: 24px; padding: 20px 0; }
	.load .load_ball { width: 42px; height: 68px; }
	.load .load_ball .ball { width: 42px; height: 42px; background-size: 42px auto; }
	.load .load_ball .shadow { width: 30px; height: 8px; left: 6px; }
	.load img { width: 44px; }
	.load span { margin-left: 20px; }
	/* 没内容 需要手动刷新*/
	.not_con .bg { width: 230px; height: 150px; background-size: 230px auto; }
	.not_con a { font-size: 24px; height: 52px; line-height: 52px; background-size: 52px auto; padding-right: 60px; }
	.box { padding-top: 88px; }
	.box_score {   padding-top: 152px; }
	.box_b { padding-top: 88px; padding-bottom: 88px; }
	.box2_b { padding-top: 144px; padding-bottom: 88px; }
	.box3_b { width: 100%; position: relative; padding-top: 150px; padding-bottom: 88px; }

	/*menu 菜单 */
	.menu_box .hot_icon { background-size: 32px auto; width: 32px; height: 40px; top: 8px; left: 10px; }
	.menu_box .new_icon { background-size: 32px auto; width: 36px; height: 20px; top: -10px; left: 10px; }
	.menu_box { width: 416px; }
	.menu_box img { width: 320px; margin: 36px auto; }
	.menu_btn a { height: 84px; line-height: 84px; font-size: 28px; }
	.menu_btn a i { margin: 0 12px; height: 84px; width: 34px; background-size: 68px auto; }

	.menu_btn .on i.m_score { background-position: -34px 0; }
	.menu_btn i.m_index { background-position: 0 -88px; }
	.menu_btn .on i.m_index { background-position: -34px -88px; }
	.menu_btn i.m_eurocup { background-position: 0 -176px; }
	.menu_btn .on i.m_eurocup { background-position: -34px -176px; }
	.menu_btn i.m_live { background-position: 0 -264px; }
	.menu_btn .on i.m_live { background-position: -34px -264px; }
	.menu_btn i.m_finish { background-position: 0 -352px; }
	.menu_btn .on i.m_finish { background-position: -34px -352px; }
	.menu_btn i.m_databank { background-position: 0 -440px; }
	.menu_btn .on i.m_databank { background-position: -34px -440px; }
	.menu_btn i.m_info { background-position: 0 -530px; }
	.menu_btn .on i.m_info { background-position: -34px -530px; }
	.menu_btn i.m_new { background-position: 0 -620px; }
	.menu_btn .on i.m_new { background-position: -34px -620px; }
	.menu_btn i.m_advise { background-position: 0 -704px; }
	.menu_btn .on i.m_advise { background-position: -34px -704px; }
	.menu_btn i.m_about { background-position: 0 -794px; }
	.menu_btn .on i.m_about { background-position: -34px -794px; }
	.menu_f_btn { bottom: 10px; }
	.menu_f_btn a { font-size: 24px; padding-top: 4px; }
	.menu_f_btn .a_set:after { height: 32px; width: 32px; background-size: 32px auto; top: -16px; }
	.menu_f_btn .a_dnd:after { height: 32px; width: 32px; background-size: 32px auto; top: -16px; }
	.menu_f_btn .a_foucs:after { height: 32px; width: 32px; background-position: 0 -80px; background-size: 32px auto; top: -16px; }

	/* 日期控件  */
	.gldp-default .core { font-size: 28px; }
	.gldp-default .monyear, .gldp-default .monyear select { font-size: 28px !important; }
	.gldp-default .monyear label { margin: 0 20px; }
	.gldp-default .next-arrow { width: 20px; height: 20px; }
	.gldp-default .prev-arrow { width: 20px; height: 20px; }
	.gldp-default .dow { margin-bottom: 1px; }
	.gldp-default .selected { width: 100px; height: 100px; }
	.time_box { padding-top: 88px; }
	/* 今日无完场*/
	.not_over p { font-size: 24px; padding-top: 100px; background-size: 112px 72px; }
	.not_over a { padding: 4px 12px; border-radius: 4px; height: 40px; font-size: 24px; line-height: 32px; }
	.not_over .left { margin-top: 20px; }
	.not_over .right { margin-top: 20px; }
	.not_over p.ball_p { padding-top: 160px; font-size: 24px; background-size: 232px auto; }

	/* 当前暂无进行中的比赛 */
	.not_game { top: 88px; }
	.not_game a { padding: 8px 12px; font-size: 24px; border-radius: 4px; margin-top: 20px; }
	.not_game p { padding-top: 160px; font-size: 24px; background-size: 232px auto; }

	/*日期条*/
	p.p_date { height: 30px; font-size: 22px; line-height: 30px; }

	/* 客户端PC 切换*/
	.score_change { height: 88px; }
	.score_change_box a { width: 80px; }
	.score_change_box a .client_a_icon { width: 40px; height: 40px; background-size: 40px auto; }
	.score_change_box a .client_a_text { font-size: 22px; }
	.score_change_box a .pc_a_icon { width: 40px; height: 40px; background-size: 40px auto; background-position: 0 -40px; }
	.score_change_box a .pc_a_text { font-size: 22px; }

	.bb_text .close { width: 28px; height: 28px; -moz-border-radius: 400px; -webkit-border-radius: 400px; -khtml-border-radius: 400px; border-radius: 400px; top: 6px; right: 8px; }
	.bb_pic { height: 60px; }
	.bb_pic .close { width: 36px; height: 36px; -moz-border-radius: 400px; -webkit-border-radius: 400px; -khtml-border-radius: 400px; border-radius: 400px; top: 12px; right: 8px; }
	.bb_pic img { height: 60px; }
	.bb_text { height: 40px; line-height: 40px; font-size: 22px; }
	.bb_top { top: 88px; min-height: 6px; }
	/*侧边栏*/
	.ballMenu_close em { width: 500px; }
	.ballMenu_box { width: 476px; padding: 0 0 0 24px; padding-top: 144px; }
	/*logo*/
	.ballMenu_box .b_logo { height: 144px; padding: 32px 0 32px 0; }
	.ballMenu_box .b_logo img { height: 80px; }
	/*菜单*/
	.ballMenu_box .b_menu { padding-right: 36px; }
	.ballMenu_box .bm_sort { margin-bottom: 20px; }
	/*顶部*/
	.ballMenu_box .bms_top { padding-bottom: 12px; }
	.ballMenu_box .bms_top p { font-size: 32px; line-height: 48px; padding: 4px 20px 4px 0; }
	.ballMenu_box .bms_top a { width: 56px; height: 56px; background-size: 28px auto; }
	/*列表*/
	.ballMenu_box .bm_sort ul { width: 422px; }
	.ballMenu_box .bm_sort ul li { /*width: 140px;*/ height: 132px; }
	.ballMenu_box .bm_sort ul a { width: 140px; height: 132px; padding: 72px 0px 0 0px; font-size: 24px; line-height: 24px; }
	.ballMenu_box .bm_sort ul a:after { top: 28px; width: 40px; height: 40px; background-size: 40px auto; }
	.ballMenu_box .bm_sort ul a.a_jszs:after { background-position: center -40px; }
	.ballMenu_box .bm_sort ul a.a_dhzb:after { background-position: center -80px; }
	.ballMenu_box .bm_sort ul a.a_wcsc:after { background-position: center -120px; }
	.ballMenu_box .bm_sort ul a.a_zlk:after { background-position: center -160px; }
	.ballMenu_box .bm_sort ul a.a_zx:after { background-position: center -200px; }
	.ballMenu_box .bm_sort ul a.a_qb:after { background-position: center -240px; }
	.ballMenu_box .bm_sort ul a.a_sqfx:after { background-position: center -280px; }
	.ballMenu_box .bm_sort ul a.a_zjtj:after { background-position: center -320px; }
	.ballMenu_box .bm_sort ul li.icon_new a:before { width: 40px; height: 20px; background-size: 40px 20px; }
	.ballMenu_box .bm_sort ul li.icon_hot a:before { width: 40px; height: 20px; background-size: 40px 20px; }
	.ballMenu_box .b_other ul { padding-top: 20px; }
	.ballMenu_box .b_other ul li { margin-bottom: 12px; }
	.ballMenu_box .b_other ul a { font-size: 32px; line-height: 48px; }
		/*侧边栏20161007*/
	.ballMenu_box .b_logo2 { padding: 32px 28px; }
	.ballMenu_box .b_logo2 a { width: 80px; height: 80px; background-size: 48px 40px; right: 32px; top: 32px; }

	/*下载提示弹出框*/
	.downloadTip_box{padding:2px;border-radius: 30px;}
	.downloadTip_box .dt_text{padding:66px;font-size: 42px;line-height: 60px;}
	.downloadTip_box .dt_btn{border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;}
	.downloadTip_box .dt_btn a{font-size: 42px;line-height: 120px;}

	.hintBox p { font-size: 32px;  line-height: 48px;  padding: 20px 28px; border-radius: 8px; }

	/*侧边栏 20170725*/
	.ballMenu_box .b_logo3{padding:32px 28px;}
	.ballMenu_box .b_logo3 .pc_a{width:48px;height:40px;background-size:48px 40px;right:32px;top:32px;}
	.ballMenu_box .b_logo3 img{height:40px;}
	/* 用户登陆 */
	.ballMenu_login{padding-top: 200px;}
	.ballMenu_box .user_login{height: 72px;top: 104px;padding:0 28px;}
	.ballMenu_box .user_login img{width: 72px;height: 72px;border-radius:72px;margin-right: 20px;}
	.ballMenu_box .user_login .go_login{font-size:28px;line-height: 72px;}
	.ballMenu_box .user_login .look_my_info span{font-size: 28px;line-height: 42px;}
	.ballMenu_box .user_login .look_my_info i{font-size: 20px;}


	.football_lead div a{width:300px;height:68px;line-height:68px;border-radius:8px;font-size:24px;}

	/*广告右下角浮窗*/
	.pop_rb{width: 128px;height: 152px;right: 32px;bottom: 120px;}

	/*广告全屏弹窗*/
	.pop_big_banner .pb_div{padding: 0 40px;}
	.pop_big_banner .pb_div .pbd_top img{border-radius: 12px;}
	.pop_big_banner .pb_div .pbd_top span{border-radius: 400px;width: 200px;height: 52px;line-height: 52px;}
	.pop_big_banner .pb_div .pbd_bottom{height: 52px;margin-top: 32px;}
	.pop_big_banner .pb_div .pbd_bottom a{width: 52px;height: 52px;border-radius: 400px;}
	.pop_big_banner .pb_div .pbd_bottom a:before{width: 28px;height: 4px;top:20px;left: 8px;}
	.pop_big_banner .pb_div .pbd_bottom a:after{width: 28px;height: 4px;top:20px;left: 8px;}
	/* 越南下载 */
	.vn_download{  height: 80px;padding-right: 72px;}
	.vn_download .vnImg{padding: 12px 0 12px 20px;}
	.vn_download .vnImg img{margin-right: 12px;}
	.vn_download  .vnText{padding-top:8px;}
	.vn_download  .vnText b{ font-size: 24px;line-height: 32px;}
	.vn_download  .vnText span{ font-size: 20px;line-height: 32px;}
	.vn_download  .vnbutton a{font-size: 20px;min-width: 128px;
	border-radius: 8px;
	font-size: 20px;line-height: 36px;margin-top: 24px;
	}
	.vn_download  .vnDel{
				
		padding: 20px 8px 20px 20px;
	}
	.vn_download  .vnDel img{width: 28px;}
	.vnDownloadBody .nav_top{top:80px!important;}
	.vnDownloadBody .score_tab{top: 168px !important;}
}

/* 解决iphone横屏时字体变大问题或者内容大小不一样 */
@media screen and (max-device-width: 320px) {
	body { -webkit-text-size-adjust: none; }
}

@media screen and (max-device-width: 480px) {
	body { -webkit-text-size-adjust: none; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	body { -webkit-text-size-adjust: none; }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body { -webkit-text-size-adjust: none; }
}
/*=============2018新年皮肤==============*/
/* .nav_top {background: #ca3636;}
.menu-b {background: #ca3636;}
.menu-b ul li a:after {background-image: url(/static/images/webapp/m/menu-b-icon-n.png);}
.menu-b ul li a { color: #fff;}
.menu-b ul li.on a { color: #ffbf44; } */