@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?gvffhw');
  src:  url('../../fonts/icomoon.eot?gvffhw#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?gvffhw') format('truetype'),
    url('../../fonts/icomoon.woff?gvffhw') format('woff'),
    url('../../fonts/icomoon.svg?gvffhw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-good:before {
  content: "\e908";
}
.icon-index:before {
  content: "\e900";
}
.icon-index_on:before {
  content: "\e901";
}
.icon-mine:before {
  content: "\e902";
}
.icon-mine_on:before {
  content: "\e903";
}
.icon-report:before {
  content: "\e904";
}
.icon-report_on:before {
  content: "\e905";
}
.icon-live:before {
  content: "\e906";
}
.icon-live_on:before {
  content: "\e907";
}
