.headTab{position: fixed;z-index: 300;width: 100%;height: 44px;border-bottom: 1px solid #dddddd;background:#fff;}
.headTab ul{height: 100%;font-size: 0;margin-left:12px;margin-right: 6px;}
.headTab ul li{display: inline-block;font-size: 14px;color:#afb6bc;vertical-align: top;margin-right: 15px;line-height: 50px;height: 43px;}
.headTab ul li.on{border-bottom: 3px solid #9a1032;color:#9a1032;font-weight: bold;}
.headTab ul li.h_second{position: relative;padding-right: 10px}
.headTab ul li.h_second span{position: relative;}
.headTab ul li.h_second span:after{position: absolute;display: block;content: '';border-top:6px solid #000;border-bottom: none;border-left: 4px solid rgba(0,0,0,0);border-right: 4px solid rgba(0,0,0,0);width: 0;height: 0;top: 6px;right: -12px }
.headTab ul li.h_second div{display: none;position: absolute;width: 88px;background:#222222;border-radius: 2px;z-index: 300;right: -14px;top: 54px}
.headTab ul li.h_second div:after{position: absolute;content: '';display: block;top: -10px;right: 10px;border-top: 0;border-left: 6px solid rgba(0,0,0,0);border-right: 6px solid rgba(0,0,0,0);border-bottom: 10px solid #222222}
.headTab ul li.h_second div a{display: block;width: 66px;margin:0 auto;height: 30px;line-height: 30px;color:#fff;font-size: 12px;text-align: center;}
.headTab ul li.h_second div a.bt{border-bottom: 1px solid #444444}
.app_down{display:inline-block;width:78px;height:30px;background:url(../../images/app_down.png) no-repeat center 0;background-size:auto 100%;position:absolute;top:10px;right:6px;}
.app_down_en{display:inline-block;width:78px;height:30px;background:url(../../images/app_down_en.png) no-repeat center 0;background-size:auto 100%;position:absolute;top:10px;right:6px;}
.app_down_kr{display:inline-block;width:78px;height:30px;background:url(../../images/app_down_kr.png) no-repeat center 0;background-size:auto 100%;position:absolute;top:10px;right:6px;}
.app_down_jp{display:inline-block;width:78px;height:30px;background:url(../../images/app_down_jp.png) no-repeat center 0;background-size:auto 100%;position:absolute;top:10px;right:6px;}

.bodyBox{padding-top:44px;padding-bottom: 52px }

.tabC{display: none}
.tabC .t_list{overflow: hidden;}
.tabC .t_list .tl_date{background:#f7f5f5;height: 20px;border-left: 5px solid #9a1032;;padding-left: 6px;margin-bottom: 14px}
.tabC .t_list .tl_date span{margin-right: 10px;color:#9a1032;font-size: 12px;line-height: 20px;}
.tabC .t_list .tl_box{display: none;position: relative;margin-left: 12px;margin-right: 12px;margin-bottom: 10px;box-shadow: 0 0 8px rgba(0,0,0,0.15);background:#fff;border-radius: 6px}
.tabC .t_list .tl_on{display: block;}
.tabC .t_list .tl_box .tlb_box{display: block;padding: 8px 0 0;padding-bottom:12px;}
.tabC .t_list .tl_box .tlb_box .tlbb_title{height: 26px;padding-left: 8px}
.tabC .t_list .tl_box .tlb_box .tlbb_title span{color:#666666;font-size: 12px}
.tabC .t_list .tl_box .tlb_box .tlbb_title span.t1{color:#666666;background:#eeeeee;margin-right: 18px;padding: 4px 6px}
.tabC .t_list .tl_box .tlb_box .tlbb_title span.t2{color:#666666;border-left: 1px solid #666666;padding-left: 6px;margin-left: 8px;}
.tabC .t_list .tl_box .tlb_box .tlbb_title span.time{float:right;padding-right:8px;color:#9a1032;}
.tabC .t_list .tl_box .tlb_box .tlbb_title span.end{color:#999999;}
.tabC .t_list .tl_box .tlb_box .tlbb_title span.will{color:#ff8a00;}
.tabC .t_list .tl_box .tlb_box .tlbb_box{font-size: 0;padding-left: 8px;padding-right: 8px;text-align:center;}
.tabC .t_list .tl_box .tlb_box .tlbb_box div{display: inline-block;vertical-align: top;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .time{color:#9a1032;font-size: 12px;width: 42px;text-align: center;padding-top: 20px }
.tabC .t_list .tl_box .tlb_box .tlbb_box .end{color:#777777;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .will{color:#ff8a00;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .img{border: 2px solid #eeeeee;width: 22px;height: 22px;border-radius: 200px;margin: 12px 4px 0;overflow: hidden;position:relative;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .img img{width:auto;height:100%;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info{font-size: 12px;width:32%;text-align:left;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info .i1{color: #999999;display: block;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2{margin-bottom: 10px;position: relative;display: inline-block;max-width: 100%}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 span{display: inline-block;font-weight: bold;color: #222222;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_card{position: absolute;font-weight: normal;width: 10px;height: 12px;line-height: 12px;background: #cc1300;border-radius: 2px;top: 2px;color:#fff;text-align: center;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_l{left: -12px}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_r{right: -12px}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .yellow_card{position: absolute;font-weight: normal;width: 10px;height: 12px;line-height: 12px;background: #ff8a00;border-radius: 2px;top: 2px;color:#fff;text-align: center;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .yellow_l{left: -24px}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .yellow_r{right: -24px}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info .i3{background:#ffe9be;color: #ff8a00;padding: 2px 6px}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info .green{color:#479a4d;background:#e4f4e4;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .info .red{color:#9a1032;background:#ffeded;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .r{text-align: right;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .vs{font-size: 12px;position: relative;padding-top: 16px;width: 40px;text-align: center;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .vs span{font-weight: bold;}
.tabC .t_list .tl_box .tlb_box .tlbb_box .vs em{position: absolute;top: 10px;font-size: 12px;top: 40px;white-space: nowrap;background:#eeeeee;color:#777777;padding:2px 4px;left:50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-o-transform: translateX(-50%);-ms-transform: translateX(-50%);}
.tabC .t_list .tl_box .tlb_guess{background:#9a1032;color:#fff;font-size: 12px;z-index: 100;position: absolute;top: 4px;right: 18px;border-radius: 4px;width: 76px;height: 24px;text-align: center;line-height: 24px}
.tabC .t_list .tl_box .tlb_collect{width: 30px;height: 30px;position: absolute;z-index: 100;right: 10px;top: 64px;background:url('//static.7m.com.cn/images/webapp/m/fifa2018/live/collect.png') no-repeat -2px 0px;background-size: 30px}
.tabC .t_list .tl_box .on{background-position-y:-30px}
.tabC .t_list .tl_box .tlbb_remark{background:#9a1032;min-height: 22px;line-height: 18px;padding: 6px 0;text-align: center;color:#fff;font-size: 12px;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}

.bayesBoxNoLogin{padding:8px 0;margin:0 8px;border-top:1px solid #eeeeee;overflow:hidden;}
.bayesBoxNoLogin p{display:inline-block;color:#9a1032;font-size:12px;vertical-align:middle;}
.bayesBoxNoLogin p i{display:inline-block;width:12px;height:12px;margin-right:3px;background:url(../../images/ball_icon.png) no-repeat 0 0;background-size:100% auto;vertical-align:-1px;}
.bayesBoxNoLogin a{float:right;width:60px;height:22px;line-height:22px;color:#fff;font-size:12px;background:#9a1032;border-radius:4px;text-align:center;}

.bayesBox{padding:8px 0;margin:0 8px;border-top:1px solid #eeeeee;overflow:hidden;}
.bayesBox p{color:#222;font-size:12px;padding-bottom:2px;}
.bayesBarBox{height:12px;line-height:12px;background:#eeeeee;border-radius:7px;overflow:hidden;position:relative;}
.bayesBar{height:12px;line-height:12px;background:#aeb5bb;}
.bayesBarBox p{padding-left:15px;color:#fff;font-size:12px;position:absolute;top:0;left:0;}
.homeBlue{background:#17a4eb;}
.awayRed{background:#d54453;}
.noGrey{background:#aeb5bb;}

/*赛程*/
.tab_m{overflow-x: auto;height: 38px;width: 100%;white-space: nowrap;padding-left: 10px}
.tab_m a{padding: 0 10px;text-align: center;display: inline-block;height: 24px;line-height: 24px;color: #222222;background:#cccccc;margin-top:6px;margin-right: 8px;font-size: 12px;vertical-align: top;border-radius: 8px;border-top-right-radius: 0}
.tab_m a.on{color:#fff;background:#9a1032;}

/*弹窗*/
.pop_div{position: fixed;bottom: 52px;left: 5%;width: 90%;z-index: 280;text-align: center;overflow:hidden;}
.pop_div .pd_box{background:#1d2934;border-radius: 18px;padding: 8px 16px;display: inline-block;position: relative;margin-bottom: 6px;width: 100%;height: 35px;line-height: 18px;}
.pop_div .pd_box:before{content: '';position: absolute;display: block;width: 18px;height: 18px;background:url('//static.7m.com.cn/images/webapp/m/fifa2018/live/ball.png') no-repeat center 0;background-size: 18px;top: 8px;left: 50px;}
.pop_div .pd_goal:before{background-position-y: 0}
.pop_div .pd_goal_cancel:before{background:url('../../images/cancelBall.png') no-repeat center 0;background-size: 18px;}
.pop_div .pd_red:before{width: 16px;height: 20px;background:#ee544f;left: 50px;top: 7.5 px}
.pop_div .pd_yellow:before{width: 16px;height: 20px;background:#ff8a00;left: 50px;top: 7.5 px}
.pop_div .pd_box:after{content: '';position: absolute;display: block;bottom:-6px;left: 50%;margin-left: -6px;width: 0;height: 0;border-top: 6px solid #1d2934;border-left: 6px solid rgba(0,0,0,0);border-right: 6px solid rgba(0,0,0,0);border-bottom: 0px}
.pop_div_en .pd_box:after{visibility: hidden;}
.pop_div .pd_box p{color:#fff;font-size: 12px;padding-left: 28px;text-align: center;padding-bottom: 4px;padding-right: 6px}
.pop_div .pd_box p span{color:#ee544f;}

#lang_en .headTab ul li{margin-right: 10px}
#lang_kr .headTab ul li{margin-right: 12px}
#lang_th .headTab ul li{margin-right: 10px}
#lang_vn .headTab ul li{margin-right: 12px}
#lang_jp .headTab ul li{margin-right: 10px;font-size:12px;}

#lang_jp .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 span{max-width: 98%}
#lang_jp .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_l{left: -0px}
#lang_jp .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_r{right: -0px}

#lang_vn .tabC .t_list .tl_box .tlb_box .tlbb_box .info{width:23%}
#lang_vn .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_l{left: -4px}
#lang_vn .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_r{right: -4px}

#lang_th .headTab ul li.h_second div a{width: auto}

@media screen and (min-width: 374px) and (max-width: 479px) {
    .headTab{height: 52px;}
    .headTab ul{margin-left:14px;margin-right: 8px;}
    .headTab ul li{font-size: 16px;margin-right: 18px;line-height: 60px;height: 52px;}
    .headTab ul li.h_second{padding-right: 12px;}
    .headTab ul li.h_second span:after{top: 8px;right: -14px ;}
    .headTab ul li.h_second div{width: 106px;border-radius: 2px;right: -16px;top: 64px;}
    .headTab ul li.h_second div:after{top: -12px;right: 12px;}
    .headTab ul li.h_second div a{width: 80px;height: 36px;line-height: 36px;font-size: 14px;}
    .app_down{width:94px;height:36px;top:12px;right:8px;}
    .app_down_en{width:94px;height:36px;top:12px;right:8px;}
    .app_down_kr{width:94px;height:36px;top:12px;right:8px;}
    
    .bodyBox{padding-top:52px;padding-bottom: 62px ;}
    .tabC .t_list .tl_date{height: 24px;;padding-left: 8px;margin-bottom: 16px;}
    .tabC .t_list .tl_date span{margin-right: 12px;font-size: 14px;line-height: 24px;}
    .tabC .t_list .tl_box{margin-left: 14px;margin-right: 14px;margin-bottom: 12px;box-shadow: 0 0 10px rgba(0,0,0,0.15);border-radius: 8px;}
    .tabC .t_list .tl_box .tlb_box{padding: 10px 0 0;padding-bottom:14px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title{height: 32px;padding-left: 10px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title span{font-size: 14px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title span.t1{margin-right: 22px;padding: 4px 8px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title span.t2{padding-left: 8px;margin-left: 10px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title span.time{padding-right:10px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box{padding-left: 10px;padding-right: 10px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .time{font-size: 14px;width: 50px;padding-top: 24px ;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .img{width: 26px;height: 26px;border-radius: 240px;margin: 14px 4px 0;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info{font-size: 14px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2{margin-bottom: 12px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_card{width: 12px;height: 14px;line-height: 14px;border-radius: 2px;top: 2px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_l{left: -14px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_r{right: -14px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .yellow_card{width: 12px;height: 14px;line-height: 14px;border-radius: 2px;top: 2px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .yellow_l{left: -28px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .yellow_r{right: -28px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i3{padding: 2px 8px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .vs{font-size: 14px;padding-top: 20px;width: 48px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .vs em{top: 12px;font-size: 14px;top: 48px;padding:2px 4px;}
    .tabC .t_list .tl_box .tlb_guess{font-size: 14px;top: 4px;right: 22px;border-radius: 4px;width: 92px;height: 28px;line-height: 28px;}
    .tabC .t_list .tl_box .tlb_collect{width: 36px;height: 36px;right: 12px;top: 76px;background:url('//static.7m.com.cn/images/webapp/m/fifa2018/live/collect.png') no-repeat -2px 0px;background-size: 36px;}
    .tabC .t_list .tl_box .on{background-position-y:-36px;}
    .tabC .t_list .tl_box .tlbb_remark{min-height: 26px;line-height: 22px;padding: 8px 0;font-size: 14px;}
    
    .bayesBoxNoLogin{padding:10px 0;margin:0 10px;}
    .bayesBoxNoLogin p{font-size:14px;}
    .bayesBoxNoLogin p i{width:14px;height:14px;margin-right:4px;vertical-align:-2px;}
    .bayesBoxNoLogin a{width:72px;height:26px;line-height:26px;font-size:14px;border-radius:4px;}
    
    .bayesBox{padding:10px 0;margin:0 10px;}
    .bayesBox p{font-size:14px;padding-bottom:2px;}
    .bayesBarBox{height:14px;line-height:14px;border-radius:8px;}
    .bayesBar{height:14px;line-height:14px;}
    .bayesBarBox p{padding-left:18px;font-size:14px;}
    
    /*赛程*/
    .tab_m{height: 46px;padding-left: 12px;}
    .tab_m a{padding: 0 12px;height: 28px;line-height: 28px;margin-top:8px;margin-right: 10px;font-size: 14px;border-radius: 10px;}
    
    /*弹窗*/
    .pop_div{bottom: 62px;}
    .pop_div .pd_box{border-radius: 22px;padding: 10px 20px;margin-bottom: 8px;height: 42px;line-height: 22px;}
    .pop_div .pd_box:before{width: 22px;height: 22px;background-size: 22px;top: 10px;left: 60px;}
    .pop_div .pd_goal_cancel:before{background-size: 22px;}
    .pop_div .pd_red:before{width: 20px;height: 24px;left: 60px;}
    .pop_div .pd_yellow:before{width: 20px;height: 24px;left: 60px;}
    .pop_div .pd_box:after{bottom:-8px;margin-left: -8px;}
    .pop_div .pd_box p{font-size: 14px;padding-left: 34px;padding-bottom: 4px;padding-right: 8px;}
    
    #lang_en .headTab ul li{margin-right: 12px;}
    #lang_kr .headTab ul li{margin-right: 14px;}
    #lang_th .headTab ul li{margin-right: 12px;}
    #lang_vn .headTab ul li{margin-right: 14px;}
    #lang_jp .headTab ul li{margin-right: 12px;font-size:14px;}
    #lang_vn .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_l{left: -4px;}
    #lang_vn .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_r{right: -4px;}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    .headTab{height: 66px;}
    .headTab ul{margin-left:18px;margin-right: 8px;}
    .headTab ul li{font-size: 20px;margin-right: 22px;line-height: 74px;height: 64px;}
    .headTab ul li.h_second{padding-right: 14px;}
    .headTab ul li.h_second span:after{top: 8px;right: -18px ;}
    .headTab ul li.h_second div{width: 132px;border-radius: 2px;right: -20px;top: 80px;}
    .headTab ul li.h_second div:after{top: -14px;right: 14px;}
    .headTab ul li.h_second div a{width: 98px;height: 44px;line-height: 44px;font-size: 18px;}
    .app_down{width:116px;height:44px;top:14px;right:8px;}
    .app_down_en{width:116px;height:44px;top:14px;right:8px;}
    .app_down_kr{width:116px;height:44px;top:14px;right:8px;}
    .app_down_jp{width:116px;height:44px;top:14px;right:8px;}
    
    .bodyBox{padding-top:66px;padding-bottom: 78px ;}
    .tabC .t_list .tl_date{height: 30px;;padding-left: 8px;margin-bottom: 20px;}
    .tabC .t_list .tl_date span{margin-right: 14px;font-size: 18px;line-height: 30px;}
    .tabC .t_list .tl_box{margin-left: 18px;margin-right: 18px;margin-bottom: 14px;box-shadow: 0 0 12px rgba(0,0,0,0.15);border-radius: 8px;}
    .tabC .t_list .tl_box .tlb_box{padding: 12px 0 0;padding-bottom:18px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title{height: 38px;padding-left: 12px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title span{font-size: 18px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title span.t1{margin-right: 26px;padding: 6px 8px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title span.t2{padding-left: 8px;margin-left: 12px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title span.time{padding-right:12px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box{padding-left: 12px;padding-right: 12px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .time{font-size: 18px;width: 62px;padding-top: 30px ;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .img{width: 32px;height: 32px;border-radius: 300px;margin: 18px 6px 0;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info{font-size: 18px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2{margin-bottom: 14px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_card{width: 14px;height: 18px;line-height: 18px;border-radius: 2px;top: 2px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_l{left: -18px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_r{right: -18px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .yellow_card{width: 14px;height: 18px;line-height: 18px;border-radius: 2px;top: 2px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .yellow_l{left: -36px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .yellow_r{right: -36px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i3{padding: 2px 8px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .vs{font-size: 18px;padding-top: 24px;width: 60px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .vs em{top: 14px;font-size: 18px;top: 60px;padding:2px 6px;}
    .tabC .t_list .tl_box .tlb_guess{font-size: 18px;top: 6px;right: 26px;border-radius: 6px;width: 114px;height: 36px;line-height: 36px;}
    .tabC .t_list .tl_box .tlb_collect{width: 44px;height: 44px;right: 14px;top: 96px;background:url('//static.7m.com.cn/images/webapp/m/fifa2018/live/collect.png') no-repeat -2px 0px;background-size: 44px;}
    .tabC .t_list .tl_box .on{background-position-y:-44px;}
    .tabC .t_list .tl_box .tlbb_remark{min-height: 32px;line-height: 26px;padding: 8px 0;font-size: 18px;}
    
    .bayesBoxNoLogin{padding:12px 0;margin:0 12px;}
    .bayesBoxNoLogin p{font-size:18px;}
    .bayesBoxNoLogin p i{width:18px;height:18px;margin-right:4px;vertical-align:-2px;}
    .bayesBoxNoLogin a{width:90px;height:32px;line-height:32px;font-size:18px;border-radius:6px;}
    
    .bayesBox{padding:12px 0;margin:0 12px;}
    .bayesBox p{font-size:18px;padding-bottom:2px;}
    .bayesBarBox{height:18px;line-height:18px;border-radius:10px;}
    .bayesBar{height:18px;line-height:18px;}
    .bayesBarBox p{padding-left:22px;font-size:18px;}
    
    /*赛程*/
    .tab_m{height: 56px;padding-left: 14px;}
    .tab_m a{padding: 0 14px;height: 36px;line-height: 36px;margin-top:8px;margin-right: 12px;font-size: 18px;border-radius: 12px;}
    
    /*弹窗*/
    .pop_div{bottom: 78px;}
    .pop_div .pd_box{border-radius: 26px;padding: 12px 24px;margin-bottom: 8px;height: 52px;line-height: 26px;}
    .pop_div .pd_box:before{width: 26px;height: 26px;background-size: 26px;top: 12px;left: 74px;}
    .pop_div .pd_goal_cancel:before{background-size: 26px;}
    .pop_div .pd_red:before{width: 24px;height: 30px;left: 74px;}
    .pop_div .pd_yellow:before{width: 24px;height: 30px;left: 74px;}
    .pop_div .pd_box:after{bottom:-8px;margin-left: -8px;}
    .pop_div .pd_box p{font-size: 18px;padding-left: 42px;padding-bottom: 6px;padding-right: 8px;}
    
    #lang_en .headTab ul li{margin-right: 14px;}
    #lang_kr .headTab ul li{margin-right: 18px;}
    #lang_th .headTab ul li{margin-right: 14px;}
    #lang_vn .headTab ul li{margin-right: 18px;}
    #lang_jp .headTab ul li{margin-right: 14px;font-size:18px;}
    #lang_vn .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_l{left: -6px;}
    #lang_vn .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_r{right: -6px;}
}

@media screen and (min-width: 640px) {
    .headTab{height: 88px;}
    .headTab ul{margin-left:24px;margin-right: 12px;}
    .headTab ul li{font-size: 28px;margin-right: 30px;line-height: 100px;height: 86px;}
    .headTab ul li.h_second{padding-right: 20px;}
    .headTab ul li.h_second span:after{top: 12px;right: -24px ;}
    .headTab ul li.h_second div{width: 176px;border-radius: 4px;right: -28px;top: 108px;}
    .headTab ul li.h_second div:after{top: -20px;right: 20px;}
    .headTab ul li.h_second div a{width: 132px;height: 60px;line-height: 60px;font-size: 24px;}
    .app_down{width:156px;height:60px;top:20px;right:12px;}
    .app_down_en{width:156px;height:60px;top:20px;right:12px;}
    .app_down_kr{width:156px;height:60px;top:20px;right:12px;}
    .app_down_jp{width:156px;height:60px;top:20px;right:12px;}
    
    .bodyBox{padding-top:88px;padding-bottom: 104px ;}
    .tabC .t_list .tl_date{height: 40px;;padding-left: 12px;margin-bottom: 28px;}
    .tabC .t_list .tl_date span{margin-right: 20px;font-size: 24px;line-height: 40px;}
    .tabC .t_list .tl_box{margin-left: 24px;margin-right: 24px;margin-bottom: 20px;box-shadow: 0 0 16px rgba(0,0,0,0.15);border-radius: 12px;}
    .tabC .t_list .tl_box .tlb_box{padding: 16px 0 0;padding-bottom:24px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title{height: 52px;padding-left: 16px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title span{font-size: 24px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title span.t1{margin-right: 36px;padding: 8px 12px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title span.t2{padding-left: 12px;margin-left: 16px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_title span.time{padding-right:16px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box{padding-left: 16px;padding-right: 16px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .time{font-size: 24px;width: 84px;padding-top: 40px ;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .img{width: 44px;height: 44px;border-radius: 400px;margin: 24px 8px 0;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info{font-size: 24px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2{margin-bottom: 20px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_card{width: 20px;height: 24px;line-height: 24px;border-radius: 4px;top: 4px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_l{left: -24px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_r{right: -24px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .yellow_card{width: 20px;height: 24px;line-height: 24px;border-radius: 4px;top: 4px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .yellow_l{left: -48px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .yellow_r{right: -48px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i3{padding: 4px 12px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .vs{font-size: 24px;padding-top: 32px;width: 80px;}
    .tabC .t_list .tl_box .tlb_box .tlbb_box .vs em{top: 20px;font-size: 24px;top: 80px;padding:4px 8px;}
    .tabC .t_list .tl_box .tlb_guess{font-size: 24px;top: 8px;right: 36px;border-radius: 8px;width: 152px;height: 48px;line-height: 48px;}
    .tabC .t_list .tl_box .tlb_collect{width: 60px;height: 60px;right: 20px;top: 128px;background:url('//static.7m.com.cn/images/webapp/m/fifa2018/live/collect.png') no-repeat -4px 0px;background-size: 60px;}
    .tabC .t_list .tl_box .on{background-position-y:-60px;}
    .tabC .t_list .tl_box .tlbb_remark{min-height: 44px;line-height: 36px;padding: 12px 0;font-size: 24px;}
    
    .bayesBoxNoLogin{padding:16px 0;margin:0 16px;}
    .bayesBoxNoLogin p{font-size:24px;}
    .bayesBoxNoLogin p i{width:24px;height:24px;margin-right:6px;vertical-align:-2px;}
    .bayesBoxNoLogin a{width:120px;height:44px;line-height:44px;font-size:24px;border-radius:8px;}
    
    .bayesBox{padding:16px 0;margin:0 16px;}
    .bayesBox p{font-size:24px;padding-bottom:4px;}
    .bayesBarBox{height:24px;line-height:24px;border-radius:14px;}
    .bayesBar{height:24px;line-height:24px;}
    .bayesBarBox p{padding-left:30px;font-size:24px;}
    
    /*赛程*/
    .tab_m{height: 76px;padding-left: 20px;}
    .tab_m a{padding: 0 20px;height: 48px;line-height: 48px;margin-top:12px;margin-right: 16px;font-size: 24px;border-radius: 16px;}
    
    /*弹窗*/
    .pop_div{bottom: 104px;}
    .pop_div .pd_box{border-radius: 36px;padding: 16px 32px;margin-bottom: 12px;height: 70px;line-height: 36px;}
    .pop_div .pd_box:before{width: 36px;height: 36px;background-size: 36px;top: 16px;left: 100px;}
    .pop_div .pd_goal_cancel:before{background-size: 36px;}
    .pop_div .pd_red:before{width: 32px;height: 40px;left: 100px;}
    .pop_div .pd_yellow:before{width: 32px;height: 40px;left: 100px;}
    .pop_div .pd_box:after{bottom:-12px;margin-left: -12px;}
    .pop_div .pd_box p{font-size: 24px;padding-left: 56px;padding-bottom: 8px;padding-right: 12px;}
    
    #lang_en .headTab ul li{margin-right: 20px;}
    #lang_kr .headTab ul li{margin-right: 24px;}
    #lang_th .headTab ul li{margin-right: 20px;}
    #lang_vn .headTab ul li{margin-right: 24px;}
    #lang_jp .headTab ul li{margin-right: 20px;font-size:24px;}
    #lang_vn .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_l{left: -8px;}
    #lang_vn .tabC .t_list .tl_box .tlb_box .tlbb_box .info .i2 .red_r{right: -8px;}
}



.boalBroadcast{
    font-size: 3.4vw;
    color: #9a1032;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2.5vw 0;
    border-top: 1px solid #eeeeee;
    margin: 0 1vw;
}