/**
 * @author: Jicc(103698177) on 2019/9/9
 */
.urs-wrap *{-webkit-box-sizing: unset; -moz-box-sizing: unset; box-sizing: unset; }
/* 主框架 */
.urs-wrap{width:100%;height:100%;overflow-y:auto;position:fixed;left:0;top:100%;z-index:999;text-align:center;background:#fff;transition:all 1s ease;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;}
.urs-reg-wrap{top:0;}
.urs-main{display:inline-block;vertical-align:middle;width:100%;}
.urs-main-padding{padding:44px 0 20px;}
/*.urs-login-main, .urs-reg-main{padding-bottom:110px;}*/
.urs-top{width:100%;height:44px;line-height:44px;font-size:0;text-align:left;background:#9a1032;}
.urs-top-fixed{position:fixed;top:0;}
.urs-top span{display:inline-block;vertical-align:middle;}
.urs-top span.urs-logo{width:87px;height:100%;margin-left:15px;background:url('/static_m/images/login/m-urs-logo.png') no-repeat 0 0;background-size:100% 100%;}
.urs-top span.urs-title, .urs-top span.urs-pwd-title, .urs-top span.urs-per-title{width:40%;height:100%;padding-left:4px;color:#fff;font-size:12px;font-weight:bold;white-space:nowrap;font-style:italic;}
.urs-top span.urs-title:before, .urs-top span.urs-pwd-title:before, .urs-top span.urs-per-title:before{content:"- ";}
.urs-top span.urs-close{float:right;width:12%;height:100%;background:url('/static_m/images/login/m-urs-close.png') no-repeat center center;background-size:15px 15px;}
.urs-top span.urs-back{float:right;height:20px;line-height:20px;padding:0 5px;margin:12px 10px 0 0;color:#9a1032;font-size:12px;text-align:center;border-radius:3px;background:#fff;}
.urs-tab{height:24px;margin:0 5.4%;margin-top:20px;font-size:0;border:1px solid #9a1032;border-radius:3px;display:flex;display:-webkit-flex;display:-moz-flex;display:-o-flex;display:-ms-flex;}
.urs-tab span{flex:1;-webkit-flex:1;-webkit-flex:1;-moz-flex:1;-o-flex:1;-ms-flex:1;height:24px;line-height:24px;color:#9a1032;font-size:12px;white-space:nowrap;}
.urs-tab span:nth-child(2){border:solid #9a1032;border-width:0 1px;}
.urs-tab span.on{color:#fff;background:#9a1032;cursor:default;}
.urs-wrap input{width:110%;height:26px;line-height:26px;padding-left:5px;color:#666;font-size:12px;border:0;background:none;outline:none;}
.urs-wrap input::-webkit-input-placeholder {color:#c4c4c4;}
.urs-wrap input:-moz-placeholder {color:#c4c4c4;}
.urs-wrap input::-moz-placeholder {color:#c4c4c4;}
.urs-wrap input::-ms-input-placeholder {color:#c4c4c4;}
.placeholder{color:#c4c4c4}
/* 账号登录 */
.urs-block-account{margin:0 5.4%;padding:20px 0 0;}
.urs-input-box{width:100%;height:26px;font-size:0;text-align:left;border-bottom:1px solid #7e7c8a;}
.urs-input-box span{display:inline-block;}
.urs-input-box span.urs-input{float:left;width:85%;}
.urs-input-box span.urs-clear{float:right;width:16px;height:26px;background:url('/static_m/images/login/m-urs-clear.png') no-repeat center center;background-size:12px 12px;display:none;}
.urs-input-box span.urs-pw-stats{float:right;width:18px;height:26px;background:url('/static_m/images/login/m-urs-pw-hide.png') no-repeat center center;background-size:15px 10px;}
.urs-input-box span.urs-pw-show{background:url('/static_m/images/login/m-urs-pw-show.png') no-repeat center center;background-size:15px 10px;}
.urs-tips-box{clear:both;height:15px;line-height:15px;padding-top:4px;text-align:left;}
.urs-tips-box span.urs-tips-error{color:#ff4b7a;font-size:12px;padding-left:5px;}
.urs-tips-box a.urs-pw-forgot{float:right;color:#666;font-size:12px;}
.urs-btn-box{margin:0 5.4%;padding-top:20px;}
.urs-btn-box a.urs-login-btn{display:block;height:30px;line-height:30px;color:#fff;font-size:15px;font-weight:bold;border-radius:3px;background:#9a1032;}
.urs-btn-box a.urs-pre-btn{display:block;width:100%;height:46px;line-height:46px;color:#666;font-size:18px;border-radius:6px;background:#f0f0f0;}
.active{border-bottom:1px solid #9a1032;}
.active_err{border-bottom:1px solid #ff4b7a;}
/* 手机登录 */
.urs-item-box{clear:both;}
.urs-area-code{float:left;width:23%;position:relative;}
.urs-input-box span.urs-area{float:left;width:58%;height:26px;line-height:26px;padding-left:8px;color:#666;font-size:12px;}
.urs-input-box span.urs-arr{float:right;width:10px;height:26px;margin-right:6px;background:url('/static_m/images/login/m-urs-arr.png') no-repeat center center;background-size:10px 4px;}
.urs-phone{float:right;width:73%;}
.urs-get-code{float:right;width:120px;height:24px;line-height:24px;color:#fff;font-size:12px;border-radius:4px;background:#9a1032;}
.urs-send-code{color:#9a1032;border:1px solid #9a1032;background:none;}
.urs-over-code{color:#9a1032;border:1px solid #9a1032;background:none;}
/* 选择国家地区 */
.country{position: fixed;top:0;left:100%;width:100%;height:100%;z-index:1000;transition:all 1s ease;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;}
.country .countryBox{width: 100%;}
.country .countryBox h1{height: 26px;line-height: 26px;color: #fff;font-size: 12px;background: #00385f;text-align: center;}
.country .countryBox .top{height:20px;line-height:20px;padding:0 15px;color:#fff;text-align:left;background:#6f6e7e;}
.country .countryBox .menu{width:24px;margin-top:20px;font-size:0;text-align:center;position:absolute;right:0;top:50%;z-index:99;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%);}
.country .countryBox .menu a{display:inline-block;width:14px;height:14px;line-height:12px;color:#fff;font-size: 12px;}
.country .countryBox .menu a.on{color:#fff;background:#9a1032;border-radius:50%;}
.country .countryBox .country_scroll {background: #444551;height: 100%;overflow: auto;-webkit-overflow-scrolling: touch;}
.country .countryBox .country_scroll .p1{padding:10px 0;margin:0 25px 0 15px;color:#c4c4c4;font-size: 12px;border-top:1px solid #9a1032;}
.country .countryBox .country_scroll .nb{border:0;}
.country .countryBox .country_scroll span{display: inline-block;text-align: left;width: 70%;}
.country .countryBox .country_scroll em{float: right;width: 30%;text-align: right;}
.country .countryBox .country_scroll .title{height:20px;line-height:20px;padding:0 15px;color:#fff;font-size:12px;text-align:left;background:#6f6e7e;}
/* 登录/注册/第三方登录 切换工具 */
.urs-tool{width:100%;}
.urs-goReg-box{margin:0 5.4%;padding-top:20px;}
.urs-goReg-box p{padding-bottom:5px;color:#c4c4c4;font-size:12px;text-align:left;}
.urs-goReg-box a.urs-go-btn{display:block;height:30px;line-height:30px;color:#9a1032;font-size:15px;border:1px solid #9a1032;border-radius:3px;background:#fff;}
.urs-goLogin-box{float:right;padding-right:20px;}
.urs-goLogin-box a.urs-go-btn{display:inline-block;line-height:30px;color:#666;font-size:14px;}
.urs-tpl-box{padding-top:45px;margin:0 5.4%;font-size:0;}
.urs-tpl-box span.urs-tpl-title{display:block;width:100%;height:1px;margin-bottom:28px;background:#7e7c8a;position:relative;}
.urs-tpl-box span.urs-tpl-title em{display:inline;height:14px;line-height:14px;color:#666;font-size:12px;padding:0 10px;background:#fff;position:absolute;top:50%;left:50%;z-index:2;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.urs-tpl-box i{display:inline-block;width:36px;height:36px;margin:0 22px;vertical-align:middle;background:url('/static_m/images/login/m-tpl-i.png') no-repeat 0 0;background-size:36px 168px;}
.urs-tpl-box i.urs-tpl-fb{background-position:0 -132px;}
.urs-tpl-box i.urs-tpl-tw{background-position:0 -66px;}
.urs-tpl-box i.urs-tpl-gm{background-position:0 0;}
/* 未绑定手机/邮箱模块 */
.urs-unbind-main{/*padding-bottom:60px;*/}
.urs-bind-tips{line-height:16px;padding:0 5.4%;margin-top:20px;color:#c4c4c4;font-size:12px;text-align:left;}
.urs-unbind-box{margin:0 5.4%;padding:15px 0 0;}
input.urs-checkbox{display:inline-block;width:14px;height:20px;padding:0;vertical-align:top;}
.urs-agree-box{padding-top:10px;margin:0 5.4%;font-size:0;text-align:left;}
.urs-agree-box input[type=checkbox]{padding:0;}
.urs-term{display:inline-block;width:90%;padding-left:5px;color:#c4c4c2;font-size:12px;vertical-align:top;}
.urs-term a{color:#9a1032;}
.urs-unbind-btn{margin:0 5.4%;padding-top:10px;}
a.urs-next-btn{display:inline-block;width:100%;height:30px;line-height:30px;color:#fff;font-size:15px;font-weight:bold;border-radius:3px;background:#555764;}
.urs-unbind-btn a.on{color:#2e2f3d;background:#9a1032;}
/* 已绑定手机/邮箱模块 */
.urs-bind-main{/*padding-bottom:48px;*/}
.urs-bind-text{padding:20px 5.4% 10px;text-align:left;}
.urs-bind-text dt{line-height:24px;color:#c4c4c4;font-size:12px;}
.urs-bind-text dd{line-height:24px;color:#9a1032;font-size:12px;font-weight:bold;}
.urs-bind-btn{margin:0 5.4%;font-size:0;}
.urs-bind-btn a{display:block;width:100%;height:30px;line-height:30px;margin-top:15px;color:#9a1032;font-size:15px;border:1px solid #9a1032;border-radius:3px;background:#444551;}
.urs-bind-btn a.on{color:#2e2f3d;font-weight:bold;background:#9a1032;}
/* 绑定/登录成功模块 */
.urs-success-main{padding:80px 0 0;}
.urs-success-tips{font-size:0;}
.urs-success-tips i{display:inline-block;width:50px;height:50px;background:url('/static_m/images/login/m-urs-right-i.png') no-repeat 0 0;background-size:100% 100%;}
.urs-success-tips span{display:block;padding-top:5px;color:#9a1032;font-size:12px;font-weight:bold;}
.urs-success-avatar{display:inline-block;width:50px;height:50px;margin-top:30px;border:3px solid #e9e9e9;border-radius:50%;overflow:hidden;}
.urs-success-avatar img{width:100%;}
.urs-success-name{padding-top:5px;color:#fff;font-size:12px;}
/* 设置密码模块 */
.urs-set-main{/*padding-bottom:60px;*/}
.urs-set-block{margin:0 5.4%;}
.urs-set-title{margin:0 5.4%;padding:20px 5px;color:#999;font-size:12px;text-align:left;}
/* 注册 */
.urs-reg-btn-box{padding-top:10px;}
.urs-reg-btn-box{padding-top:10px;}
.urs-reg-btn-box a.urs-reg-btn{display:inline-block;width:100%;height:30px;line-height:30px;color:#fff;font-size:15px;font-weight:bold;border-radius:3px;background:#9a1032;}
.urs-reg-btn-box a.on{color:#fff;background:#9a1032;}
.urs-success-loading{width:55px;height:55px;margin:0 auto;}
.urs-success-loading img{width:100%;}
.urs-success-text{margin:0 auto;padding-top:20px;color:#fff;font-size:12px;}
.urs-success-text strong{color:#9a1032;font-weight:bold;}
/* 协议 */
.urs-agree-wrap{top:0;left:100%;background:none;}
.urs-agree-main{display:inline-block;vertical-align:middle;width:100%;background:#fff;}
.urs-agree-top{width:100%;height:44px;line-height:44px;font-size:0;text-align:left;}
.urs-agree-top span{display:inline-block;vertical-align:middle;}
.urs-agree-top span.urs-back{float:right;height:20px;line-height:20px;padding:0 5px;margin:12px 10px 0 0;color:#9a1032;font-size:12px;text-align:center;border-radius:3px;background:#fff;display:none;}
.urs-agree-title{padding:15px;color:#9a1032;font-size:12px;font-weight:bold;text-align:left;}
.urs-agree-scroll{margin:0 auto;text-align:left;overflow:auto;}
.urs-agree-scroll strong{display:block;margin-bottom:20px;color:#9a1032;font-size:12px;}
.urs-agree-scroll p{margin-bottom:20px;color:#fff;font-size:12px;line-height:16px;}
.urs-agree-tool{padding-top:10px;}
.urs-agree-tool a{display:block;width:100%;height:40px;line-height:40px;color:#fff;font-size:12px;font-weight:bold;background:#9a1032;}
/* 修改密码 */
.per-pwd-wrap *{-webkit-box-sizing: unset; -moz-box-sizing: unset; box-sizing: unset; }
.per-pwd-wrap{width:100%;height:100%;position:fixed;left:0;top:0;z-index:999;background:#fff;}
.per-pwd-choice{text-align:center;}
.per-pwd-choice h4{padding:22px;color:#9a1032;font-size:12px;font-weight:bold;text-align:left;}
.per-pwd-tab{padding:0 18px;font-size:0;}
.per-pwd-tab a{display:block;margin-bottom:20px;border-radius:4px;background:#f1f1f1 url('/static_m/images/login/m-per-pwd-i.png') no-repeat 95% center;background-size:9px 20px;}
.per-pwd-tab a:active{background-color:#2e2f3d;}
.per-pwd-tab a span{display:block;height:98px;line-height:98px;padding-left:87px;color:#9a1032;font-size:12px;font-weight:bold;text-align:left;}
a.per-pwd-phone span{background-image:url('/static_m/images/login/m-per-pwd-phone-i.png');background-repeat:no-repeat;background-position:32px center;background-size:32px 45px;}
a.per-pwd-email span{background-image:url('/static_m/images/login/m-per-pwd-email-i.png');background-repeat:no-repeat;background-position:26px center;background-size:45px 32px;}
.urs-pwd-tips{line-height:16px;padding:0 5.4%;color:#666;font-size:12px;text-align:left;}
/* 步骤 */
.per-step-flow{padding:20px 0;font-size:0;text-align:center;}
.per-step-flow span{display:inline-block;width:24px;height:24px;line-height:24px;color:#666;font-size:12px;font-weight:bold;text-align:center;border-radius:2px;background:#e1e1e1;}
.per-step-flow span:nth-child(2){margin:0 5px;}
.per-step-flow span.over{color:#fff;background:#9a1032;}
.per-step-flow span.on{width:67%;padding-left:10px;color:#fff;text-align:left;background:#9a1032;}
/* 验证 */
.per-step-main{text-align:center;position:relative;}
.per-step-main input{width:110%;height:26px;line-height:26px;padding-left:5px;color:#666;font-size:12px;border:0;background:none;outline:none;}
.per-step-main input::-webkit-input-placeholder {color:#c4c4c4;}
.per-step-main input:-moz-placeholder {color:#c4c4c4;}
.per-step-main input::-moz-placeholder {color:#c4c4c4;}
.per-step-main input::-ms-input-placeholder {color:#c4c4c4;}
.placeholder{color:#c4c4c4}
.urs-block-email{padding-top:25px;}
.urs-pwd-btn-box{padding-top:20px;}
.urs-pwd-btn-box a{margin-bottom:20px;}
.urs-pwd-btn-box a.urs-login-btn{display:block;height:30px;line-height:30px;color:#fff;font-size:15px;font-weight:bold;border-radius:3px;background:#9a1032;}
.urs-pwd-btn-box a.urs-pre-btn{display:block;height:30px;line-height:30px;color:#9a1032;font-size:15px;border:1px solid #9a1032;border-radius:3px;background:#fff;}
/* 修改成功 */
.pwd-set-success{margin:0 5.4%;}
.pwd-set-success-text{padding:45px 0 60px;font-size:0;}
.pwd-set-success-i{width:50px;height:50px;margin:0 auto;background:url('/static_m/images/login/m-urs-right-i.png') no-repeat 0 0;background-size:50px 50px;}
.pwd-set-success-m{padding-top:10px;}
.pwd-set-success-m p{color:#9a1032;font-size:12px;font-weight:bold;}
a.pwd-set-sub{display:block;height:30px;line-height:30px;color:#2e2f3d;font-size:15px;font-weight:bold;border-radius:3px;background:#9a1032;}
.urs-phone input{width:95%;}
.urs-code{float:left;width:55%;}

/* 充值弹窗 */
.pop-recharge-wrap{width:100%;height:100%;position:fixed;left:0;top:0;z-index:999;text-align:center;}
.pop-recharge-main{width:570px;min-height:200px;background:#fff;border-radius:10px;position:absolute;top:50%;left:50%;z-index:2;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.pop-recharge-top{height:56px;text-align:left;}
.pop-recharge-top h4{float:left;margin-left:34px;padding-top:10px;color:#9a1032;font-size:18px;border-top:5px solid #9a1032;}
.pop-recharge-top a{float:right;width:20px;height:20px;margin:16px 16px 0 0;background:url('/static_m/images/login/per-close.png') no-repeat center center;}
.pop-recharge-vac{height:40px;line-height:40px;border:solid #f2f2f2;border-width:1px 0;text-align:left;}
.pop-recharge-vac span{float:left;padding-left:20px;color:#323232;font-size:14px;}
.pop-recharge-vac strong{float:right;padding:0 20px 0 26px;background:url('/static_m/images/login/per-diamond-i.png') no-repeat 0 center;background-size:20px 15px;}
.pop-recharge-box{}
.pop-recharge-list{padding:12px 11px;font-size:0;text-align:left;}
.pop-recharge-list li{display:inline-block;*display:inline;*zoom:1;width:260px;height:74px;margin:6px;border:1px solid #e5e5e5;border-radius:4px;background:#fafafa;vertical-align:top;position:relative;}
.pop-recharge-info{display:inline-block;padding:24px 5px 0 15px;vertical-align:middle;}
.pop-recharge-info strong{display:inline-block;*display:inline;*zoom:1;width:150px;color:#000;font-size:20px;font-weight:normal;vertical-align:middle;}
.pop-recharge-info span{display:inline-block;*display:inline;*zoom:1;width:85px;color:#fe8417;font-size:18px;text-align:right;vertical-align:middle;white-space:nowrap;}
.pop-recharge-give{padding:0 5px 0 15px;color:#999;font-size:14px;white-space:nowrap;}
.pop-recharge-right{display:none;width:0;height:0;border-top:34px solid #9a1032;border-right:34px solid transparent;position:absolute;top:0;left:0;}
.pop-recharge-right:after{content:'';display:inline-block;width:14px;height:14px;background:url('/static_m/images/login/pop-re-right.gif') no-repeat 0 0;position:absolute;top:-32px;left:2px;}
.pop-recharge-give-tips{display:inline-block;height:18px;line-height:18px;padding:0 8px;color:#fff;font-size:12px;border-radius:2px;background:#fe8417;position:absolute;top:-7px;right:-1px;}
.pop-recharge-give-tips:after{content:'';display:inline-block;width:0;height:0;border-top:6px solid #fe8417;border-left:6px solid transparent; position:absolute;top:16px;right:0;}
.pop-recharge-list li.recharge-sel{width:258px;height:72px;border:2px solid #9a1032;}
.pop-recharge-list li.recharge-sel .pop-recharge-right{display:inline-block;}
.pop-recharge-list li.recharge-sel .pop-recharge-give-tips{top:-8px;right:-2px;}
/* 充值提交 */
.pop-recharge-pay{padding:0 17px;margin-bottom:18px;text-align:left;}
.pop-pay-title{display:inline-block;height:32px;line-height:32px;padding:0 18px;color:#fff;font-size:14px;background:#9a1032;}
.pop-pay-box{padding:10px 0;text-align:center;border:1px solid #e5e5e5;border-radius:0 0 4px 4px;}
.pop-pay-config-text{line-height:40px;color:#666;font-size:16px;}
.pop-pay-config-price{display:inline-block;margin-left:15px;color:#fe8417;font-size:30px;vertical-align:top;}
a.pop-pay-sub{display:inline-block;*display:inline;*zoom:1;min-width:100px;height:40px;line-height:40px;margin:10px 7px;padding:0 10px;color:#fff;font-size:14px;border-radius:6px;background:#9a1032;}
.pop-pay-agree a{line-height:20px;color:#999;font-size:14px;}
.pop-pay-error-text{height:40px;line-height:40px;margin-top:10px;color:#323232;font-size:18px;}
.pop-pay-error-text i{display:inline-block;width:40px;height:40px;margin-right:10px;background:url('/static_m/images/login/pop-pay-error.gif') no-repeat 0 center;vertical-align:top;}
.pop-pay-success-text{padding:10px 0 6px;font-size:0;}
.pop-pay-success-i{display:inline-block;*display:inline;*zoom:1;width:40px;height:40px;margin-right:10px;background:url('/static_m/images/login/pop-pay-success.gif') no-repeat 0 0;vertical-align:middle;}
.pop-pay-success-m{display:inline-block;*display:inline;*zoom:1;text-align:left;vertical-align:middle;}
.pop-pay-success-m h4{color:#323232;font-size:18px;}
.pop-pay-success-m p{color:#999;font-size:14px;}
.pop-pay-btn{font-size:0;}
a.pop-pay-sub{display:inline-block;min-width:100px;height:40px;line-height:40px;margin:10px 0;padding:0 10px;color:#fff;font-size:14px;border-radius:6px;background:#9a1032;}
a.pop-pay-back{display:inline-block;*display:inline;*zoom:1;min-width:98px;height:38px;line-height:38px;margin:10px 7px;padding:0 10px;color:#323232;font-size:14px;border:1px solid #e5e5e5;border-radius:6px;background:#fff;}
/* 个人中心 */
.per-info-wrap *{-webkit-box-sizing: unset; -moz-box-sizing: unset; box-sizing: unset; }
.per-info-wrap{width:100%;height:100%;overflow-y:auto;position:fixed;left:0;top:100%;z-index:999;text-align:center;background:#444551;transition:all 1s ease;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;}
.per-info-avatar{width:74px;height:74px;margin:30px auto 20px;border-radius:50%;border:3px solid #e9e9e9;text-align:center;overflow:hidden;}
.per-info-avatar img{width:100%;}
.per-info-box{margin:0 5.4%;}
.per-info-box li{margin-bottom:10px;padding:6px 8px;border-bottom:1px solid #9a1032;font-size:0;}
.per-info-box li span{display:inline-block;width:50%;color:#c4c4c4;font-size:12px;text-align:left;}
.per-info-box li em{display:inline-block;width:50%;color:#c4c4c4;font-size:12px;text-align:right;}
.urs-per-btn-box{padding-top:20px;margin:0 5.4%;}
.urs-per-btn-box a.urs-login-btn{display:block;height:30px;line-height:30px;color:#444551;font-size:15px;font-weight:bold;border-radius:3px;background:#9a1032;}
.urs-per-btn-box a.urs-pre-btn{display:block;height:30px;line-height:30px;margin-top:20px;color:#9a1032;font-size:15px;border:1px solid #9a1032;border-radius:3px;background:#444551;}
.urs-per-cover-wrap{display:none;}
.urs-per-cover-main{width:100%;position:absolute;top:50%;left:50%;z-index:2;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.urs-per-cover-box{width:70%;padding:20px 8px;margin:0 auto;background:#444551;}
.urs-per-cover-box p{padding:20px 0 30px;color:#fff;font-size:12px;}
a.urs-per-exit{display:block;height:30px;line-height:30px;color:#444551;font-size:15px;font-weight:bold;border-radius:3px;background:#9a1032;}
a.urs-per-close{display:inline-block;width:27px;height:27px;margin:20px auto 0;background:url(/static_m/images/login/m-usr-per-close.png) no-repeat 0 0;background-size:27px 27px;}
/* loading */
.urs-loading-box{width:100%;height:100%;position:absolute;top:0;left:0;z-index:999;}
.urs-loading{position:absolute;top:50%;left:50%;z-index:2;display:inline-block;vertical-align:top;font-size:14px;color:#fff;border-radius:8px;max-width:30%;background:rgba(0,0,0,0.8);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.urs-loading img{width:100%;}
.hintBox p{position:absolute;top:50%;left:50%;z-index:999;display:inline-block;vertical-align:top;font-size:12px;color:#fff;padding:6px 10px;border-radius:4px;width:80%;background:rgba(0,0,0,0.8);}

@media screen and (min-width: 374px) and (max-width: 479px) {
    /* 主框架 */
    .urs-main-padding{padding:52px 0 24px;}
    .urs-top{height:52px;line-height:52px;}
    .urs-top span.urs-logo{width:104px;margin-left:18px;}
    .urs-top span.urs-title, .urs-top span.urs-pwd-title, .urs-top span.urs-per-title{padding-left:4px;font-size:14px;}
    .urs-top span.urs-close{background-size:18px 18px;}
    .urs-top span.urs-back{height:24px;line-height:24px;padding:0 6px;margin:14px 12px 0 0;font-size:14px;border-radius:4px;}
    .urs-tab{height:28px;margin-top:24px;border-radius:4px;}
    .urs-tab span{height:28px;line-height:28px;font-size:14px;}
    .urs-wrap input{height:32px;line-height:32px;padding-left:6px;font-size:14px;}
    /* 账号登录 */
    .urs-block-account{padding:24px 0 0;}
    .urs-input-box{height:32px;}
    .urs-input-box span.urs-clear{width:20px;height:32px;background-size:14px 14px;}
    .urs-input-box span.urs-pw-stats{width:22px;height:32px;background-size:18px 12px;}
    .urs-input-box span.urs-pw-show{background-size:18px 12px;}
    .urs-tips-box{height:18px;line-height:18px;padding-top:4px;}
    .urs-tips-box span.urs-tips-error{font-size:14px;padding-left:6px;}
    .urs-tips-box a.urs-pw-forgot{font-size:14px;}
    .urs-btn-box{padding-top:24px;}
    .urs-btn-box a.urs-login-btn{height:36px;line-height:36px;font-size:18px;border-radius:4px;}
    .urs-btn-box a.urs-pre-btn{height:56px;line-height:56px;font-size:22px;border-radius:8px;}
    /* 手机登录 */
    .urs-input-box span.urs-area{height:32px;line-height:32px;padding-left:10px;font-size:14px;}
    .urs-input-box span.urs-arr{width:12px;height:32px;margin-right:8px;background-size:12px 4px;}
    .urs-get-code{width:144px;height:28px;line-height:28px;font-size:14px;border-radius:4px;}
    /* 选择国家地区 */
    .country .countryBox h1{height: 32px;line-height: 32px;font-size: 14px;}
    .country .countryBox .top{height:24px;line-height:24px;padding:0 18px;}
    .country .countryBox .menu{width:28px;}
    .country .countryBox .menu a{width:16px;height:16px;line-height:14px;font-size: 14px;}
    .country .countryBox .country_scroll .p1{padding:12px 0;margin:0 30px 0 18px;font-size: 14px;}
    .country .countryBox .country_scroll .title{height:24px;line-height:24px;padding:0 18px;font-size:14px;}
    /* 登录/注册/第三方登录 切换工具 */
    .urs-goReg-box{padding-top:24px;}
    .urs-goReg-box p{padding-bottom:6px;font-size:14px;}
    .urs-goReg-box a.urs-go-btn{height:36px;line-height:36px;font-size:18px;border-radius:4px;}
    .urs-goLogin-box{padding-right:24px;}
    .urs-goLogin-box a.urs-go-btn{line-height:36px;font-size:16px;}
    .urs-tpl-box{padding-top:54px;}
    .urs-tpl-box span.urs-tpl-title{margin-bottom:34px;}
    .urs-tpl-box span.urs-tpl-title em{height:16px;line-height:16px;font-size:14px;padding:0 12px;}
    .urs-tpl-box i{width:44px;height:44px;margin:0 26px;background-size:44px 202px;}
    .urs-tpl-box i.urs-tpl-fb{background-position:0 -158px;}
    .urs-tpl-box i.urs-tpl-tw{background-position:0 -80px;}
    /* 未绑定手机/邮箱模块 */
    .urs-bind-tips{line-height:20px;margin-top:24px;font-size:14px;}
    .urs-unbind-box{padding:18px 0 0;}
    input.urs-checkbox{width:16px;height:24px;}
    .urs-agree-box{padding-top:12px;}
    .urs-term{padding-left:6px;font-size:14px;}
    .urs-unbind-btn{padding-top:12px;}
    a.urs-next-btn{height:36px;line-height:36px;font-size:18px;border-radius:4px;}
    /* 已绑定手机/邮箱模块 */
    .urs-bind-text{padding:24px 5.4% 12px;}
    .urs-bind-text dt{line-height:28px;font-size:14px;}
    .urs-bind-text dd{line-height:28px;font-size:14px;}
    .urs-bind-btn a{height:36px;line-height:36px;margin-top:18px;font-size:18px;border-radius:4px;}
    /* 绑定/登录成功模块 */
    .urs-success-main{padding:96px 0 0;}
    .urs-success-tips i{width:60px;height:60px;}
    .urs-success-tips span{padding-top:6px;font-size:14px;}
    .urs-success-avatar{width:60px;height:60px;margin-top:36px;}
    .urs-success-name{padding-top:6px;font-size:14px;}
    /* 设置密码模块 */
    .urs-set-title{padding:24px 6px;font-size:14px;}
    /* 注册 */
    .urs-reg-btn-box{padding-top:12px;}
    .urs-reg-btn-box{padding-top:12px;}
    .urs-reg-btn-box a.urs-reg-btn{height:36px;line-height:36px;font-size:18px;border-radius:4px;}
    .urs-success-loading{width:66px;height:66px;}
    .urs-success-text{padding-top:24px;font-size:14px;}
    /* 协议 */
    .urs-agree-top{height:52px;line-height:52px;}
    .urs-agree-top span.urs-back{height:24px;line-height:24px;padding:0 6px;margin:14px 12px 0 0;font-size:14px;border-radius:4px;}
    .urs-agree-title{padding:18px;font-size:14px;}
    .urs-agree-scroll strong{margin-bottom:24px;font-size:14px;}
    .urs-agree-scroll p{margin-bottom:24px;font-size:14px;line-height:20px;}
    .urs-agree-tool{padding-top:12px;}
    .urs-agree-tool a{height:48px;line-height:48px;font-size:14px;}
    /* 修改密码 */
    .per-pwd-choice h4{padding:26px;font-size:14px;}
    .per-pwd-tab{padding:0 22px;}
    .per-pwd-tab a{margin-bottom:24px;border-radius:4px;background-size:10px 24px;}
    .per-pwd-tab a span{height:118px;line-height:118px;padding-left:104px;font-size:14px;}
    a.per-pwd-phone span{background-position:38px center;background-size:38px 54px;}
    a.per-pwd-email span{background-position:32px center;background-size:54px 38px;}
    .urs-pwd-tips{line-height:20px;font-size:14px;}
    /* 步骤 */
    .per-step-flow{padding:24px 0;}
    .per-step-flow span{width:28px;height:28px;line-height:28px;font-size:14px;border-radius:2px;}
    .per-step-flow span:nth-child(2){margin:0 6px;}
    .per-step-flow span.on{padding-left:12px;}
    /* 验证 */
    .per-step-main input{height:32px;line-height:32px;padding-left:6px;font-size:14px;}
    .urs-block-email{padding-top:30px;}
    .urs-pwd-btn-box{padding-top:24px;}
    .urs-pwd-btn-box a{margin-bottom:24px;}
    .urs-pwd-btn-box a.urs-login-btn{height:36px;line-height:36px;font-size:18px;border-radius:4px;}
    .urs-pwd-btn-box a.urs-pre-btn{height:36px;line-height:36px;font-size:18px;border-radius:4px;}
    /* 修改成功 */
    .pwd-set-success-text{padding:54px 0 72px;}
    .pwd-set-success-i{width:60px;height:60px;background-size:60px 60px;}
    .pwd-set-success-m{padding-top:12px;}
    .pwd-set-success-m p{font-size:14px;}
    a.pwd-set-sub{height:36px;line-height:36px;font-size:18px;border-radius:4px;}

    /* 充值弹窗 */
    .pop-recharge-main{width:684px;min-height:240px;border-radius:12px;}
    .pop-recharge-top{height:68px;}
    .pop-recharge-top h4{margin-left:40px;padding-top:12px;font-size:22px;}
    .pop-recharge-top a{width:24px;height:24px;margin:20px 20px 0 0;}
    .pop-recharge-vac{height:48px;line-height:48px;border-width:2px 0;}
    .pop-recharge-vac span{padding-left:24px;font-size:16px;}
    .pop-recharge-vac strong{padding:0 24px 0 32px;background-size:24px 18px;}
    .pop-recharge-list{padding:14px 14px;}
    .pop-recharge-list li{width:312px;height:88px;margin:8px;border-radius:4px;}
    .pop-recharge-info{padding:28px 6px 0 18px;}
    .pop-recharge-info strong{width:180px;font-size:24px;}
    .pop-recharge-info span{width:102px;font-size:22px;}
    .pop-recharge-give{padding:0 6px 0 18px;font-size:16px;}
    .pop-recharge-right:after{width:16px;height:16px;top:-38px;left:2px;}
    .pop-recharge-give-tips{height:22px;line-height:22px;padding:0 10px;font-size:14px;border-radius:2px;top:-8px;right:-2px;}
    .pop-recharge-give-tips:after{ top:20px;}
    .pop-recharge-list li.recharge-sel{width:310px;height:86px;}
    .pop-recharge-list li.recharge-sel .pop-recharge-give-tips{top:-10px;right:-2px;}
    /* 充值提交 */
    .pop-recharge-pay{padding:0 20px;margin-bottom:22px;}
    .pop-pay-title{height:38px;line-height:38px;padding:0 22px;font-size:16px;}
    .pop-pay-box{padding:12px 0;border-radius:0 0 4px 4px;}
    .pop-pay-config-text{line-height:48px;font-size:20px;}
    .pop-pay-config-price{margin-left:18px;font-size:36px;}
    a.pop-pay-sub{min-width:120px;height:48px;line-height:48px;margin:12px 8px;padding:0 12px;font-size:16px;border-radius:8px;}
    .pop-pay-agree a{line-height:24px;font-size:16px;}
    .pop-pay-error-text{height:48px;line-height:48px;margin-top:12px;font-size:22px;}
    .pop-pay-error-text i{width:48px;height:48px;margin-right:12px;}
    .pop-pay-success-text{padding:12px 0 8px;}
    .pop-pay-success-i{width:48px;height:48px;margin-right:12px;}
    .pop-pay-success-m h4{font-size:22px;}
    .pop-pay-success-m p{font-size:16px;}
    a.pop-pay-sub{min-width:120px;height:48px;line-height:48px;margin:12px 0;padding:0 12px;font-size:16px;border-radius:8px;}
    a.pop-pay-back{min-width:118px;height:46px;line-height:46px;margin:12px 8px;padding:0 12px;font-size:16px;border-radius:8px;}
    /* 个人中心 */
    .per-info-avatar{width:88px;height:88px;margin:36px auto 24px;}
    .per-info-box li{margin-bottom:12px;padding:8px 10px;}
    .per-info-box li span{font-size:14px;}
    .per-info-box li em{font-size:14px;}
    .urs-per-btn-box{padding-top:24px;}
    .urs-per-btn-box a.urs-login-btn{height:36px;line-height:36px;font-size:18px;border-radius:4px;}
    .urs-per-btn-box a.urs-pre-btn{height:36px;line-height:36px;margin-top:24px;font-size:18px;border-radius:4px;}
    .urs-per-cover-box{padding:24px 10px;}
    .urs-per-cover-box p{padding:24px 0 36px;font-size:14px;}
    a.urs-per-exit{height:36px;line-height:36px;font-size:18px;border-radius:4px;}
    a.urs-per-close{width:32px;height:32px;margin:24px auto 0;background-size:32px 32px;}
    /* loading */
    .urs-loading{font-size:16px;border-radius:10px;}
    .hintBox p{font-size:14px;padding:8px 12px;border-radius:4px;}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    /* 主框架 */
    .urs-main-padding{padding:66px 0 30px;}
    .urs-top{height:66px;line-height:66px;}
    .urs-top span.urs-logo{width:130px;margin-left:22px;}
    .urs-top span.urs-title, .urs-top span.urs-pwd-title, .urs-top span.urs-per-title{padding-left:6px;font-size:18px;}
    .urs-top span.urs-close{background-size:22px 22px;}
    .urs-top span.urs-back{height:30px;line-height:30px;padding:0 8px;margin:18px 14px 0 0;font-size:18px;border-radius:4px;}
    .urs-tab{height:36px;margin-top:30px;border-radius:4px;}
    .urs-tab span{height:36px;line-height:36px;font-size:18px;}
    .urs-wrap input{height:38px;line-height:38px;padding-left:8px;font-size:18px;}
    /* 账号登录 */
    .urs-block-account{padding:30px 0 0;}
    .urs-input-box{height:38px;}
    .urs-input-box span.urs-clear{width:24px;height:38px;background-size:18px 18px;}
    .urs-input-box span.urs-pw-stats{width:26px;height:38px;background-size:22px 14px;}
    .urs-input-box span.urs-pw-show{background-size:22px 14px;}
    .urs-tips-box{height:22px;line-height:22px;padding-top:6px;}
    .urs-tips-box span.urs-tips-error{font-size:18px;padding-left:8px;}
    .urs-tips-box a.urs-pw-forgot{font-size:18px;}
    .urs-btn-box{padding-top:30px;}
    .urs-btn-box a.urs-login-btn{height:44px;line-height:44px;font-size:22px;border-radius:4px;}
    .urs-btn-box a.urs-pre-btn{height:68px;line-height:68px;font-size:26px;border-radius:8px;}
    /* 手机登录 */
    .urs-input-box span.urs-area{height:38px;line-height:38px;padding-left:12px;font-size:18px;}
    .urs-input-box span.urs-arr{width:14px;height:38px;margin-right:8px;background-size:14px 6px;}
    .urs-get-code{width:180px;height:36px;line-height:36px;font-size:18px;border-radius:6px;}
    /* 选择国家地区 */
    .country .countryBox h1{height: 38px;line-height: 38px;font-size: 18px;}
    .country .countryBox .top{height:30px;line-height:30px;padding:0 22px;}
    .country .countryBox .menu{width:36px;}
    .country .countryBox .menu a{width:20px;height:20px;line-height:18px;font-size: 18px;}
    .country .countryBox .country_scroll .p1{padding:14px 0;margin:0 38px 0 22px;font-size: 18px;}
    .country .countryBox .country_scroll .title{height:30px;line-height:30px;padding:0 22px;font-size:18px;}
    /* 登录/注册/第三方登录 切换工具 */
    .urs-goReg-box{padding-top:30px;}
    .urs-goReg-box p{padding-bottom:8px;font-size:18px;}
    .urs-goReg-box a.urs-go-btn{height:44px;line-height:44px;font-size:22px;border-radius:4px;}
    .urs-goLogin-box{padding-right:30px;}
    .urs-goLogin-box a.urs-go-btn{line-height:44px;font-size:20px;}
    .urs-tpl-box{padding-top:68px;}
    .urs-tpl-box span.urs-tpl-title{margin-bottom:42px;}
    .urs-tpl-box span.urs-tpl-title em{height:20px;line-height:20px;font-size:18px;padding:0 14px;}
    .urs-tpl-box i{width:54px;height:54px;margin:0 32px;background-size:54px 252px;}
    .urs-tpl-box i.urs-tpl-fb{background-position:0 -198px;}
    .urs-tpl-box i.urs-tpl-tw{background-position:0 -98px;}
    /* 未绑定手机/邮箱模块 */
    .urs-bind-tips{line-height:24px;margin-top:30px;font-size:18px;}
    .urs-unbind-box{padding:22px 0 0;}
    input.urs-checkbox{width:16px;height:24px;}
    .urs-agree-box{padding-top:14px;}
    .urs-term{padding-left:7.5px;font-size:18px;}
    .urs-unbind-btn{padding-top:14px;}
    a.urs-next-btn{height:44px;line-height:44px;font-size:22px;border-radius:4px;}
    /* 已绑定手机/邮箱模块 */
    .urs-bind-text{padding:30px 5.4% 14px;}
    .urs-bind-text dt{line-height:36px;font-size:18px;}
    .urs-bind-text dd{line-height:36px;font-size:18px;}
    .urs-bind-btn a{height:44px;line-height:44px;margin-top:22px;font-size:22px;border-radius:4px;}
    /* 绑定/登录成功模块 */
    .urs-success-main{padding:120px 0 0;}
    .urs-success-tips i{width:74px;height:74px;}
    .urs-success-tips span{padding-top:8px;font-size:18px;}
    .urs-success-avatar{width:74px;height:74px;margin-top:44px;}
    .urs-success-name{padding-top:8px;font-size:18px;}
    /* 设置密码模块 */
    .urs-set-title{padding:30px 8px;font-size:18px;}
    /* 注册 */
    .urs-reg-btn-box{padding-top:14px;}
    .urs-reg-btn-box{padding-top:14px;}
    .urs-reg-btn-box a.urs-reg-btn{height:44px;line-height:44px;font-size:22px;border-radius:4px;}
    .urs-success-loading{width:82px;height:82px;}
    .urs-success-text{padding-top:30px;font-size:18px;}
    /* 协议 */
    .urs-agree-top{height:66px;line-height:66px;}
    .urs-agree-top span.urs-back{height:30px;line-height:30px;padding:0 8px;margin:18px 14px 0 0;font-size:18px;border-radius:4px;}
    .urs-agree-title{padding:22px;font-size:18px;}
    .urs-agree-scroll strong{margin-bottom:30px;font-size:18px;}
    .urs-agree-scroll p{margin-bottom:30px;font-size:18px;line-height:24px;}
    .urs-agree-tool{padding-top:14px;}
    .urs-agree-tool a{height:60px;line-height:60px;font-size:18px;}
    /* 修改密码 */
    .per-pwd-choice h4{padding:32px;font-size:18px;}
    .per-pwd-tab{padding:0 26px;}
    .per-pwd-tab a{margin-bottom:30px;border-radius:6px;background-size:14px 30px;}
    .per-pwd-tab a span{height:146px;line-height:146px;padding-left:130px;font-size:18px;}
    a.per-pwd-phone span{background-position:48px center;background-size:48px 68px;}
    a.per-pwd-email span{background-position:38px center;background-size:68px 48px;}
    .urs-pwd-tips{line-height:24px;font-size:18px;}
    /* 步骤 */
    .per-step-flow{padding:30px 0;}
    .per-step-flow span{width:36px;height:36px;line-height:36px;font-size:18px;border-radius:2px;}
    .per-step-flow span:nth-child(2){margin:0 8px;}
    .per-step-flow span.on{padding-left:14px;}
    /* 验证 */
    .per-step-main input{height:38px;line-height:38px;padding-left:8px;font-size:18px;}
    .urs-block-email{padding-top:38px;}
    .urs-pwd-btn-box{padding-top:30px;}
    .urs-pwd-btn-box a{margin-bottom:30px;}
    .urs-pwd-btn-box a.urs-login-btn{height:44px;line-height:44px;font-size:22px;border-radius:4px;}
    .urs-pwd-btn-box a.urs-pre-btn{height:44px;line-height:44px;font-size:22px;border-radius:4px;}
    /* 修改成功 */
    .pwd-set-success-text{padding:68px 0 90px;}
    .pwd-set-success-i{width:74px;height:74px;background-size:74px 74px;}
    .pwd-set-success-m{padding-top:14px;}
    .pwd-set-success-m p{font-size:18px;}
    a.pwd-set-sub{height:44px;line-height:44px;font-size:22px;border-radius:4px;}

    /* 充值弹窗 */
    .pop-recharge-main{width:854px;min-height:300px;border-radius:14px;}
    .pop-recharge-top{height:84px;}
    .pop-recharge-top h4{margin-left:50px;padding-top:14px;font-size:26px;}
    .pop-recharge-top a{width:30px;height:30px;margin:24px 24px 0 0;}
    .pop-recharge-vac{height:60px;line-height:60px;border-width:2px 0;}
    .pop-recharge-vac span{padding-left:30px;font-size:20px;}
    .pop-recharge-vac strong{padding:0 30px 0 38px;background-size:30px 22px;}
    .pop-recharge-list{padding:18px 16px;}
    .pop-recharge-list li{width:390px;height:110px;margin:8px;border-radius:6px;}
    .pop-recharge-info{padding:36px 8px 0 22px;}
    .pop-recharge-info strong{width:224px;font-size:30px;}
    .pop-recharge-info span{width:128px;font-size:26px;}
    .pop-recharge-give{padding:0 8px 0 22px;font-size:20px;}
    .pop-recharge-right:after{width:20px;height:20px;top:-48px;left:2px;}
    .pop-recharge-give-tips{height:26px;line-height:26px;padding:0 12px;font-size:18px;border-radius:2px;top:-10px;right:-2px;}
    .pop-recharge-give-tips:after{ top:24px;}
    .pop-recharge-list li.recharge-sel{width:386px;height:108px;}
    .pop-recharge-list li.recharge-sel .pop-recharge-give-tips{top:-12px;right:-2px;}
    /* 充值提交 */
    .pop-recharge-pay{padding:0 26px;margin-bottom:26px;}
    .pop-pay-title{height:48px;line-height:48px;padding:0 26px;font-size:20px;}
    .pop-pay-box{padding:14px 0;border-radius:0 0 6px 6px;}
    .pop-pay-config-text{line-height:60px;font-size:24px;}
    .pop-pay-config-price{margin-left:22px;font-size:44px;}
    a.pop-pay-sub{min-width:150px;height:60px;line-height:60px;margin:14px 10px;padding:0 14px;font-size:20px;border-radius:8px;}
    .pop-pay-agree a{line-height:30px;font-size:20px;}
    .pop-pay-error-text{height:60px;line-height:60px;margin-top:14px;font-size:26px;}
    .pop-pay-error-text i{width:60px;height:60px;margin-right:14px;}
    .pop-pay-success-text{padding:14px 0 8px;}
    .pop-pay-success-i{width:60px;height:60px;margin-right:14px;}
    .pop-pay-success-m h4{font-size:26px;}
    .pop-pay-success-m p{font-size:20px;}
    a.pop-pay-sub{min-width:150px;height:60px;line-height:60px;margin:14px 0;padding:0 14px;font-size:20px;border-radius:8px;}
    a.pop-pay-back{min-width:146px;height:56px;line-height:56px;margin:14px 10px;padding:0 14px;font-size:20px;border-radius:8px;}
    /* 个人中心 */
    .per-info-avatar{width:110px;height:110px;margin:44px auto 30px;}
    .per-info-box li{margin-bottom:14px;padding:8px 12px;}
    .per-info-box li span{font-size:18px;}
    .per-info-box li em{font-size:18px;}
    .urs-per-btn-box{padding-top:30px;}
    .urs-per-btn-box a.urs-login-btn{height:44px;line-height:44px;font-size:22px;border-radius:4px;}
    .urs-per-btn-box a.urs-pre-btn{height:44px;line-height:44px;margin-top:30px;font-size:22px;border-radius:4px;}
    .urs-per-cover-box{padding:30px 12px;}
    .urs-per-cover-box p{padding:30px 0 44px;font-size:18px;}
    a.urs-per-exit{height:44px;line-height:44px;font-size:22px;border-radius:4px;}
    a.urs-per-close{width:40px;height:40px;margin:30px auto 0;background-size:40px 40px;}
    /* loading */
    .urs-loading{font-size:20px;border-radius:12px;}
    .hintBox p{font-size:18px;padding:8px 14px;border-radius:6px;}
}

@media screen and (min-width: 640px) {
    /* 主框架 */
    .urs-main-padding{padding:88px 0 40px;}
    .urs-top{height:88px;line-height:88px;}
    .urs-top span.urs-logo{width:174px;margin-left:30px;}
    .urs-top span.urs-title, .urs-top span.urs-pwd-title, .urs-top span.urs-per-title{padding-left:8px;font-size:24px;}
    .urs-top span.urs-close{background-size:30px 30px;}
    .urs-top span.urs-back{height:40px;line-height:40px;padding:0 10px;margin:24px 20px 0 0;font-size:24px;border-radius:6px;}
    .urs-tab{height:48px;margin-top:40px;border-radius:6px;}
    .urs-tab span{height:48px;line-height:48px;font-size:24px;}
    .urs-wrap input{height:52px;line-height:52px;padding-left:10px;font-size:24px;}
    /* 账号登录 */
    .urs-block-account{padding:40px 0 0;}
    .urs-input-box{height:52px;}
    .urs-input-box span.urs-clear{width:32px;height:52px;background-size:24px 24px;}
    .urs-input-box span.urs-pw-stats{width:36px;height:52px;background-size:30px 20px;}
    .urs-input-box span.urs-pw-show{background-size:30px 20px;}
    .urs-tips-box{height:30px;line-height:30px;padding-top:8px;}
    .urs-tips-box span.urs-tips-error{font-size:24px;padding-left:10px;}
    .urs-tips-box a.urs-pw-forgot{font-size:24px;}
    .urs-btn-box{padding-top:40px;}
    .urs-btn-box a.urs-login-btn{height:60px;line-height:60px;font-size:30px;border-radius:6px;}
    .urs-btn-box a.urs-pre-btn{height:92px;line-height:92px;font-size:36px;border-radius:12px;}
    /* 手机登录 */
    .urs-input-box span.urs-area{height:52px;line-height:52px;padding-left:16px;font-size:24px;}
    .urs-input-box span.urs-arr{width:20px;height:52px;margin-right:12px;background-size:20px 8px;}
    .urs-get-code{width:240px;height:48px;line-height:48px;font-size:24px;border-radius:8px;}
    /* 选择国家地区 */
    .country .countryBox h1{height: 52px;line-height: 52px;font-size: 24px;}
    .country .countryBox .top{height:40px;line-height:40px;padding:0 30px;}
    .country .countryBox .menu{width:48px;}
    .country .countryBox .menu a{width:28px;height:28px;line-height:24px;font-size: 24px;}
    .country .countryBox .country_scroll .p1{padding:20px 0;margin:0 50px 0 30px;font-size: 24px;}
    .country .countryBox .country_scroll .title{height:40px;line-height:40px;padding:0 30px;font-size:24px;}
    /* 登录/注册/第三方登录 切换工具 */
    .urs-goReg-box{padding-top:40px;}
    .urs-goReg-box p{padding-bottom:10px;font-size:24px;}
    .urs-goReg-box a.urs-go-btn{height:60px;line-height:60px;font-size:30px;border-radius:6px;}
    .urs-goLogin-box{padding-right:40px;}
    .urs-goLogin-box a.urs-go-btn{line-height:60px;font-size:28px;}
    .urs-tpl-box{padding-top:90px;}
    .urs-tpl-box span.urs-tpl-title{margin-bottom:56px;}
    .urs-tpl-box span.urs-tpl-title em{height:28px;line-height:28px;font-size:24px;padding:0 20px;}
    .urs-tpl-box i{width:72px;height:72px;margin:0 44px;background-size:72px 336px;}
    .urs-tpl-box i.urs-tpl-fb{background-position:0 -264px;}
    .urs-tpl-box i.urs-tpl-tw{background-position:0 -132px;}
    /* 未绑定手机/邮箱模块 */
    .urs-bind-tips{line-height:32px;margin-top:40px;font-size:24px;}
    .urs-unbind-box{padding:30px 0 0;}
    input.urs-checkbox{width:16px;height:24px;}
    .urs-agree-box{padding-top:20px;}
    .urs-term{padding-left:10px;font-size:24px;}
    .urs-unbind-btn{padding-top:20px;}
    a.urs-next-btn{height:60px;line-height:60px;font-size:30px;border-radius:6px;}
    /* 已绑定手机/邮箱模块 */
    .urs-bind-text{padding:40px 5.4% 20px;}
    .urs-bind-text dt{line-height:48px;font-size:24px;}
    .urs-bind-text dd{line-height:48px;font-size:24px;}
    .urs-bind-btn a{height:60px;line-height:60px;margin-top:30px;font-size:30px;border-radius:6px;}
    /* 绑定/登录成功模块 */
    .urs-success-main{padding:160px 0 0;}
    .urs-success-tips i{width:100px;height:100px;}
    .urs-success-tips span{padding-top:10px;font-size:24px;}
    .urs-success-avatar{width:100px;height:100px;margin-top:60px;}
    .urs-success-name{padding-top:10px;font-size:24px;}
    /* 设置密码模块 */
    .urs-set-title{padding:40px 10px;font-size:24px;}
    /* 注册 */
    .urs-reg-btn-box{padding-top:20px;}
    .urs-reg-btn-box{padding-top:20px;}
    .urs-reg-btn-box a.urs-reg-btn{height:60px;line-height:60px;font-size:30px;border-radius:6px;}
    .urs-success-loading{width:110px;height:110px;}
    .urs-success-text{padding-top:40px;font-size:24px;}
    /* 协议 */
    .urs-agree-top{height:88px;line-height:88px;}
    .urs-agree-top span.urs-back{height:40px;line-height:40px;padding:0 10px;margin:24px 20px 0 0;font-size:24px;border-radius:6px;}
    .urs-agree-title{padding:30px;font-size:24px;}
    .urs-agree-scroll strong{margin-bottom:40px;font-size:24px;}
    .urs-agree-scroll p{margin-bottom:40px;font-size:24px;line-height:32px;}
    .urs-agree-tool{padding-top:20px;}
    .urs-agree-tool a{height:80px;line-height:80px;font-size:24px;}
    /* 修改密码 */
    .per-pwd-choice h4{padding:44px;font-size:24px;}
    .per-pwd-tab{padding:0 36px;}
    .per-pwd-tab a{margin-bottom:40px;border-radius:8px;background-size:18px 40px;}
    .per-pwd-tab a span{height:196px;line-height:196px;padding-left:174px;font-size:24px;}
    a.per-pwd-phone span{background-position:64px center;background-size:64px 90px;}
    a.per-pwd-email span{background-position:52px center;background-size:90px 64px;}
    .urs-pwd-tips{line-height:32px;font-size:24px;}
    /* 步骤 */
    .per-step-flow{padding:40px 0;}
    .per-step-flow span{width:48px;height:48px;line-height:48px;font-size:24px;border-radius:4px;}
    .per-step-flow span:nth-child(2){margin:0 10px;}
    .per-step-flow span.on{padding-left:20px;}
    /* 验证 */
    .per-step-main input{height:52px;line-height:52px;padding-left:10px;font-size:24px;}
    .urs-block-email{padding-top:50px;}
    .urs-pwd-btn-box{padding-top:40px;}
    .urs-pwd-btn-box a{margin-bottom:40px;}
    .urs-pwd-btn-box a.urs-login-btn{height:60px;line-height:60px;font-size:30px;border-radius:6px;}
    .urs-pwd-btn-box a.urs-pre-btn{height:60px;line-height:60px;font-size:30px;border-radius:6px;}
    /* 修改成功 */
    .pwd-set-success-text{padding:90px 0 120px;}
    .pwd-set-success-i{width:100px;height:100px;background-size:100px 100px;}
    .pwd-set-success-m{padding-top:20px;}
    .pwd-set-success-m p{font-size:24px;}
    a.pwd-set-sub{height:60px;line-height:60px;font-size:30px;border-radius:6px;}

    /* 充值弹窗 */
    .pop-recharge-main{width:1140px;min-height:400px;border-radius:20px;}
    .pop-recharge-top{height:112px;}
    .pop-recharge-top h4{margin-left:68px;padding-top:20px;font-size:36px;}
    .pop-recharge-top a{width:40px;height:40px;margin:32px 32px 0 0;}
    .pop-recharge-vac{height:80px;line-height:80px;border-width:2px 0;}
    .pop-recharge-vac span{padding-left:40px;font-size:28px;}
    .pop-recharge-vac strong{padding:0 40px 0 52px;background-size:40px 30px;}
    .pop-recharge-list{padding:24px 22px;}
    .pop-recharge-list li{width:520px;height:148px;margin:12px;border-radius:8px;}
    .pop-recharge-info{padding:48px 10px 0 30px;}
    .pop-recharge-info strong{width:300px;font-size:40px;}
    .pop-recharge-info span{width:170px;font-size:36px;}
    .pop-recharge-give{padding:0 10px 0 30px;font-size:28px;}
    .pop-recharge-right:after{width:28px;height:28px;top:-64px;left:4px;}
    .pop-recharge-give-tips{height:36px;line-height:36px;padding:0 16px;font-size:24px;border-radius:4px;top:-14px;right:-2px;}
    .pop-recharge-give-tips:after{ top:32px;}
    .pop-recharge-list li.recharge-sel{width:516px;height:144px;}
    .pop-recharge-list li.recharge-sel .pop-recharge-give-tips{top:-16px;right:-4px;}
    /* 充值提交 */
    .pop-recharge-pay{padding:0 34px;margin-bottom:36px;}
    .pop-pay-title{height:64px;line-height:64px;padding:0 36px;font-size:28px;}
    .pop-pay-box{padding:20px 0;border-radius:0 0 8px 8px;}
    .pop-pay-config-text{line-height:80px;font-size:32px;}
    .pop-pay-config-price{margin-left:30px;font-size:60px;}
    a.pop-pay-sub{min-width:200px;height:80px;line-height:80px;margin:20px 14px;padding:0 20px;font-size:28px;border-radius:12px;}
    .pop-pay-agree a{line-height:40px;font-size:28px;}
    .pop-pay-error-text{height:80px;line-height:80px;margin-top:20px;font-size:36px;}
    .pop-pay-error-text i{width:80px;height:80px;margin-right:20px;}
    .pop-pay-success-text{padding:20px 0 12px;}
    .pop-pay-success-i{width:80px;height:80px;margin-right:20px;}
    .pop-pay-success-m h4{font-size:36px;}
    .pop-pay-success-m p{font-size:28px;}
    a.pop-pay-sub{min-width:200px;height:80px;line-height:80px;margin:20px 0;padding:0 20px;font-size:28px;border-radius:12px;}
    a.pop-pay-back{min-width:196px;height:76px;line-height:76px;margin:20px 14px;padding:0 20px;font-size:28px;border-radius:12px;}
    /* 个人中心 */
    .per-info-avatar{width:148px;height:148px;margin:60px auto 40px;}
    .per-info-box li{margin-bottom:20px;padding:12px 16px;}
    .per-info-box li span{font-size:24px;}
    .per-info-box li em{font-size:24px;}
    .urs-per-btn-box{padding-top:40px;}
    .urs-per-btn-box a.urs-login-btn{height:60px;line-height:60px;font-size:30px;border-radius:6px;}
    .urs-per-btn-box a.urs-pre-btn{height:60px;line-height:60px;margin-top:40px;font-size:30px;border-radius:6px;}
    .urs-per-cover-box{padding:40px 16px;}
    .urs-per-cover-box p{padding:40px 0 60px;font-size:24px;}
    a.urs-per-exit{height:60px;line-height:60px;font-size:30px;border-radius:6px;}
    a.urs-per-close{width:54px;height:54px;margin:40px auto 0;background-size:54px 54px;}
    /* loading */
    .urs-loading{font-size:28px;border-radius:16px;}
    .hintBox p{font-size:24px;padding:12px 20px;border-radius:8px;}
}

/* 遮罩层 */
.pop-recharge-cover{width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);position:absolute;top:0;left:0;z-index:1;}
/* 遮罩层 */
.urs-cover{width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);position:absolute;top:0;left:0;z-index:1;}
/* 提示框 */
@keyframes fadeIn{0%{opacity:0;}
    60%{opacity:1;}
    100%{opacity:0;}
}
@-webkit-keyframes fadeIn{0%{opacity:0;}
    60%{opacity:1;}
    100%{opacity:0;}
}
@-moz-keyframes fadeIn{0%{opacity:0;}
    60%{opacity:1;}
    100%{opacity:0;}
}
@-o-keyframes fadeIn{0%{opacity:0;}
    60%{opacity:1;}
    100%{opacity:0;}
}
@-ms-keyframes fadeIn{0%{opacity:0;}
    60%{opacity:1;}
    100%{opacity:0;}
}
.fadeIn{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-ms-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn;-webkit-animation-duration:5s;-moz-animation-duration:5s;-ms-animation-duration:5s;-o-animation-duration:5s;animation-duration:5s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;}
.hintBox{position:fixed;top:0;left:0;z-index:999;width:100%;height:100%;text-align:center;}
.hintBox p{-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}


.moveUp{top:0;transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;}
.moveLeft{left:0;transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;}