

/*html, body{-webkit-overflow-scrolling:touch;}*/
html, body { background-color:#fff;}
.refresh_btn{width: 36px;height: 36px;background: url(/static/images/webapp/m/g_data/refresh.png) no-repeat; background-size: 36px auto;position: fixed;top: 87%;right: 3%;z-index:99}
/* top part */
.header{position:relative;z-index: 7;background:#272a39 url('topBackground.jpg') no-repeat; background-size: 100%;overflow:hidden;}
.top_nav{width: 100%;height:43px;color: #fff; text-align: center; display: inline-block;}
.top_nav_left{width:15%;float:left;}
.top_nav_left span{display:inline-block;width:12px;height:22px;background:url(bn_prev.png) no-repeat 0 0;background-size:12px 22px;position: relative; top: 10px; right: 6px;}
.top_nav_center{width:70%;float:left;
    transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;
}
.animate_top .top_nav_center{
    opacity:0;
    transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;
}
.top_nav_center div{position: relative; top: 13px; font-size: 12px;}
.top_nav_right{width:15%;float:right;}
.top_nav_right span{width:23px;height:23px;margin: 10px; background: #292c36 url(/static/images/webapp/m/g_data/bn_gameOptions.png) no-repeat center center; border-radius:12px; display: inline-block;background-size:13px 13px;}
.top_nav_right span.top_fav{background: #292c36 url(/static/images/webapp/m/g_data/bn_gameOptions_hover.png) no-repeat center center;background-size:13px 13px;}

    /* center part */
.center_time{color:#a1a1a4;font-size:12px;line-height:14px;text-align:center;
    transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;
}
.animate_con .center_time{
    opacity:0;
    transform:translate(0,-20px);-webkit-transform:translate(0,-20px);-moz-transform:translate(0,-20px);-o-transform:translate(0,-20px);
    transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;
}
.center_part{text-align: center;}
.center_content{width: 100%;text-align: center; display: inline-block;}
.team_home, .team_away{float: left; width: 33%;}
.team_img{width: 51px; height: 51px;padding:3px;border-radius: 51px; border: 1px solid #3e434e; display: inline-block;overflow:hidden;
    transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;
}
.team_img span{display:inline-block;width:43px;height:43px;line-height:normal;background:#fff;border-radius:43px;vertical-align:middle;overflow:hidden;
    transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;
}
.team_img img{border-radius:50%;vertical-align:middle;}
.team_name{color: #fff; line-height: 12px; font-size: 12px;padding-top:3px;
    transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;
}
.animate_home .team_img{
    width:34px;height:34px;border-radius:34px;
    transform:translate(46px,-41px);-webkit-transform:translate(46px,-41px);-moz-transform:translate(46px,-41px);-o-transform:translate(46px,-41px);
    transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;
}
.animate_home .team_img span, .animate_away .team_img span{
    width: 26px;height:26px;border-radius: 26px;
    transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;
}
.animate_home .team_name{
    transform:translate(-100px,10px);-webkit-transform:translate(-100px,10px);opacity:0;
    transition:all 1s ease;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;
}
.animate_away .team_img{
    width:34px;height:34px;border-radius:34px;
    transform:translate(-46px,-41px);-webkit-transform:translate(-46px,-41px);-moz-transform:translate(-46px,-41px);-o-transform:translate(-46px,-41px);
    transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;
}
.animate_away .team_name{
    transform:translate(100px,10px);-webkit-transform:translate(100px,10px);-moz-transform:translate(100px,10px);-o-transform:translate(100px,10px);opacity:0;
    transition:all 1s ease;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;
}
.time_content{float: left; width: 33%; text-align: center;}
.time{width: 80px; margin: 0 auto; background-color: #2b354a; border-radius: 5px; color: #fff; line-height: 20px; font-size: 12px;
    transition:all 0.4s linear;-webkit-transition:all 0.4s linear;-moz-transition:all 0.4s linear;-o-transition:all 0.4s linear;
}
.animate_con .time{
    transform:translate(0,-34px);-webkit-transform:translate(0,-34px);-moz-transform:translate(0,-34px);-o-transform:translate(0,-34px);
    transition:all 0.4s linear;-webkit-transition:all 0.4s linear;-moz-transition:all 0.4s linear;-o-transition:all 0.4s linear;
}
/* have text live */
.game_over{width: 60px; margin: 0 auto; color: #a1a1a4; line-height: 14px; padding-bottom:5px;margin-bottom:5px;border-bottom: 1px solid #434956; font-size: 14px;
    transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;
}
.animate_con .game_over{
    transform:translate(0,-60px);-webkit-transform:translate(0,-60px);-moz-transform:translate(0,-60px);-o-transform:translate(0,-60px);
    opacity:0;
    transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;
}
.game_score1{color: #fff; font-size: 30px;
    transition:all 0.4s linear;-webkit-transition:all 0.4s linear;-moz-transition:all 0.4s linear;-o-transition:all 0.4s linear;
}
.animate_con .game_score1{
    transform:translate(0,-54px);-webkit-transform:translate(0,-54px);-moz-transform:translate(0,-54px);-o-transform:translate(0,-54px);
    transition:all 0.4s linear;-webkit-transition:all 0.4s linear;-moz-transition:all 0.4s linear;-o-transition:all 0.4s linear;
}
.game_score2{color: #a1a1a4; line-height: 14px; font-size: 14px;
    transition:all 0.4s linear;-webkit-transition:all 0.4s linear;-moz-transition:all 0.4s linear;-o-transition:all 0.4s linear;
}
.animate_con .game_score2{
    opacity:0;
    transform:translate(0,-40px);-webkit-transform:translate(0,-40px);-moz-transform:translate(0,-40px);-o-transform:translate(0,-40px);
    transition:all 0.4s linear;-webkit-transition:all 0.4s linear;-moz-transition:all 0.4s linear;-o-transition:all 0.4s linear;
}
.play_button{display:inline-block;width:45px;height:45px;margin-top:10px;border-radius:45px;border:2px solid #fff;background:#1da664 url(/static/images/webapp/m/g_data/bn_play.png) no-repeat center center;background-size:13px 15px;}
.game_tip{width:90%;margin:0 auto;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color: #a1a1a4; line-height: 24px; font-size: 12px;}
.score_show{background-color: #161b2f; color: #a1a1a4; font-size: 12px; text-align: center; padding: 8px 0px;}

/* 秒表 */
#time_hightchart{width:100px;height:125px;margin:-32px auto -30px;}
.VSLogo{line-height:56px;font-size:26px;color:#fff;
    transition:all 0.4s linear;-webkit-transition:all 0.4s linear;-moz-transition:all 0.4s linear;-o-transition:all 0.4s linear;
}
.animate_con .VSLogo{
    font-size:20px;
    transform:translate(0,-50px);-webkit-transform:translate(0,-50px);-moz-transform:translate(0,-50px);-o-transform:translate(0,-50px);
    transition:all 0.4s linear;-webkit-transition:all 0.4s linear;-moz-transition:all 0.4s linear;-o-transition:all 0.4s linear;
}

.game_replay{background:url(bn_bg.png) no-repeat;background-size:100%;background-position:center 38px;}

/* nav */
.bottom_part_nav{ z-index: 7;width: 100%;background-color: #303341;position:relative;overflow:hidden;}
.bottom_nav_content{background-color: #303341; width: 100%; height: 31px;}
.bottom_nav_list{width: 100%; margin: 0 auto; line-height: 29px; text-align: center;}
.bottom_nav_list li{display: inline-block;}
.bottom_nav_list li a{display:block;color:#a1a1a4; font-size: 12px;margin:0 10px;padding:0 5px;}
.bottom_nav_list li.on a{color:#1da664 !important;font-size:14px;border-bottom:2px solid #1da664;}
.swiper_prev{width: 30px;height:40px;position:absolute;top:0;left:0;z-index:10;background:-webkit-gradient(linear, 30 40, 0 40, color-stop(0.14,rgba(48,51,65,0)), color-stop(0.5,rgba(48,51,65,0.6)), color-stop(1,rgba(48,51,65,1)));background:-moz-linear-gradient(right, rgba(0,0,0,0), rgba(48,51,65,1));background:-o-linear-gradient(right, rgba(0,0,0,0), rgba(48,51,65,1));}
.swiper_next{width: 30px; height: 40px;position: absolute; top:0;right:0;z-index:10;background:-webkit-gradient(linear, 0 40, 30 40, color-stop(0.14,rgba(48,51,65,0)), color-stop(0.5,rgba(48,51,65,0.6)), color-stop(1,rgba(48,51,65,1)));background:-moz-linear-gradient(left, rgba(0,0,0,0), rgba(48,51,65,1));background:-o-linear-gradient(left, rgba(0,0,0,0), rgba(48,51,65,1));}

/* bottom part */
.bottom_part{clear:both;width:100%;position:relative;overflow-y:scroll;-webkit-overflow-scrolling:touch;padding-bottom:40px;}
/*.bottom_part iframe{min-height:505px;}*/
.wuChart{box-sizing: initial;-webkit-box-sizing: initial;-moz-box-sizing:initial;-o-box-sizing:initial; width: 54px;height:54px;margin: 0 auto;border:5px solid #2b354a;border-radius: 1000px;position: relative;}
.wuChart svg{width: 100%;height: 100%;}
.wuChart span{font-size: 20px;color: #fff; position:absolute;top:49%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.not_over{background: none;}
.not_over_box{top:66%;}
/*20170915-c*/
#not_con_info .not_over_box{top:120px;}
/* guessicon.png */
.guessing_a{width: 44px;height: 44px;position: fixed;right: 10px;bottom:74px;z-index: 99;}
.guessing_a a,
.guessing_a a img{display: block;width: 44px;height: 44px;}
.refresh_btn{top:auto;bottom:30px;}

@media screen and (min-width: 374px) and (max-width: 479px) {
    .refresh_btn{width: 44px;height: 44px; background-size: 44px auto;}
    /* top part */
    .top_nav{height:52px;}
    .top_nav_left span{width:14px;height:26px;background-size:14px 26px; top: 12px; right: 8px;}
    .top_nav_center div{ top: 16px; font-size: 14px;}
    .top_nav_right span{width:28px;height:28px;margin:12px;border-radius:14px; background-size:16px 16px;}
    .top_nav_right span.top_fav{background-size:16px 16px;}

    /* center part */
    .center_time{font-size:14px;}
    .team_img{width: 62px; height: 62px;padding:4px;border-radius: 62px;}
    .team_img span{width:52px;height:52px;border-radius:52px;}
    .team_name{ line-height: 14px; font-size: 14px;} 
    .animate_home .team_img{
        width:40px;height:40px;border-radius:40px;padding:3px;
        transform:translate(50px,-48px);-webkit-transform:translate(50px,-48px);-moz-transform:translate(50px,-48px);-o-transform:translate(50px,-48px);
    }
    .animate_home .team_img span, .animate_away .team_img span{width: 32px;height:32px;border-radius: 32px;}
    .animate_home .team_name{
        transform:translate(-120px,12px);-webkit-transform:translate(-120px,12px);
    }
    .animate_away .team_img{
        width:40px;height:40px;border-radius:40px;padding:3px;
        transform:translate(-50px,-48px);-webkit-transform:translate(-50px,-48px);-moz-transform:translate(-50px,-48px);-o-transform:translate(-50px,-48px);
    }
    .animate_away .team_name{
        transform:translate(120px,12px);-webkit-transform:translate(120px,12px);-moz-transform:translate(120px,12px);-o-transform:translate(120px,12px);
    }
    .time{width: 96px;   border-radius: 6px;  line-height: 24px; font-size: 14px;}
    .animate_con .time{
        transform:translate(0,-40px);-webkit-transform:translate(0,-40px);-moz-transform:translate(0,-40px);-o-transform:translate(0,-40px);
    }
    /* have text live */
    .game_over{width: 72px;line-height:16px;padding-bottom:6px;margin-bottom:6px;font-size:16px;}
    .animate_con .game_over{
        transform:translate(0,-72px);-webkit-transform:translate(0,-72px);-moz-transform:translate(0,-72px);-o-transform:translate(0,-72px);
    }
    .game_score1{ font-size: 36px;}
    .animate_con .game_score1{
        transform:translate(0,-63px);-webkit-transform:translate(0,-63px);-moz-transform:translate(0,-63px);-o-transform:translate(0,-63px);
    }
    .game_score2{ line-height: 16px; font-size: 16px;}
    .animate_con .game_score2{
        transform:translate(0,-48px);-webkit-transform:translate(0,-48px);-moz-transform:translate(0,-48px);-o-transform:translate(0,-48px);

    }
    .play_button{ width:54px; height:54px;border-radius:54px;background-size:15px 18px;}
    .game_tip{ line-height: 28px; font-size: 14px;}
    .score_show{  font-size: 12px;  padding: 10px 0px;}

    /* 秒表 */
    #time_hightchart{width:120px;height:150px;margin:-36px auto -36px;}
    .VSLogo{line-height:68px;font-size:32px;}
    .animate_con .VSLogo{
        font-size:24px;
        transform:translate(0,-62px);-webkit-transform:translate(0,-62px);-moz-transform:translate(0,-62px);-o-transform:translate(0,-62px);
    }

    .game_replay{background-position:center 46px;}

    /* nav */
    .bottom_nav_content{  height: 38px;}
    .bottom_nav_list{  line-height: 36px; }
    .bottom_nav_list li a{ font-size: 14px;padding:0 12px;}
    .bottom_nav_list li.on a{font-size:16px;}
    .swiper_prev{width: 36px;height:48px;}
    .swiper_next{width: 36px; height: 48px;}

    /*.bottom_part iframe{min-height:606px;}*/
	.bottom_part{padding-bottom:48px;}

    .wuChart{width: 64px;height:64px;border:6px solid #2b354a;border-radius: 1200px;}
    .wuChart span{font-size: 24px; }
	/*20170915-c*/
#not_con_info .not_over_box{top:144px;}
.guessing_a{width: 52px;height: 52px;right: 12px;bottom:88px;}
.guessing_a a,
.guessing_a a img{width: 52px;height: 52px;}
.refresh_btn{bottom:36px;}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
.refresh_btn{width: 54px;height: 54px; background-size: 54px auto;}
    /* top part */
    .top_nav{height:62px;}
    .top_nav_left span{width:18px;height:32px;background-size:18px 32px; top: 14px; right: 8px;}
    .top_nav_center div{ top: 20px; font-size: 18px;}
    .top_nav_right span{width:34px;height:34px;margin: 14px;  border-radius:18px; background-size:20px 20px;}
    .top_nav_right span.top_fav{background-size:20px 20px;}

    /* center part */
    .center_time{font-size:16px;}
    .team_img{width: 76px; height: 76px;padding:5px; border-radius: 76px;}
    .team_img span{width:64px;height:64px;border-radius:64px;}
    .team_name{ line-height: 18px; font-size: 18px;}
    .animate_home .team_img{
        width:50px;height:50px;border-radius:50px;
        transform:translate(68px,-58px);-webkit-transform:translate(68px,-58px);-moz-transform:translate(68px,-58px);-o-transform:translate(68px,-58px);
    }
    .animate_home .team_img span, .animate_away .team_img span{width:38px;height:38px;border-radius:38px;}
    .animate_home .team_name{
        transform:translate(-150px,14px);-webkit-transform:translate(-150px,14px);
    }
    .animate_away .team_img{
        width:50px;height:50px;border-radius:50px;
        transform:translate(-68px,-58px);-webkit-transform:translate(-68px,-58px);-moz-transform:translate(-68px,-58px);-o-transform:translate(-68px,-58px);
    }
    .animate_away .team_name{
        transform:translate(150px,14px);-webkit-transform:translate(150px,14px);-moz-transform:translate(150px,14px);-o-transform:translate(150px,14px);
    }
    .time{width: 120px;border-radius: 8px;line-height: 30px;font-size: 18px;}
    .animate_con .time{
        transform:translate(0,-50px);-webkit-transform:translate(0,-50px);-moz-transform:translate(0,-50px);-o-transform:translate(0,-50px);
    }
    /* have text live */
    .game_over{width: 90px;line-height:20px;padding-bottom:7px;margin-bottom:7px;font-size: 20px;}
    .animate_con .game_over{
        transform:translate(0,-90px);-webkit-transform:translate(0,-90px);-moz-transform:translate(0,-90px);-o-transform:translate(0,-90px);
    }
    .game_score1{ font-size: 44px;}
    .animate_con .game_score1{
        transform:translate(0,-73px);-webkit-transform:translate(0,-73px);-moz-transform:translate(0,-73px);-o-transform:translate(0,-73px);
    }
    .game_score2{ line-height: 20px; font-size: 20px;}
    .animate_con .game_score2{
        transform:translate(0,-60px);-webkit-transform:translate(0,-60px);-moz-transform:translate(0,-60px);-o-transform:translate(0,-60px);
    }
    .play_button{ width:68px;height:68px;border-radius:68px;background-size:19px 22px;}
    .game_tip{ line-height: 36px; font-size: 18px;}
    .score_show{  font-size: 14px;  padding: 12px 0px;}

    /* 秒表 */
    #time_hightchart{width:150px;height:188px;margin:-40px auto -30px;}
    .VSLogo{line-height:84px;font-size:38px;}
    .animate_con .VSLogo{
        font-size:30px;
        transform:translate(0,-74px);-webkit-transform:translate(0,-74px);-moz-transform:translate(0,-74px);-o-transform:translate(0,-74px);
    }

    .game_replay{background-position:center 57px;}

    /* nav */
    .bottom_nav_content{  height: 47px;}
    .bottom_nav_list{  line-height: 45px; }
    .bottom_nav_list li a{ font-size: 18px;padding:0 14px;}
    .bottom_nav_list li.on a{font-size:20px;}
    .swiper_prev{width: 44px;height:60px; }
    .swiper_next{width: 44px; height: 60px;  }


    /*.bottom_part iframe{min-height:758px;}*/
	.bottom_part{padding-bottom:60px;}

    .wuChart{width: 80px;height:80px;border:8px solid #2b354a;border-radius: 1500px;}
    .wuChart span{font-size: 30px; }
	/*20170915-c*/
#not_con_info .not_over_box{top:180px;}
.guessing_a{width: 66px;height: 66px;right: 14px;bottom:110px;}
.guessing_a a,
.guessing_a a img{width: 66px;height: 66px;}
.refresh_btn{bottom:44px;}
}

@media screen and (min-width: 640px) {
    .refresh_btn{width: 72px;height: 72px; background-size: 72px auto;}
    /* top part */
    .top_nav{height:86px;}
    .top_nav_left span{width:24px;height:44px;background-size:24px 44px; top: 20px; right: 12px;}
    .top_nav_center div{ top: 26px; font-size: 24px;}
    .top_nav_right span{width:46px;height:46px;margin: 20px;  border-radius:24px; background-size:26px 26px;}
    .top_nav_right span.top_fav{background-size:26px 26px;}

    /* center part */
    .center_time{font-size:18px;}
    .team_img{width: 102px; height: 102px;padding:7px; border-radius: 102px;}
    .team_img span{width:86px;height:86px;border-radius:86px;}
    .team_name{ line-height: 24px; font-size: 24px;}
    .animate_home .team_img{
        width:68px;height:68px;border-radius:68px;
        transform:translate(92px,-78px);-webkit-transform:translate(92px,-78px);-moz-transform:translate(92px,-78px);-o-transform:translate(92px,-78px);
    }
    .animate_home .team_img span, .animate_away .team_img span{width:52px;height:52px;border-radius:52px;}
    .animate_home .team_name{
        transform:translate(-200px,20px);-webkit-transform:translate(-200px,20px);
    }
    .animate_away .team_img{
        width:68px;height:68px;border-radius:68px;
        transform:translate(-92px,-78px);-webkit-transform:translate(-92px,-78px);-moz-transform:translate(-92px,-78px);-o-transform:translate(-92px,-78px);
    }
    .animate_away .team_name{
        transform:translate(200px,20px);-webkit-transform:translate(200px,20px);-moz-transform:translate(200px,20px);-o-transform:translate(200px,20px);
    }
    .time{width: 160px;border-radius: 10px; line-height: 40px; font-size: 24px;}
    .animate_con .time{
        transform:translate(0,-68px);-webkit-transform:translate(0,-68px);-moz-transform:translate(0,-68px);-o-transform:translate(0,-68px);
    }
    /* have text live */
    .game_over{width: 120px;line-height:28px;padding-bottom:10px;margin-bottom:10px;font-size:28px;}
    .animate_con .game_over{
        transform:translate(0,-120px);-webkit-transform:translate(0,-120px);-moz-transform:translate(0,-120px);-o-transform:translate(0,-120px);
    }
    .game_score1{ font-size: 60px;}
    .animate_con .game_score1{
        transform:translate(0,-93px);-webkit-transform:translate(0,-93px);-moz-transform:translate(0,-93px);-o-transform:translate(0,-93px);}
    .game_score2{ line-height: 28px; font-size: 28px;}
    .animate_con .game_score2{
        transform:translate(0,-80px);-webkit-transform:translate(0,-80px);-moz-transform:translate(0,-80px);-o-transform:translate(0,-80px);
    }
    .play_button{ width:90px;height:90px;border-radius:90px;background-size:26px 29px;}
    .game_tip{ line-height: 48px; font-size: 24px;}
    .score_show{  font-size: 16px;  padding: 16px 0px;}

    /* 秒表 */
    #time_hightchart{width:200px;height:250px;margin:-46px auto -40px;}
    .VSLogo{line-height:112px;font-size:52px;}
    .animate_con .VSLogo{
        font-size:40px;
        transform:translate(0,-100px);-webkit-transform:translate(0,-100px);-moz-transform:translate(0,-100px);-o-transform:translate(0,-100px);
    }

    .game_replay{background-position:center 76px;}

    /* nav */
    .bottom_nav_content{  height: 62px;}
    .bottom_nav_list{  line-height: 60px; }
    .bottom_nav_list li a{ font-size: 24px;padding:0 20px;}
    .bottom_nav_list li.on a{font-size:26px;}
    .swiper_prev{width: 60px;height:80px; }
    .swiper_next{width: 60px; height: 80px;  }

    /*.bottom_part iframe{min-height:1010px;}*/
	.bottom_part{padding-bottom:80px;}

    .wuChart{width: 108px;height:108px;border:10px solid #2b354a;border-radius: 2000px;}
    .wuChart span{font-size: 40px; }
		/*20170915-c*/
#not_con_info .not_over_box{top:240px;}
.guessing_a{width: 88px;height: 88px;right: 20px;bottom:148px;}
.guessing_a a,
.guessing_a a img{width: 88px;height: 88px;}
.refresh_btn{bottom:60px;}

}
@media screen and (orientation: portrait) {
    /*竖屏 css*/
    html, body {overflow:hidden;}
}
@media screen and (orientation: landscape) {
    /*横屏 css*/
    html, body {overflow:visible;}
}
/* 解决iphone横屏时字体变大问题或者内容大小不一样 */
@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}